[2019-07-04 16:52] danglotb commented on #821
Hello @jesus-gorronogoitia

In fact, using `2.1.0` result with the reported error. This has been fixed in the recent changes on the command line.

You can specify the version `2.1.1-SNAPSHOT` to use it.

It seems like a release is needed. I'm sorry I should schedule them.

Tell me if you are still encountering the issue.

[2019-07-05 08:21] gibello commented on #822
Hi @danglotb ,

Yes, I expect generated tests to kill mutants, at least in a global STAMP perspective: Descartes considers tests that don't kill mutants as bugs - something that must be fixed by developers.

In a Descartes perspective, a test that does not kill mutants is bad - so DSpot can generate tests that STAMP tools consider bad !

Note that I use Jacoco because PitMutant generates... nothin

[2019-07-05 09:26] danglotb commented on #822
But if you use `JacocoCoverageSelector`, nothing ensure you that the amplified test methods are killing new mutants.

The fact that they are is a "collateral" benefits and can be explained by the fact that since amplified test methods increase the coverage, the amplified test methods then execute potentially more mutants, and maybe also kill them since DSpot always generate assertions.

I guess it

[2019-07-05 09:33] gibello commented on #822
Thanks @danglotb !
I did not change defaults for Descartes, so I am surprised as well not to fix detected mutations with DSpot + PitMutant.
And of course I would prefer to use DSpot in PitMutant mode : much more credible when mixing DSpot + Descartes in my use cases, so I am happy if you fix something there :)

[2019-07-05 11:32] danglotb commented on #822
I identified the problem.

There is an issue with how DSpot run PIT and how it is configured.

I'll propose a patch ASAP.

Thank you.

[2019-07-05 13:01] gibello commented on #822
Hi @danglotb,
I just tried to amplify twice: once with Jacoco, then amplify the amplified version with PitMutant.

It does not work, but there are some exceptions saying the test methods are "uncompilable" (sic) when I try to amplified an already amplified test.

Build success, with no test generated. Exceptions look like this:

[code]

[2019-07-05 13:10] danglotb commented on #822
The problem is that, back in the first day of DSpot, when I used PIT I had to specify the options `targetClasses`.

If this option was specified, PIT would mutate all the classes in the package `groupId.artifactId`

So in DSpot, I added the property `pitFilterClassesToKeep` (the old `filter`) to specify this value.

However, most users did not notice this property, I was often not specified. It re

[2019-07-05 13:21] gibello opened #825 "Double amplification (Jacoco + Pit) generates exceptions ("uncompilable" tests ?)"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: minor
- **Tool/Service/Component**: DSpot maven plugin 2.1.1-SNAPSHOT
- **Execution Environment**: Linux Ubuntu 18.04
- **Reporter**: Pierre-Yves Gibello, pyg@ow2.org

#### Description

Tried to amplify twice: once with Jacoco, then amplify the amplified version with PitMutant.

It does not work, but there are

[2019-07-05 13:22] gibello commented on #822
Done: #825

[2019-07-06 15:34] danglotb commented on #822
You should be able to improve the mutation score using DSpot since I merged #824

[2019-07-06 15:34] #822 closed

[2019-07-08 12:13] danglotb opened #826 "[Refactor] Replace all properties by a command-line option"
Hello all,

I'm opening this thread to discuss the way DSpot is configured.

For now, DSpot uses both command-line options and properties defined in a file.

Some of them are overlapping (_e.g._ if you specify `--output-path (-o)` and the property `outputDirectory`, the command-line option is taken).

In one hand, it avoids very large command-line options. On the other hand, it may confuse the use

[2019-07-08 12:36] jesus-gorronogoitia commented on #826
Hi @danglotb, thanks for this debate. IMHO I would vote for configure DSpot using a single approach, either using a properties file or command line options (but not both). Now I am using Jenkins CI for running parameterized jobs of DSpot, I  would say that command line options are more suitable for Jenkins, but I have not an strong position whether to use a properties file or a command line option

[2019-07-08 13:19] gibello commented on #826
Hi @danglotb ,
Like Jesus, I prefer command-line options (but if they supersede all config file properties, no problem).
And, as I generally use the maven plugin, I consider the plugin configuration in the pom as a kind of properties file, sufficient for my needs.

[2019-07-08 14:16] danglotb commented on #826
Hello,

Thank you for your answers.

It was my intuition: one way to configure DSpot is enough, even if this one grows a bit.

IHMO, using only properties file is not reasonable since it is difficult to customize run through scripts.

I would also vote to transform all the properties into command-line options.

I would say that command-line options are more suitable for the global usage of DSpot.

[2019-07-09 06:54] nicolabertazzo commented on #826
Hi @danglotb ,
Like @jesus-gorronogoitia and @gibello I prefer command-line options and all configuration maven pom.xml file.

[2019-07-09 07:49] danglotb commented on #826
Hi @nicolabertazzo

I was thinking that I forgot you, sorry.

Seems like the majority would prefer to avoid this properties file.

I'm gonna turn this issue as a requested refactor and work on it when I have the time.

Thank you all.

If you have more idea/suggestions on the way we should configure DSpot, do not hesitate to point them now and on this thread.

[2019-07-09 12:56] Deeplus commented on #777
Classify amplifier methods into
**Method calls**: MethodAdd, MethodRemove, MethodGenerator

**Literals**: StringLiteralAmplifier, NumberLiteralAmplifier, BooleanLiteralAmplifier, CharLiteralAmplifier, AllLiteralAmplifiers, NullifierAmplifier

**Test objects**: TestDataMutator, ReturnValueAmplifier

- Auto-correlation

- Cross-correlation

[2019-07-09 13:11] monperrus commented on #777
Could you add the absolute numbers, eg before:100 killed, after 110 killed (100-110-10%)?

[2019-07-09 13:13] monperrus commented on #777
We have 11 configurations, so we will have the results for:

* 11 single amplifier runs
* 11*11 double amplifier runs
* 11*11*11 double amplifier runs
* etc.
* (note that AllLiteralAmplifiers is already a combination by default)

[2019-07-09 13:13] danglotb commented on #777
Hello,

TestDataMutator is the old implementation of AllLiteralAmplifiers, so it should be in the category *Literals*, right?

Thank you.

[2019-07-09 13:16] monperrus commented on #777
Hi Benjamin,
Do you mean that TestDataMutatoris legacy code that can be discarded? even removed from the code base?

[2019-07-09 13:17] monperrus commented on #777
@Deeplus
Auto-correlation: do you mean within-group combination, eg all amplifiers coming from the same group?
Cross-correlation: do you mean inter-group combination, eg at least two amplifiers coming from the same group?

[2019-07-09 13:29] danglotb commented on #777
The fact is that since *TestDataMutator* is less stronger, _i.e._ it generates less amplified test methods at each iteration, it allows DSpot to obtain _better_ result because good amplified test methods are not discarded. (You know that when we have a lot of amplified test methods, we discard a part of them to have a reasonable number of amplified test methods to pursue the amplification)

So it

[2019-07-09 13:54] monperrus commented on #777
I see. What about renaming `TestDataMutator`? for instance into `FastLiteralAmplifier`?

[2019-07-09 13:55] monperrus commented on #777
That's indeed one of the hardest questions that @Deeplus is answering.

[2019-07-09 14:39] Deeplus commented on #777
Hi all,

1. @monperrus Auto-correlation means within-group combination; Cross-correlation means inter-group combination.

2. @danglotb ReturnValueAmplifier and NullifierAmplifier belong to the category _Test objects_, is this right?

[2019-07-10 16:37] andrewbwogi opened #828 "Refactor: assertgenerator"
#### Characteristics
- **Issue Type**: [refactor]
- **Reporter**: [Andrew Bwogi, bwogi.andrew@gmail.com]

#### Description

The classes in the folder [assertiongenerator](https://github.com/STAMP-project/dspot/tree/master/dspot/src/main/java/eu/stamp_project/dspot/assertgenerator) could be renamed because now they have too similar names. Methods in classes could be divided into several smaller met

[2019-07-11 11:05] danglotb commented on #828
Thank @andrewbwogi for proposing this.

Do not hesitate if you need help!

[2019-07-11 11:06] danglotb commented on #825
This has been fixed with #827
Thank you.

[2019-07-11 11:06] #825 closed

[2019-07-11 13:39] nicolabertazzo opened #829 "Can't run dspot-maven version 2.1.1 on Maven Multimodule project"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: major,crash
- **Tool/Service/Component**: dspot-maven, >2.1.0
- **Execution Environment**:  linux, ubuntu
- **Reporter**: @nicolabertazzo

#### Description
My goal is to execute dspot in all the module of a Multimodule Maven project.
I configure the parent pom.xml and execute dspot on it.
If i use dspot 2.0.0

[2019-07-11 14:09] monperrus opened #830 "add support for semantic naming of new variables"
We could use machine learning to predict good names for new variables in amplified tests

See Context2Name: A Deep Learning-Based Approach to Infer Natural Variable Names from Usage Contexts
https://arxiv.org/abs/1809.05193

[2019-07-11 14:10] monperrus commented on #647
Closed per #708

[2019-07-11 14:10] #647 closed

[2019-07-11 14:10] monperrus commented on #647
Automatic naming of new variables is in #830

[2019-07-11 14:12] monperrus commented on #830
FYI Jian Gu @ycaxgjd  is making good progress on this during his summer internship.

WIP PR to come.

[2019-07-11 14:48] SophieHYe commented on #728
Working in progress: @danglotb @monperrus,

Hi Benjamin, I was trying to integrate Dspot with Defects4J to generate new tests for the Defects4j bugs.

1. The first problem is the defects4j is built on Ant and relying on a lot of external dependencies, which means we can not use Maven/Gradle to execute the project.
2. My solution is to add new input parameters of using existing classpath string. If

[2019-07-11 14:48] danglotb commented on #829
It is because DSpot has been developed in a way that it targets one module at the time.

I'm gonna add a command-line option that specifies that you want to run DSpot on all modules.

But I'm kind of confused. I'm not sure it is the best way to use DSpot.

I did run it on all the modules of Joram, but you have a lot of errors that come up because of modules without any test.

There is some issue w

[2019-07-11 15:09] danglotb commented on #829
I just opened #831 that add new command line option for the maven plugin:

`-Drun-on-all-modules`: DSpot will be executed on all modules that he found.

However, some errors will appear.

The other way to do it, he to specify a properties file and the property `targetModule`.

[2019-07-11 16:04] nicolabertazzo commented on #829
Ok I'll try it.

Nicola

[2019-07-12 08:28] danglotb commented on #728
Hello @SophieHYe

In fact, DSpot relies on Maven or Gradle for some tasks: cleaning and compiling, retrieve the classpath, run pit, etc.

For me, it is perfectly fine to do so. However, this solution has several drawbacks:

1. DSpot uses maven to retrieve the full classpath but also clean and compile (only one time). So if we introduce the command-line option that allows users to specify a classpa

[2019-07-12 09:27] danglotb commented on #728
I just opened #834. It should do the trick ;)

[2019-07-13 09:33] SophieHYe commented on #728
@danglotb
Thanks a lot for the information.

That's true, I noticed the problem too.

Totally agree with you, it would be nice to implement an Ant builder!

It works fine and many thanks!

[2019-07-15 11:36] jesus-gorronogoitia opened #836 "DSpot tries to amplify ignored test classes, causing a NPE"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: crash
- **Tool/Service/Component**: DSpot 1.2.2-SNAPSHOT
- **Execution Environment**: Linux Opensuse Tumbleweed
- **Reporter**: Jesús Gorroñogoitia <jesus.gorronogoitia@atos.net>

#### Description
Experiments with some Supersede IF test cases crashes with following exception stack trace.
[code]
Debugging DSpot

[2019-07-15 18:36] monperrus commented on #830
Related work for the paper

S. Afshan, P. McMinn, and M. Stevenson. Evolving readable string test inputs
using a natural language model to reduce human oracle cost. In Proceedings of
the 2013 IEEE Sixth International Conference on Software Testing, Verification and
Validation, ICST ’13

G. Grano, F. Palomba, and H. C. Gall. Lightweight assessment of test-case
effectiveness using source-code-qualit

[2019-07-16 14:46] RicardoTej opened #837 "BUG: Excluded classes not working in DSpot Maven"
#### Characteristics
- **Issue Type**: bug/Misuse
- **Reproducibility**: always
- **Tool/Service/Component**: DSpot Maven, Latest
- **Execution Environment**: Linux
- **Reporter**: Ricardo Tejada ricardo.tejada@atos.net

#### Description

Using DSpot on dhell project, the properties file contains excludedClasses=eu.stamp_project.examples.dhell.MyStorageTest
but DSpot is amplifiying the two tests (

[2019-07-16 14:58] RicardoTej commented on #837
Maybe it is because of PitMutantScoreSelector

[2019-07-17 11:15] danglotb commented on #837
Hello @RicardoTej

It was a bug. I just opened #838 to fix it. Best,

[2019-07-18 03:48] Tailp commented on #802
Hi @monperrus and @danglotb  :), I was previously a bit hesitant about if I should make a scanner or modifying our repairnator project scanner so that it can also submit builds ids to dspot . In the end I decided to implement the our current k8s repairnator design fully also for Dspot in order to keep these two projects independent from each other without suffering any drawbacks. Design-wise I hav

[2019-07-18 13:10] danglotb commented on #777
Hi, @Deeplus Yeah this is the correct category.

@monperrus okay to modify the name of the amplifier `TestDataMutator` to `FastLiteralAmplifier`

[2019-07-18 13:56] monperrus commented on #801
FYI @tailp is working on this.

- could you post a temporary screenshot here?
- could you create a WIP pull-request?

[2019-07-18 14:11] Tailp commented on #801
![screenshot1](https://user-images.githubusercontent.com/33935517/61464176-2005d900-a976-11e9-8881-3ede3cb9d32d.png)
![screenshot2](https://user-images.githubusercontent.com/33935517/61464177-2005d900-a976-11e9-9616-d29337b4f8fb.png)
![screen3](https://user-images.githubusercontent.com/33935517/61464173-1f6d4280-a976-11e9-8fd3-94cbe1243217.png)
![screenshot4](https://user-images.githubusercontent.

[2019-07-19 07:45] danzone commented on #801
That's very interesting @Tailp ! Looking forward to see your progresses, and of course I will stay at your disposal in case you need some help on the code we referenced previously in this thread.

[2019-07-19 08:17] Tailp commented on #801
Thank you :). I'll contact you when that's the case .

[2019-07-19 09:12] danglotb commented on #801
Hello @Tailp

That looks very nice! Thank you.

[2019-07-19 09:17] danzone commented on #801
Another source of info: two years ago I started to design REST API to expose STAMP as a service. But the project progressed in another direction, and those APIs was abandoned. They are already available at https://app.swaggerhub.com/apis/stamp-project/stamp-api/0.2.0
The idea was to upload test cases to amplify as a zip, base 64-encoded file, and amplified tests would be sent back with the same fo

[2019-07-19 10:40] Tailp commented on #801
@danzone thank you very much. That sounds very interesting :). Currently I am stuck with another task on repairnator, but I'll surely take a look when I am back to Dspot again :) .

[2019-07-21 13:21] Tailp commented on #801
@monperrus currently I already have a fork for the dspot-Kubernetes task. So I won't be able to fork again and make a PR until that's is done :) . I'll continue working offline in the mean time.

[2019-07-23 06:35] monperrus commented on #801
Note that it's possible to have as many parallel forks and PRs as you want.

[2019-07-23 08:51] #837 closed

[2019-07-23 08:51] danglotb commented on #836
Closed with #835

[2019-07-23 08:51] #836 closed

[2019-07-23 08:52] danglotb commented on #829
Hi @nicolabertazzo

Any news about this issue?

[2019-07-23 13:23] monperrus opened #842 "add support for array input amplification with ArrayAmplifier"
it would

[code]

related to #810 and #817

[2019-07-23 14:08] monperrus commented on #801
@tailp, per our meeting today, in your own fork, you have one branch per pull request.

[2019-07-23 14:13] monperrus opened #843 "add support for pushing the amplification results in a MongoDB database"
@tailp idea during our meeting today.

add support for pushing the amplification results in a MongoDB database

this would be Java code executed at the end of the amplification process.

[2019-07-23 14:18] monperrus opened #844 "refactor: rename method amplifiers"
MethodAdd -> MethodDuplicationAmplifier

MethodGenerator -> MethodAdderOnExistingObjectsAmplifier

[2019-07-24 08:00] #844 closed

[2019-07-28 19:38] Tailp commented on #843
Hi @monperrus and @danglotb , the mongodb part is done for using submitted by this PR (#850), ready for reviewing :).
* Next is to add a restful mode option for using together with the webinterface which work in sync with nodejs server .
*Also I need to change the docker image pipeline so that it can be ran in a mode where it take in a reposlug and branch instead of a build id. Then ofcourse I mus

[2019-07-29 15:43] nicolabertazzo commented on #829
I execute some tests on joram project and it looks like they are ok.

[2019-07-30 13:04] monperrus commented on #802
closing this one to simplify @tail's backlog

actually, #544 is a prerequisite (simple parallelization)

[2019-07-30 13:04] #802 closed

[2019-07-31 16:11] andrewbwogi opened #851 "Record test suit evolution"
#### Characteristics
- **Issue Type**: feature
- **Reporter**: Andrew Bwogi, bwogi.andrew@gmail.com

#### Description

In discussions by @bbaudry and @monperrus there is an idea about creating a program that would record the evolution of a test suite. The program would run in the background of the recorded application, for instance as a maven plugin, and collect data such as:

* In response to wha

[2019-08-01 09:05] danglotb commented on #851
Hello @andrewbwogi

Looks great, but concretely, what are the data collected? The test code diffs between version?

Questions:

- How can we classify the program changes?
- What do you mean by ` state of the project`?
- What does `perform` means?

What could be also interesting is to collect:
1. the inputs data, _i.e._ literals, objects and method call used.
2. the state of the program at differen

[2019-08-01 09:09] danglotb commented on #851
Another kind of Test Evolution:[Understanding myths and realities of test-suite evolution
](https://dl.acm.org/citation.cfm?id=2393634)

And the tool developed:  [TestEvol](https://www.cc.gatech.edu/~orso/software/testevol/testevol.html).

[2019-08-02 15:10] borisbaldassari commented on #804
Can't reproduce anymore.. closing the issue.

[2019-08-02 15:10] #804 closed

[2019-08-09 09:09] danglotb commented on #801
@Tailp I merged #847

I have some questions about it:

1. Is the provided URL for the example, _i.e._ `http://35.246.191.225:3000/`, accessible from everywhere? I tried but could not reach it. (but might an issue on my side)
2. The README shows:
[code]
But what should I do after running the last command to see the web interface?

Thank you, and great job!

[2019-08-09 10:55] zemingd opened #854 "Can't run DSpot - in five open-source projects (mybait-3, mustache.java, protostuff, retrofit and logback)"
#### Characteristics
- **Issue Type**: [bug]
- **Reproducibility**: [always]
- **Severity**: [major]
- **Tool/Service/Component**: [dspot, >2.1.0]
- **Execution Environment**: [linux, ubuntu]
- **Reporter**: [@zemingd ]

#### Description

- report from the **mybait-3**
- amplify the 4 specific test classes (MetaClassTest, ParameterExpressionTest, WrongNamespacesTest, WrongMapperTest) of this proje

[2019-08-09 11:19] zemingd commented on #854
#### Characteristics
- **Issue Type**: [bug]
- **Reproducibility**: [always]
- **Severity**: [major]
- **Tool/Service/Component**: [dspot, >2.1.0]
- **Execution Environment**: [linux, ubuntu]
- **Reporter**: [@zemingd ]

#### Description

- report from the **mustache.java**
- amplify the 4 specific test classes (ArraysIndexesTest, ClasspathResolverTest, COncurrencyTest,AbstractClassTest) of this p

[2019-08-09 11:33] Tailp commented on #801
@danglotb Hi :) , ah I think my Kubernetes cluster is running on europe-west3-c, maybe it's not accessible in France. I'll tell the guy resposible for the KTH K8s cluster to deploy it so that it also works at your place.

Meanwhile you can run it yourself locally. After the readme , you'll need 3 things mongodb, activeMQ and our dspot-pipeline dockerimage (local updates not yet pushed here, relate

[2019-08-09 11:34] zemingd commented on #854
#### Characteristics
- **Issue Type**: [bug]
- **Reproducibility**: [always]
- **Severity**: [major]
- **Tool/Service/Component**: [dspot, >2.1.0]
- **Execution Environment**: [linux, ubuntu]
- **Reporter**: [@zemingd ]

#### Description

- report from the **protostuff**
- amplify the 4 specific test classes (TailDelimiterTest, LinkBufferTest, CodedDataInputTest, CodedInputTest) of this project, t

[2019-08-09 11:40] danglotb commented on #854
Hello @zemingd

Thank you for reporting this.

First, It seems like your properties file is wrong:

[code]
These both properties should point to the top-folder containing the packages of sources and test sources respectively.

In the case of classical maven project, and a fortiori `mybatis-3`, these properties are:

[code]

In the other hand, I look at the code of `MetaClassTest` and seems that th

[2019-08-09 13:39] zemingd commented on #854
#### Characteristics
- **Issue Type**: [bug]
- **Reproducibility**: [always]
- **Severity**: [major]
- **Tool/Service/Component**: [dspot, >2.1.0]
- **Execution Environment**: [linux, ubuntu]
- **Reporter**: [@zemingd ]

#### Description

- report from the **retrofit**
- amplify the 4 specific test classes (CallTest, RequestBuilderAndroidTest, CallAdapterTest, ExecutorCallAdapterFactoryTest) of th

[2019-08-09 14:03] zemingd commented on #854
#### Characteristics
- **Issue Type**: [bug]
- **Reproducibility**: [always]
- **Severity**: [major]
- **Tool/Service/Component**: [dspot, >2.1.0]
- **Execution Environment**: [linux, ubuntu]
- **Reporter**: [@zemingd ]

#### Description

- report from the **logback**
- amplify the 4 specific test classes (FileNamePatternTest, SyslogAppenderBaseTest, FileAppenderResilience_AS_ROOT_Test, Basic) of

[2019-08-09 14:11] zemingd commented on #854
Hi @danglotb ,
Thanks a lot for your kindly reply.
I have modified the `dspot.properties` following your advice, however, it doesn't work, the faults still exist.

[2019-08-09 17:06] gluckzhang commented on #801
Hi @danglotb , @monperrus , we just successfully deployed the DSpot web demo in our cluster. You could use this link to test: http://dspot.kth-assert.net/ (which should be avaliable everywhere)

As some project will keep DSpot running for quite a long time, we set up a 10 minutes timeout in the current deployment. Feel free to ping me or @Tailp if you have any questions :)

[2019-08-21 14:20] zemingd commented on #854
Hi @danglotb ,
I have fixed three of them, which are **mybatis-3**, **protostuff** and **retrofit**.

[2019-08-22 08:25] monperrus commented on #801
#847 is a milestone PR for this. we keep this issue open because we continue the work, esp with @borisbaldassari

[2019-08-22 08:25] monperrus commented on #801
It would be great to have syntax highlighting in the test cases sent over email.

[2019-08-22 12:01] danglotb commented on #854
Hello @zemingd

Sorry for my delay. What is the fix? Did you find a bug in DSpot? Or the input configuration was not correct?

Thank you.

[2019-08-22 13:16] zemingd commented on #854
Hi @danglotb
It's ok. I means that I could run this three projects by DSpot. The factor which caused runtime exception is the version of releases.

The following version are accept in my experiment.

[code]

However, when running DSpot, an interesting thing happened in project mybatis-3. For MetaClassTest, if we create the `dspot.properties` as your advice, it can not work. If we modify it as the

[2019-08-27 07:46] andrewbwogi opened #862 "Static program analysis to find test input values"
#### Characteristics
- **Issue Type**: feature
- **Reporter**: Andrew Bwogi, bwogi.andrew@gmail.com

#### Description
Currently DSpot depends on existing test input for input modification. One way to create original test input is to search the program and collect method argument values that have a static definition. These definitions can then be used to set argument values to the same methods in t

[2019-08-27 07:50] andrewbwogi commented on #842
I can take care of this issue.

[2019-08-29 11:48] #830 closed

[2019-09-04 13:38] andrewbwogi commented on #828
Closed with #859.

[2019-09-04 13:38] #828 closed

[2019-09-16 07:12] danglotb opened #866 "DSpot 2.2.0 release"
Dear all,

With the recent changes, @Tailp suggested to release DSpot.

Here the changelog:

# New features

* Web interface for DSpot.
* Dockerized dspot execution behind corporate proxy.
* Add more JSAPOptions , restful mode for web + test.
* Add support for variable naming with Context2Name.
* Initial implementation of MongodbManager.
* Add support for pushing the amplification results in a Mon

[2019-09-16 13:51] danzone opened #867 "DSpot Kubernetes support: impossible to send build id to pipeline"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: block
- **Tool/Service/Component**: DSpot 2.2.0 candidate release
- **Execution Environment**: Linux Ubuntu 19.10
- **Reporter**: Daniele Gagliardi

#### Description
When one executes python script to send a build to dspot-pipeline, he gets a Python error.

#### Steps to reproduce
Execute command `python publi

[2019-09-16 14:06] danzone opened #868 "DSpot Kubernetes support: it can't stop gracefully due to script typos"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: [always, sometimes, random]
- **Severity**: block
- **Tool/Service/Component**: DSpot 2.2.0 candidate release
- **Execution Environment**: Linux Ubuntu 19.10
- **Reporter**: Daniele Gagliardi, daniele.gagliardi@eng.it

#### Description
Once fixed #867, the whole process can't stop gracefully due to a couple of typos in `Dpipeline_wo

[2019-09-16 14:54] #868 closed

[2019-09-16 15:03] #867 closed

[2019-09-16 15:36] danzone opened #871 "DSpot Docker support: execution behind corporate proxies fails downloading from maven public repositories"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: block
- **Tool/Service/Component**: DSpot 2.2.0 candidate release
- **Execution Environment**: Any
- **Reporter**: Daniele Gagliardi, daniele.gagliardi@eng.it

#### Description
When you are behind a corporate proxy, DSpot amplification, triggered by `python publisher.py -d /queue/Dpipeline `_`pipelineid`_, fai

[2019-09-16 16:46] #871 closed

[2019-09-17 09:27] danglotb opened #876 "TEST: Context2NameTest#testContext2Name seems to be failing"
Hello,

I just found out that the test in dspot-prettifier `Context2NameTest#testContext2Name` seems to be failing.

In the shell script, the installation of required dependencies was after the `mvn test` goal. So the build the tests were not passing but the build was because the installation went fine.

In #875, I swapped the order and `@Ignore` the test method.

@jianguda could you have a look a

[2019-09-17 10:50] #866 closed

[2019-09-19 14:24] vmassol commented on #809
Hi @danglotb

Thanks. I've retested with dspot 2.2.0 and I have a new error:

[code]

Should we reopen the issue? :)

Thx

[2019-09-19 14:26] vmassol commented on #809
Execution with `-X`:

[code]

[2019-09-19 14:33] vmassol opened #878 "DSpot 2.2.0 not generating anything anymore"
Tested on `xwiki-commons-core/xwiki-commons-xml`:

[code]

dspot.properties:

[code]

Execution of `mvn dspot:amplify-unit-tests -X`:

[code]

So no error, just nothing happens and no `target/dspot` directory created...

Any idea?

[2019-09-19 17:28] danglotb commented on #878
Hello @vmassol

The plugin is called `dspot-maven` and not `dspot`.

Thus, you should run `dspot` from the topest parent, and specify which module you want to amplify. In this way, you won't have any trouble with dependencies and stuff.

Keep me updated, please.

[2019-09-19 17:30] Tailp commented on #878
Hi :) , I think our problems are related so I'll put my own output here. The error with mine is that it can't understand the args in the properties file.
[code]
dspot.properties
[code]

[2019-09-19 17:39] Tailp commented on #878
I just found out my was still working properly in comparison to previous version 2.1.0 . So please ignore my previous post .

[2019-09-19 20:22] vmassol commented on #878
ok this is weird. It means a dspot plugin exists too since maven didn't fail and I'm pretty sure this is what I was running before since I commented about it in our pom.xml:

[code]

Also in the doc it says to use "dspot" at  https://github.com/STAMP-project/dspot/tree/master/dspot-maven:

[code]

Regarding execution of dspot, I've alwas executed it from the module directory. Has this changed in v

[2019-09-20 08:10] danglotb commented on #878
Thanks, must fix that.

You can still run it from the module, but DSpot might have some troubles to gather the required dependencies, and these troubles exist from the beginning.

Did you manage to run DSpot on your module ?

Thank you.

[2019-09-20 08:20] vmassol commented on #878
I still don't understand what you meant by:

Also

I've never, ever, ran Dspot from the top level and it has always worked so I don't understand what you mean. I wouldn't even know how to do that (I don't have the proper dspot.properties file for that)!

So there's definitely something that has changed. Again, I've used the exact same dspot.properties and exact same maven command from before.

Ok

[2019-09-20 09:24] danglotb commented on #878
I neither understand.

Run some tests and seems like that there are two behaviors, depending on what it is in your `pom.xml`.

When you define the dspot-maven plugin inside your `pom.xml`, you have to type `dspot:amplify-unit-tests`, but if you type `dspot-maven:amplify-unit-tests` it does not work.

If you do not add this definition, you have to type `dspot-maven:amplify-unit-tests` and not `dspo

[2019-09-20 10:06] vmassol commented on #878
ok thanks Benjamin!

[2019-09-20 13:51] danglotb commented on #878
Just opened #879 that should fix the problem.

However, I still do not understand the `dspot` and `dspot-maven` thing...

[2019-09-20 14:28] vmassol commented on #878
BTW normally you should have used an artifactId of `dspot-maven-plugin` to follow the best practices/conventions. This allows to use just "dspot", see https://maven.apache.org/guides/plugin/guide-java-plugin-development.html and especially this part:

Maybe Maven also supports the convention ${prefix}-plugin by default?

[2019-09-20 16:02] danglotb commented on #878
Okay, thank you for the info.

[2019-09-24 09:24] #878 closed

[2019-09-24 09:24] #829 closed

[2019-09-24 09:25] #821 closed

[2019-09-24 09:26] #819 closed

[2019-09-24 09:26] #800 closed

[2019-09-24 09:41] #807 closed

[2019-09-24 09:50] danglotb commented on #762
The test GradleAutomaticBuilderTest#runPit_whenTestClassIsSpecified passes, closing...

[2019-09-24 09:50] #762 closed

[2019-09-24 11:59] borisbaldassari opened #881 "Dspot fails on project javapoet"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: major
- **Execution Environment**: Linux 4.9.0-11-amd64 #1 SMP Debian 4.9.189-3 (2019-09-02) x86_64 GNU/Linux

#### Description

Executing dspot-maven on javapoet fails. The project compiles ok (mvn package) but executing `mvn eu.stamp-project:dspot-maven:amplify-unit-tests` fails (see logs).

#### Steps to re

[2019-09-24 12:43] danglotb commented on #881
Hello @borisbaldassari

Thank for reporting this. On my side, it is able to perform the amplification.

On your traces, we can see that the problem occurs when DSpot computes the baseline of the mutation score:

[code]

The most important is `[INFO] run maven: /home/boris/Applis/apache-maven-3.6.0/bin/mvn org.pitest:pitest-maven:mutationCoverage ` meaning that DSpot is running PIT using the `pit-m

[2019-09-24 13:55] vmassol opened #883 "Still not able to generate new tests except adding assertions on XWiki"
The title says it all. Tested up till DSpot 2.1.0. Last experiment was with DSpot 2.2.0 but it failed to execute (see https://github.com/STAMP-project/dspot/issues/878).

[2019-09-24 16:02] #262 closed

[2019-09-24 16:26] danglotb commented on #883
Hi @vmassol

Do you open this issue because DSpot fails to be executed or because DSpot is not able to generate any amplified test methods that increase the mutation score?

If it the former reason, please give me more details, like the complete execution trace using the verbose mode of DSpot: `<verbose>true</verbose>`.

If it is the latter reason, I ran dspot on `xwiki-commons-xml` from a freshly

[2019-09-25 12:43] vmassol commented on #878
I confirm DSpot executes well now. Thanks! Testing to see if I can generate any test.

[2019-09-26 08:36] borisbaldassari commented on #881
Hello @danglotb!

There are indeed a couple of similar auto-generated files:
.dspot__junit5_pom.xml
.dspot_junit5_pom.xml
.dspot_pom.xml

Removed them, re-running mvn now.

Hum. I thought that when using mvn we'd use the latest published jar of dspot, strange. I'll look into that.

Thanks!

[2019-09-26 12:59] Smorka opened #889 "Hangs on Warning while testing"
#### Characteristics
- **Issue Type**: test report
- **Reproducibility**: always
- **Severity**:  block
- **Tool/Service/Component**: dspot 2.2.0 jar
- **Execution Environment**: ubuntu virtualbox
- **Reporter**: Sverre Morka, sverre.morka@tellu.no

#### Description
I am testing D-spot as part of the STAMP project. We have a library module with 77 tests, and I want to amplify them with d-spot.
I f

[2019-09-26 13:02] danglotb opened #890 "BUG: wrong check done by Dspot before the amplification on Input amplifiers"
DSpot is outputting:

[code]

Reported by @borisbaldassari

[2019-09-26 13:03] danglotb opened #891 "Bug: default value of input-ampl-distributor (the new budgetizer) is wrong."
Reported by @vmassol.

See [this](https://gist.github.com/vmassol/2f060e07ccfb2715ae2920030d6bd983).

[2019-09-26 17:55] borisbaldassari commented on #881
Fixed. I had to remove manually all the dspot-* jars from my .m2 directory, so mvn had to download it again and I'm now using dspot 2.2.0 instead of 2.0.0. Don't know why it didn't pick the latest version automatically though.

Now it builds successfully. Only one test class is generated with the default set of options, so i'll try different options.

Thanks again for the support! :-)

[2019-09-26 17:55] #881 closed

[2019-09-27 07:17] danglotb commented on #889
Hello @Smorka

According to the last line of your traces:

[code]

DSpot launched PIT to compute the mutation score. This is why it might be seen as stuck.

You can enable the verbose nodem `--verbose` to see the logs of PIT.

[2019-09-27 09:07] Smorka commented on #889
This is the output I get when including the _--verbose_ parameter

[code]

Have you seen it before? Is there any configuration I can do to proceed?

[2019-09-27 09:30] danglotb commented on #889
Hello @Smorka

Never seen this error before.

Investigating for a solution.

In the meantime, could you provide me the project on which you are executing DSpot?

Thank you!

[2019-09-27 09:34] danglotb commented on #889
Could you give more details about your installation such as the output of:

[code]

[2019-09-27 09:40] Smorka commented on #889
[code]

[2019-09-27 10:50] Smorka commented on #889
Can I send you the project code per mail?

[2019-09-27 12:01] danglotb commented on #891
I cannot reproduce this issue anymore, nor on a small example, nor on a xwiki module, using the SNAPSHOT of the current master branch (1c90bccc849da49a7bb692f60f54ee3c69244584)

Since we were working on SNAPSHOTS, my guess is that there were some states in our dependencies.

[2019-09-27 12:01] #891 closed

[2019-09-27 13:36] danglotb commented on #889
Hello,

I could run then whole amplification process locally, meaning that the problem comes from your installation (I guess).

@oscarlvp Do you know this error?

[code]

I looked on the internet but found nothing related to PIT, while on the traces it's clearly related to PIT>

[2019-09-27 14:22] danglotb commented on #889
Did you manage to launch PIT/Descartes outside of DSpot, _e.g._ typing something like `mvn org.pitest:pitest-maven:1.4.7:mutationCoverage `?

Thank you.

[2019-09-27 15:30] borisbaldassari opened #893 "DSpot displays a warning when executing on multi-module projects"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: crash
- **Tool/Service/Component**: DSpot maven 2.2.0
- **Execution Environment**: cf ci-après

[code]

#### Description

When trying to execute dspot-maven 2.2.0 on multi-modules projects, dspot fails with the following message:
[code]

Tested with `protostuff/api` and `retrofit/`. When analysing the later th

[2019-09-28 08:46] Smorka commented on #889
I get the same error as versbose when doing the ```mvn org.pitest:pitest-maven:1.4.7:mutationCoverage```

However, I'll try to install this on a windows machine and see if I get better progress.
Thank you for investigating 👍

[2019-09-30 07:13] danglotb commented on #889
Hello, could you show me your `JAVA_HOME`? Thank you.

[2019-09-30 07:38] danglotb commented on #893
Hello @borisbaldassari

For the project `protostuff` and `retrofit`, the warning is perfectly normal: there is no sources nor test sources for [`protostuff`](uhttps://github.com/protostuff/protostuff/rl) and [`retrofit/sample`](https://github.com/square/retrofit/tree/master/samples).

I tried to run it on `protostuff-api` with `mvn eu.stamp-project:dspot-maven:amplify-unit-tests -DtargetModule=pro

[2019-09-30 07:54] #890 closed

[2019-09-30 08:43] Smorka commented on #889
[code]

After setting MAVEN_OPTS to "" I am able to run the ```mvn org.pitest:pitest-maven:1.4.7:mutationCoverage```

[code]

[2019-09-30 09:08] danglotb commented on #889
Interesting, did you retry to execute DSpot with empty `MAVEN_OPTS`?

I'm not sure but It might be related to:
[code]

[2019-09-30 12:02] Smorka commented on #889
I'm still not able to run it using the jar file

[code]

However, it does execute, with a build success when using the dspot-maven plugin

[code]

[code]

provides a _BUILD SUCCESS_ after 03:46 min

[2019-09-30 12:30] danglotb commented on #889
Hello, could you provide me both traces? The one with jar and the one with maven.

BTW, it is not mandatory to modify your `pom.xml`.
You can run directly something like:
[code]

Thank you.

[2019-09-30 13:14] danglotb commented on #889
Hello @Smorka

Thank you for the traces.

So, you did manage to amplify using maven (I obfuscated the name of test classes):

[code]
Thus, there are positives results which is good.

What you can do know, is to have a look at your amplified test classes, they should be in `target/dspot/output/`.

You can also try to use input amplifiers (by default, dspot only generates new assertions, _i.e._ the

[2019-10-01 11:42] vmassol opened #896 "Don't generate *dspot_*.xml files in the source root"
Dspot generates 2 files when I test it in my modules:
* .dspot_junit5_pom.xml
* .dspot_pom.xml

They are generated at the root of the project! Which is quite bad and pollutes the sources.

It would be great if these files could be generated under target/dspot. More generally anything that DSpot generates should go there IMO.

Thanks!

[2019-10-01 12:26] vmassol opened #897 "Generated test in commons-component-default doesn't execute"
DSpot generated the following test:

[code]

When building the module it fails with:

[code]

[2019-10-01 12:32] vmassol commented on #897
What I don't understand is how can Dspot execute this test and have it kill more mutants when it doesn't execute with Maven. I guess it means there's some differences in the classpath or somewhere else?

[2019-10-01 12:41] vmassol commented on #897
The reason the test is not passing is because it's missing some component registration in components.txt. So that part is normal.

What is not normal is that DSpot considers that the generated tests is ok. It should discard it because it doesn't run...

[2019-10-01 12:43] vmassol commented on #897
FWIW to fix the test you need to modify the existing src/test/resources/components.txt and add at the bottom:

[code]

[2019-10-01 12:43] vmassol commented on #897
My guess is that it worked because when DSpot executed, it used the same test class name and it renamed it afterwards... leading to the problem...

[2019-10-01 12:47] vmassol commented on #897
Second problem. Even if we add what I mentioned at https://github.com/STAMP-project/dspot/issues/897#issuecomment-537018381 the test suite is still failing because it means registering several times the same role with the same hint!!!

So we get:

[code]

[2019-10-01 12:54] vmassol commented on #897
To actually make the generated test work you need to remove all component definitions and use the ones from ProviderTest:

[code]

[2019-10-01 13:17] danglotb commented on #897
Hello @vmassol

That is true. DSpot renames (or not if you use the flag ``) the test class just before to print it out at the end the amplification process.

We agree that the mechanism of the components comes from XWiki, and DSpot does not have to deal with it, right?

[2019-10-01 13:19] vmassol commented on #897
Well it could with some extensions I guess but yes I agree. Now, as I said above, the problem here is that it's wrong to claim victory by DSpot, leading to false positive results. Basically you shouldn't generate something that has not been tested. So either the flag you mentioned is on and Dspot should use the new test class name in its execution or it's not and dspot can use the original test cl

[2019-10-01 13:38] danglotb commented on #897
You mean that even if you set up the components correctly, you do not observe the mutations score increase reported by DSpot?

DSpot does run the test three times to obtain the assertions and PIT does also to compute the mutation score. Meaning that the test is executable, and thus should pass, right?

**ERRATUM**: I made a mistake about the flag: by default this flag is disabled, and so DSpot doe

[2019-10-01 13:51] vmassol commented on #897
It's not only about setting up the components correctly, it's about having to rewrite the test because the name of the test class can influence a lot the writing of the test.

I'll repeat what I said above: IMO when you use `--generate-new-test-class`  then DSpot should use the new name when it executes and it shouldn't rename the test class AFTER it's finished, as otherwise it generates some test

[2019-10-01 14:01] danglotb commented on #897
I'm okay to do that.

But I have a question: does the early renaming will make impossible to execute the test? We still have to add the new name to the components list, right?

[2019-10-01 14:13] danglotb commented on #896
Will take more time than I thought:

By default, it looks for a maven project at the same place than the `pom.xml`.

If we do generate the pom files into `target/dspot/`, it will look for a project in this directory, _e.g._ `target/dspot/src/main/java/` and `target/dspot/src/test/java/`.

Two way to handle this:

1. delete the generated pom files at the end of the process, but the files might rema

[2019-10-01 14:54] #842 closed

[2019-10-01 16:28] danglotb commented on #897
Just opened #899, I hope it will help.

[2019-10-02 08:26] andrewbwogi opened #900 "Wrapper object set to null causes crash"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: crash
- **Tool/Service/Component**: DSpot 2.2.0
- **Execution Environment**: Arch Linux 2019.01.01
- **Reporter**: Andrew Bwogi, bwogi.andrew@gmail.com

#### Description
DSpot crashes when it amplifies wrapper objects set to null.

#### Steps to reproduce
Set for instance `Boolean b = null;` in the test method

[2019-10-02 08:27] andrewbwogi commented on #900
I can fix this.

[2019-10-02 08:45] danglotb commented on #900
Awesome @andrewbwogi Thank you very much.

[2019-10-02 16:04] danglotb commented on #896
#898 is the first attempt. However, it seems like this is complicated to handle all the cases (even the current tests in DSpot are complicated)

I'll go for the first option, that is easier for now.

[2019-10-03 09:02] danglotb commented on #889
Hello @Smorka

Any progress?

[2019-10-03 10:33] Smorka commented on #889
Hi Benjamin.

I haven't touched it since it succeeded building. I will pick up the trail
next week.
I'll keep you posted on the progress.

On Thu, Oct 3, 2019 at 11:02 AM Benjamin DANGLOT <notifications@github.com>
wrote:

--
Sverre Morka
95231268
Software developer
*Tellu IoT AS*
www.tellu.no

[2019-10-06 07:34] monperrus opened #902 "bug: the devil may hide inside the DSpot repo"
#### Characteristics
- **Issue Type**: paranormal
- **Reproducibility**: always
- **Severity**: blocker
- **Tool/Service/Component**: dspot repo
- **Execution Environment**: world
- **Reporter**: Martin Monperrus

#### Description

The devil is in DSpot, we have 666 commits.

#### Steps to reproduce

Open https://github.com/STAMP-project/dspot/, look at the number of commit.

**Urgent action**: do

[2019-10-06 13:11] #902 closed

[2019-10-06 13:15] danzone commented on #902
Sorry @danglotb, I had to respond to @monperrus call immediately

[2019-10-08 13:52] andrewbwogi commented on #788
Hi @danglotb, I'll look into this.

[2019-10-08 15:39] danglotb commented on #788
Hello @andrewbwogi,

That would be great but I have to warn you: I'm currently preparing a HUGE pull request so we might have issue about merging here.

Thank you

[2019-10-08 15:48] danglotb commented on #788
Sorry, I should have been more specific:

My pull request is about to remove the properties file and pass all the arguments on the command line.

Also, I'm removing the singleton InputConfiguration.

It should be open by tomorrow.

Anyway, we can still resolve the merging issue after.

Thank you again, I think it is a major feature for DSpot and it would be awesome that you implement it.

[2019-10-09 07:32] danglotb opened #905 "BUG: something is wrong with the mongodb docker image"
Hello,

I'm trying to run the test locally but it seems that there is an issue with the mongodb docker image.

I run the following:

[code]

And I have the following error message:
[code]

Any ideas? @henry-lp

[2019-10-09 07:47] #900 closed

[2019-10-09 08:41] jianguda commented on #876
Hey @danglotb sorry for missing your message, I will check this later this week.

[2019-10-09 09:52] #506 closed

[2019-10-09 09:53] #651 closed

[2019-10-09 09:54] #568 closed

[2019-10-09 09:55] #538 closed

[2019-10-09 11:15] danglotb commented on #399
This is has been resolved in [STAMP-project/reneri](https://github.com/STAMP-project/reneri). Closing.

[2019-10-09 11:15] #399 closed

[2019-10-09 11:17] henry-lp commented on #905
hi @danglotb :) , this is a bug of docker , it's inside containerd to be precise .

Related issue to this - [issue 1](https://github.com/docker/for-linux/issues/552) , [issue 2](https://github.com/docker/for-linux/issues/545)  .

This problem occurs if your `systemd` (use `systemctl --version` if Ubuntu) version is 240 or higher. My is 237 and it still work for me as I just test it out some minute

[2019-10-09 12:12] danglotb commented on #905
Thank you for the pointers. I can fix my pr now.

[2019-10-09 12:12] #905 closed

[2019-10-09 22:20] #826 closed

[2019-10-12 12:54] jianguda commented on #876
Hey @danglotb
I checked and found it is not because of `Context2NameTest`
Here is my [CI result](https://travis-ci.org/orz/dspot/builds/596953699)

[2019-10-15 14:01] #897 closed

[2019-10-15 14:02] danglotb commented on #893
with recent changes, it should be fixed.

[2019-10-15 14:02] #893 closed

[2019-10-15 14:02] #883 closed

[2019-10-15 14:24] #534 closed

[2019-10-15 14:26] #543 closed

[2019-10-15 14:27] danglotb commented on #716
Closed	danglotb opened this issue on 13 Sep 2018 · 0 comments

[2019-10-15 14:27] #716 closed

[2019-10-15 14:49] #876 closed

[2019-10-15 15:06] #854 closed

[2019-10-15 15:06] #754 closed

[2019-10-18 13:25] danglotb opened #911 "[FEAT] Keep the reports at different step of the amplification"
For example, the `PitMutantScoreSelector` should keep descartes' reports (baseline, amplification and final) and output them.

[2019-10-21 10:31] Smorka opened #914 "Stopped Working"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: block
- **Tool/Service/Component**: maven plugin,
- **Execution Environment**: [platform, OS, etc]
- **Reporter**: [name, mail]

#### Description
I've done numerours tests with the dspot maven plugin, and it worked ok.
I did eight runs last friday, then today monday it doesn't work. Not even with the amplifier

[2019-10-21 11:49] danglotb commented on #914
Hello @Smorka

Which version of DSpot you are using?

[2019-10-21 12:10] Smorka commented on #914
I have this in my pom
[code]

But as I access the plugin by addressing the plugin in full, it might ignore this and take the latest from Maven Central
[code]

[2019-10-21 12:12] Smorka commented on #914
The outputs are provided [Here](https://github.com/STAMP-project/dspot-usecases-output/tree/master/Tellu/Fall2019/ModelTest-Pit-Amplifiers)

The first four are ok. Then I started up again today, and from 05 and onwards the error occurs

[2019-10-21 12:35] danglotb commented on #914
The logs provided are not complete. Could you provide the complete traces done by Dspot.

In the same time, could you enable the verbose mode by adding `-Dverbose` to your command line ?

Could you format a bit the traces ?

Thank you.

[2019-10-21 12:39] Smorka commented on #914
With the -Dverbose option, default amplifier:

[code]

[2019-10-21 12:43] danglotb commented on #914
Some tests are failing while PIT computes the mutation score.

Does `mvn test` ends with a SUCCESS?

Did you try today to re-run the others command line ? _e.g._ `mvn eu.stamp-project:dspot-maven:amplify-unit-tests -Dtest=no.tellu.lib.data.model.ModelTest` (no input-amplifier)

From the traces, the errors is not due to the input-amplifier, but rather something is wrong is your test when pit comput

[2019-10-21 12:46] Smorka commented on #914
Actually, ```mvn test``` did not result in success. Some of the test-resources were modified.
After reverting the change everything runs ok. I suppose it might have happened when I cancelled execution midway through.
Not sure.
However, I will make sure the local repo is clean for future executions.

Thanks for the help

[2019-10-21 13:56] #914 closed

[2019-10-22 08:58] andrewbwogi commented on #788
Hi @danglotb, if I understand you correctly, the task is to create a budget mechanism that breaks the amplification loop after a specified amount of time. Do we resume the iteration with whatever tests have been generated so far?

For instance, when input amplification takes too long, we would feed the finished tests we have to assertion generation. We pass along tests finished on time in a simila

[2019-10-22 09:30] danglotb commented on #788
Hello @andrewbwogi

It depends at which steps/granularity you want to introduce this time budget.

I see two granularities:
1. at the main loop: instead of a given number of iteration, the user allocates a given amount of time. If the time expires, DSpot outputs want it could found and stop.
2. at different steps of the DSpot's algorithm: input-amplification, assertion-amplification, and test-sele

[2019-11-03 18:45] andrewbwogi opened #918 "Refactor DSpot to highlight the application loop"
#### Characteristics
- **Issue Type**: refactor
- **Reporter**: Andrew Bwogi, bwogi.andrew@gmail.com

#### Description
The DSpot module can be refactored and reorganized to highlight the application loop and its stages. For this, the distance between the Main class and the loop implementation can be decreased by putting most of the code in Main, DSpot and Amplification in a Configuration class and

[2019-11-03 18:46] andrewbwogi commented on #918
I'm currently working on this.

[2019-11-08 10:29] danivb opened #919 "test-projects.properties file not found when running the provided example"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: block
 **Tool/Service/Component**: dspot, 2.2.1
- **Execution Environment**: Centos 7
- **Reporter**: Daniel Villacis, daniel.villacisbarona@harmonicinc.com

#### Description
The provided example ```--example``` cannot be executed due to ```test-projects.properties```  does not exist.
JAVA_HOME and MAVEN_HOME

[2019-11-08 11:42] danglotb commented on #919
Hello @danivb

Thank you for reporting this. I'm looking into it.

[2019-11-14 13:53] bbaudry opened #920 "update documention about StringLiteralAmplifier"
The current documentation mentions only random mutation of Strings while DSpot also handles corner cases

[2019-11-23 15:08] borisbaldassari opened #921 "Unknown Amplifiers in dspot-maven"
#### Characteristics
- **Issue Type**: documentation
- **Reproducibility**: always
- **Severity**: major
- **Tool/Service/Component**: Dspot-maven 3.0.0
- **Execution Environment**: Linux Debian 9.11

#### Description

When executing the new maven-dspot 3.0.0 goal with a set of known amplifiers it fails with the following message:

[code]

When double-checking, it seems that `MethodAdd`, `MethodGe

[2019-11-23 15:13] borisbaldassari opened #922 "DSpot fails to run analysis"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: crash
- **Tool/Service/Component**: dspot-maven 3.0.0
- **Execution Environment**: Debian 9.11

#### Description

Launching dspot on [json-simple](https://github.com/fangyidong/json-simple.git) fails:

[code]

The complete log, with the -X flag, is attached:

[dspot_json_simple_failed_verbose.txt](https://gith

[2019-11-25 10:23] danglotb commented on #918
Hello @andrewbwogi

Thank you for proposing this. Any update on your progress?

[2019-11-25 16:42] andrewbwogi commented on #918
There is a PR for the first part of the issue.

[2019-11-26 09:57] danglotb commented on #921
Hello @borisbaldassari

`MethodAdd` has been replaced by `MethodDuplicationAmplifier` and `MethodGeneratorAmplifier` has been replaced by `MethodAdderOnExistingObjectsAmplifier`.

New names have been introduced in #846. By the time, old and new names were supported, and a warning message was displayed in case you used an old name.

Thank you.

[2019-11-26 14:00] danglotb commented on #922
Hello @borisbaldassari

I identified issues around this use case: usage of `org.junit.framework.Assert` as assertions classes which were not recognized by DSpot, extension of a standard collection such as `java.util.ArrayList` which make the observations of the values ending with errors, when the user does not provide any test method name, the `Dspot-maven` plugin used a wrong default value, etc.

[2019-11-26 16:39] borisbaldassari commented on #921
Hi @danglotb ,
Thanks for the clarification, I've overlooked that.. closing the bug. Thanks again for your support!

[2019-11-26 16:39] #921 closed

[2019-11-27 13:52] danglotb commented on #922
Hello @borisbaldassari

I did manage to successfully amplify `json-simple`:

[code]

Please, retry and tell me if you can also amplify this project.

You will have to use the current SNAPSHOT version, _i.e._ `3.0.1-SNAPSHOT`:

[code]

Best.

[2019-11-29 10:22] danglotb commented on #918
Can I close this one?

[2019-11-29 10:50] #920 closed

[2019-12-01 17:12] borisbaldassari commented on #922
Hiho @danglotb , thanks for the fix, 3.0.1-SNAPSHOT works for me.
Do you plan to release it soon?
Thanks again, cheers!

[2019-12-01 17:12] #922 closed

[2019-12-01 18:10] andrewbwogi commented on #918
Hi @danglotb, let me try to reorganize the package structure before closing this.

[2019-12-02 07:23] monperrus commented on #902
FYI
GitHub satanically messing with Markdown - changes 666 to DCLXVI
https://stackoverflow.com/questions/44619165/github-satanically-messing-with-markdown-changes-666-to-dclxvi?rq=1

[2019-12-04 09:58] #918 closed

[2019-12-04 14:39] #919 closed

[2019-12-04 17:08] danglotb commented on #911
Fixed by #912

[2019-12-04 17:08] #911 closed

[2020-01-27 22:18] tomasalmeida opened #939 "Does it work with jdk 11 and Junit5?"
I am trying to configure this plugin with  https://github.com/tomasalmeida/mutant-testing/tree/feature/stamp-project, but it says jdk 11 is not supported:

[code]
errors_report.txt
[code]

[2020-02-06 09:14] danglotb commented on #939
Hello @tomasalmeida

Honestly, I never tried it using java 11 but I doubt a lot it would work.

I will try on my side and keep you updated.

Thank you.

[2020-02-06 11:36] Serranya commented on #939
I also have a problem with java 11. Im using
`env MAVEN_HOME=/opt/maven/ JAVA_HOME=/usr/lib/jvm/default mvn eu.stamp-project:dspot-maven:amplify-unit-tests -Dtest-criterion=JacocoCoverageSelector` on https://github.com/condorcat/de.serra.condorcat

I get the following errors
[code]

The lines saying `[ERROR] Pb(2) de.serra.condorcat.createballot.var cannot be resolved to a type` suggest that this

[2020-02-06 14:47] danglotb commented on #939
Hello @tomasalmeida,

In Dspot, we use by default the version `1.4.0` of PIT and [`descartes`](https://github.com/STAMP-project/pitest-descartes) as mutation engine.

However, it seems that both of them do not support Java 11.

On my side, I am able to run DSpot on your project with the following command-line, from the folder `mutant-testing/text-analysis`:

[code]

Here, I use the maven plugin of

[2020-02-11 08:39] Serranya commented on #939
Hi @danglotb do you have any news on this?

[2020-04-17 07:20] monperrus opened #946 "related work on test amplification"
In this issue, we can post recent related work

[2020-04-17 07:20] monperrus commented on #946
ConTesa: Directed Test Suite Augmentation for Concurrent Software
http://ieeexplore.ieee.org/document/8423082

[2021-07-31 09:25] mabdi opened #994 "Time limit for the demo service"
Hi,

It seems that your demo service does not enforce any time limit.
As a example, this run ([https://dspot-demo.stamp-project.eu/repo/perwendel_spark.git](https://dspot-demo.stamp-project.eu/repo/perwendel_spark.git)) has started more than two weeks ago, and it is still running.

Since it's a demo service, considering a time budget looks necessary (for example, a per job policy like 12h for each

[2021-08-02 07:23] danglotb commented on #994
Hello @mabdi

Thank you for opening this issue.

I think you are right, we should have used a time budget. I'll investigate how to solve this issue.

Best.

[2021-08-11 10:47] mabdi commented on #994
@danglotb Thanks for your response.
Can you check [the current job](https://dspot-demo.stamp-project.eu/repo/perwendel_spark.git)? or kill it manually?
It is running from 2021-05-15 (about 3 months).

[2021-08-17 11:19] mabdi commented on #946
We've submitted this work to EMSE:
Small-Amp: Test Amplification in a Dynamically Typed Language
Preprint: https://arxiv.org/abs/2108.05663
(Any feedback is greatly appreciated)

[2021-08-24 18:05] khaes-kth opened #995 "Second version path not set in README example"
Hi @danglotb

I was trying to reproduce diff test generation according to the [readme](https://github.com/STAMP-project/dspot/tree/master/dspot-diff-test-selection#use-case-example-with-dspot). I did not succeed for a while, until I debugged the code and realized the path to the second version is not set for some reason. I added the following argument and it is working now.
[code]
The complete com

[2021-08-25 07:12] danglotb commented on #995
Hello @khaes-kth

Thank you for opening this issue! In fact, the documentation is not up to date, sorry about that I'm going to fix this ASAP.

Yes, your output is correct as it lists 5 amplified tests that spot the regression.

Best regards.

[2021-08-25 11:50] khaes-kth commented on #995
Thanks @danglotb :)

[2021-10-05 13:37] danglotb commented on #995
close with #996

[2021-10-05 13:37] #995 closed

[2021-10-07 09:52] danglotb opened #1002 "[TEST] : Fix flaky test CommentTest#testAmplifierComments"
`eu.stamp_project.dspot.common.configuration.options.CommentTest#testAmplifierComments` seems to be flaky according to #1001

[2021-10-15 06:16] monperrus commented on #1002
Also flaky on Jenkins: https://ci.inria.fr/sos/job/dspot/608/console

Do you have a look at it?

[2022-05-09 12:44] firhard opened #1006 "DSpot on Defects4j dataset"
#### Characteristics
- **Reproducibility**: Always
- **Tool/Service/Component**: Defects4j 2.0, DSpot
- **Execution Environment**: macOS (Macbook M1 2020)
- **Reporter**: firhard@gmail.com (Firhard)

#### Description
Hi,

I am currently trying to run the DSpot test amplification tool on the Defects4j dataset. I have an issue where the bugs inside Compress, Gson, and Jsoup libraries are giving me a

[2022-05-09 20:38] danglotb commented on #1006
Hello @firhard

Thank you for the report.

I would say that the problem is the value you specified to the `--pit-filter-classes-to-keep`, _i.e._ `org.joda.time.field.UnsupportedDurationField`.

Here, you should specify the topest package of the targeted project, _e.g._ `org.joda.time.*`.

Please, enable the verbose mode by adding the flag `-verbose` to see the maven command line used to compute th

[2022-05-25 06:58] danglotb commented on #1006
Hello,

Sorry for the delay.

It seems that the problem comes from the fact that PIT cannot find the test classes.

From your logs, we can see the following:

[code]
In particular:
`5:19:05 PM PIT >> INFO : MINION : 5:19:05 PM PIT >> INFO : Found  0 tests` and `>> Ran 0 tests (0 tests per mutation)`.

I think that there is a clash between the PIT versions and options used in DSpot. The options use

[2022-06-06 18:24] firhard commented on #1006
Hi @danglotb,

Thank you for updating me about the `test-selector` parameter. I'm currently using MAJOR mutation testing tool to calculate the number of mutants that it has killed. Is there any reason why the `JacocoCoverageSelector` could kill more mutants than the `PitMutantScoreSelector`?

[2022-06-06 18:39] firhard commented on #1006
Hi @danglotb,

Thank you for updating me abou the `test-selector` parameter. I'm currently using MAJOR mutation testing tool to calculate the number of mutants that it has killed. Is there any reason why the `JacocoCoverageSelector` could kill more mutants

[2022-06-12 16:53] danglotb commented on #1006
Hello @danglotb,

Do you mean that the amplified tests obtained with the JacocoCoverageSelector obtain a better mutation score with MAJOR than the amplified tests obtained using the PitMutantScoreSelector?

If so, it might be explained by two reasons:
1. the mutants generated by MAJOR are different than the ones generated by [PIT](https://pitest.org/), therefore the amplified test obtained by the

[2022-06-23 12:21] RenanGreca opened #1008 "root@69b6cfda1ac4:/home# java -jar tools/dspot-3.2.0-jar-with-dependencies.jar --example log4j:ERROR setFile(null,true) call failed. java.io.FileNotFoundException: (No such file or directory)"
#### Characteristics
- **Issue Type**: [bug, feature, test report]
- **Reproducibility**: [always, sometimes, random]
- **Severity**: [feature, minor, major, crash, block]
- **Tool/Service/Component**: [name, version]
- **Execution Environment**: [platform, OS, etc]
- **Reporter**: [name, mail]

#### Description

#### Steps to reproduce

##### Properties file

[code]

##### Command Line / Options

[2022-06-27 15:19] lacinoire commented on #1008
Hey @RenanGreca ! 😊

I'm running / working on DSpot for quite a while and often have this same message in my log output, too.
(not always curiously...)
However, also does not impact the actual amplification!

Tried tracking it down a few times by now. How far I came is that it's happening when initializing the logger in the `Checker` class (which checks whether the command line arguments make sens

[2022-08-16 22:11] jose commented on #728
@danglotb, #834 does not work for me.  Taking @SophieHYe usage example on the Defects4J dataset

[code]

results in the following error

[code]

My system:
[code]

Am I executing DSpot incorrectly?  Or is this some sort of regression bug?

[2022-08-17 09:48] danglotb commented on #728
Hello,

Your command line seems correct.
DSpot is trying to instrument the `pom.xml`. However, in `JFreeChart`, it seems that the `pom.xml` is not named as expected by DSpot, _i.e._ `maven-jfreechart-project.xml `:

[code]

ATM, the name [`pom.xml`](https://github.com/STAMP-project/dspot/blob/master/dspot/src/main/java/eu/stamp_project/dspot/common/automaticbuilder/maven/DSpotPOMCreator.java#L75)

[2022-08-17 10:41] jose commented on #728
Thanks @danglotb.

Just to make sure I understand it correctly, was not the purpose of [`--full-classpath`](https://github.com/STAMP-project/dspot/blob/master/README.md?plain=1#L207) to override whatever builder is defined?

[code]

For Defects4J, in particular, I don't want DSpot to use any Maven or Gradle builder independently whether the `pom.xml` file exists (or any other `pom.xml` file named

[2022-08-17 12:39] danglotb commented on #728
Hi,

The fact is that DSpot uses an automatic builder for several purposes.

The option `--full-classpath` overrides only the
 cleaning, compilation, and gathering the project's classpath at the start.

But other tasks remain dependent on the automatic builder, such as running `pit` to obtain the mutation score.

The problem is that during the construction of the `MavenAutomaticBuilder` object, it

[2022-08-17 17:37] jose commented on #728
Many thanks @danglotb.

If DSpot relies on Maven/Grandle to, e.g., run `pit`, I fail to see how @SophieHYe was able to run DSpot on all Defects4J's bugs.  Perhaps she managed to run it only on those that do have a `pom.xml` file, e.g., the `Math` or `Lang` ones...

[2022-08-18 04:19] danglotb commented on #728
Yes, it might be it. Perhaps, @SophieHYe uses the `JacocoCoverageSelector` which does not rely on the automatic builder but on an external library, _a.k.a._ [`test-runner`](https://github.com/STAMP-project/test-runner).

[2022-11-10 14:00] verenya opened #1009 "Interview partners for research about communication in GitHub projects wanted"
Hi. My name is Verena Ebert, and I am a PhD student at the University of Stuttgart in Germany.
A few months ago, I have examined 90 GitHub projects to see what communication channels they use and how they write about them in the written documents, for example README or wiki. If you are interested in the previous results, you can find them here:
https://arxiv.org/abs/2205.01440
Your project was one