[2018-09-13 14:45] danglotb commented on #459
Since #477, the method `distinctByKey` method no longer exists. I close this issue.

[2018-09-13 14:45] #459 closed

[2018-09-14 08:47] #536 closed

[2018-09-14 09:02] andrewbwogi opened #547 "Test failures and errors"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: block
- **Tool/Service/Component**: DSpot (479f24d2b60e9329491f8ee9a1a04f438cc20190)
- **Execution Environment**: Arch Linux 4.18.6
- **Reporter**: Andrew, bwogi.andrew@gmail.com

#### Description

DSpot fails to build due to test failures and errors. These failures and errors are introduced for me in ff0badab

[2018-09-14 09:30] spookyvale opened #548 "when checkstyle fails, Maven deploy fails but Travis does not catch the error"
see Travis build #1466.

the deploy goal is run and fails (due to checkstyle errors), so the artifacts are not deployed, but still the build exits with status 0.

[2018-09-14 10:14] andrewbwogi commented on #547
Hi Benjamin! I've built the project with cleaned repository and the problems remain. A later commit (bbc96bad96cb8da4fea8feab7051c727e46340d5) introduces even more errors:

Execution trace:
[pr-545-mvn-execution-trace.txt](https://github.com/STAMP-project/dspot/files/2382897/pr-545-mvn-execution-trace.txt)

[2018-09-14 10:27] #548 closed

[2018-09-14 10:58] danglotb commented on #547
Hi @andrewbwogi
Okay, so the problem is probably due to the order of the execution of the test methods. In **DSpot**, we have always these problems because most of the test are stateful.

I'm gonna investigate to find the issue and fix it. Thank you!

[2018-09-14 13:16] danglotb commented on #547
Hi, Could please clone my fork and use the branch `update-path-of-dependencies` and retry to launch the test?

[code]

Thank you!

[2018-09-14 14:09] andrewbwogi commented on #547
This time there are 4 failures and 6 errors:

[update-path-execution-trace.txt](https://github.com/STAMP-project/dspot/files/2383610/update-path-execution-trace.txt)

[2018-09-21 09:36] spookyvale opened #551 "why compiled tests are deleted?"
I am facing a strange issue while using DSpot when I run the amplification on several test classes using `DSpot.amplifyAllTests()`.
I am using dhell as a test project.

After the amplification is performed on the first test class, the binary of the class is deleted.
(see `Dspot.amplifyTest:201`).
The point is that during the amplification of the subsequent class I get an error because the coverage

[2018-09-21 21:16] vmassol commented on #538
I don't think so since I don't have anything set up to do this automatically. And if I had it would reformat to the correct xwiki format ;)

[2018-09-24 10:32] spookyvale commented on #486
both DSpot and testrunner are not being updated. In deploy script I see the repo returns 401 - unauthorized.
I don't have means to check the account myself, sorry.

[2018-09-24 12:34] danglotb commented on #486
Hi, my credentials have been comprised. I updated stamp artifacts settings. Thank you and sorry.

[2018-09-24 12:34] #486 closed

[2018-09-24 13:39] ltboye opened #555 "Test errors building DSpot"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: major
- **Tool/Service/Component**: DSpot
- **Execution Environment**: Windows 10
- **Reporter**: Lars Thomas Boye

#### Description
mvn test on DSpot fails for me. It gives the following error several places:

java.lang.RuntimeException: spoon.compiler.InvalidClassPathException: /C:/Users/Lars%20Thomas%20Boye

[2018-09-25 08:38] #551 closed

[2018-09-25 11:29] ltboye opened #557 "--example not working"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: major
- **Tool/Service/Component**: DSpot 1.1.1
- **Execution Environment**: Windows 10
- **Reporter**: Lars Thomas Boye

#### Description
Starting to test DSpot again, I tried to run with --example as described in the readme. I get a compilation error (see below). I have JAVA_HOME pointing to a Java 8 jdk.

#

[2018-09-25 11:41] ltboye commented on #557
Same error also when trying to run on a real project.

[2018-09-25 11:55] danglotb commented on #557
It appears that your `JAVA_HOME` and maven are not properly set up:

[code]

A suggest to you to fix your maven install by making the environment variable JAVA_HOME pointing to a JDK.

After a quick look, I found a plenty solutions, _e.g._ [this](https://stackoverflow.com/questions/15279586/java-home-in-maven)

Cheers

[2018-09-25 12:04] ltboye commented on #557
As I said, JAVA_HOME points to a Java 8 jdk, so it is correct.

From mvn -version:
Apache Maven 3.5.4 (1edded0938998edf8bf061f1ceb3cfdeccf443fe; 2018-06-17T20:33:14+02:00)
Maven home: C:\Dev\apache-maven-3.5.4\bin\..
Java version: 1.8.0_172, vendor: Oracle Corporation, runtime: C:\Program Files\Java\jdk1.8.0_172\jre
Default locale: no_NO, platform encoding: Cp1252
OS name: "windows 10", version: "

[2018-09-25 12:10] danglotb commented on #555
Hello,

Could please try to run the test using the branch `danglotb/fix-win-compatibility`:

[code]

Thank you.

[2018-09-25 12:12] danglotb commented on #557
Do you have more than one maven installation? Could you please look at the values of the following environment variables: `MAVEN_HOME`, `M2_HOME`?

Sorry, read to fast.

Best.

[2018-09-25 12:33] ltboye commented on #555
The results with this is
Tests run: 167, Failures: 2, Errors: 29, Skipped: 9

(Last part of) output attached.

[mvn clean test.txt](https://github.com/STAMP-project/dspot/files/2415185/mvn.clean.test.txt)

[2018-09-25 12:40] danglotb commented on #555
Thank you.

The issue is that some paths are starting with a `/`  while it should not on windows, _e.g._ `/C:/Users/Lars%20Thomas%20Boye/.m2/repository/commons-io/commons-io/2.5/commons-io-2.5.jar`

I keep searching.

[2018-09-25 12:44] ltboye commented on #557
I do have an older maven installation on my machine (3.3.9). Should I remove it?
MAVEN_HOME is C:\Dev\apache-maven-3.5.4, which is the version I currently use. This with \bin is included in PATH.

I do not have M2_HOME. Interestingly, according to 3.5 release notes, it is no longer supported:
https://maven.apache.org/docs/3.5.0/release-notes.html

[2018-09-25 12:52] danglotb commented on #557
Could you? It will remove one of my doubt :)

https://maven.apache.org/docs/3.5.0/release-notes.html

Thank you for the pointer

[2018-09-25 13:04] ltboye commented on #557
I deleted the old maven (I don't use it any more anyway). Still the same error when trying to run dspot.

[2018-10-01 08:19] jesus-gorronogoitia opened #562 "java.lang.RuntimeException: java.lang.ClassNotFoundException: org.eclipse.emf.common.util.Uniqu eEList$FastCompare"
#### Characteristics
- **Issue Type**: bug, test report
- **Reproducibility**: always
- **Severity**: major
- **Tool/Service/Component**: DSpot latest
- **Execution Environment**: Linux Opensuse Tumbleweed

#### Description
DSpot execution on an Atos Supersede component: Model Adapter,  run with this Dspot configuration:
`-i 1 -t eu.supersede.dynadapt.modeladapter.test.ModelAdapterTest -a MethodAd

[2018-10-01 08:45] jesus-gorronogoitia commented on #562
Hi @danglotb
Thanks for your hint, I will update DSpot from GitHub and test it again.
BTW,
What is your recommendation for DSpot configuration in terms of Selectors and Amplifiers, in order to get better code coverage (and amplified tests) results?
With current configuration DSpot takes hours to complete

[2018-10-01 09:03] danglotb commented on #562
The default configuration is `PitMutantScoreSelector`. With this selector, **DSpot** will run the mutation analysis on the whole project, using all the test classes, which can be quite long.

Since the original mutation analysis is long, **DSpot** can take as input a CSV file that contains it. To obtain it, you can run PIT on your project and save the csv reports to a specific place, (_e.g._ at th

[2018-10-01 09:56] jesus-gorronogoitia opened #563 "Exception in thread "main" spoon.SpoonException: Cannot resolve type erasure of the type parameter reference, which is not able to found it's declaration"
#### Characteristics
- **Issue Type**: bug,  test report
- **Reproducibility**: always
- **Severity**: major,
- **Tool/Service/Component**: Dspot latest
- **Execution Environment**: Linux Opensuse Tumbleweed
- **Reporter**: Jesús Gorroñogoitia <jesus.gorronogoitia@atos.net>

#### Description
DSpot executed on an Atos Supersede Adapter component with runtime dspot configuration:
-i 1 -t eu.supersed

[2018-10-01 10:44] jesus-gorronogoitia opened #564 "DSpot: CloverCoverageSelector: Some test(s) failed during computation of coverage: java.lang.RuntimeException: java.util.concurrent.TimeoutException"
#### Characteristics
- **Issue Type**: bug, test report
- **Reproducibility**: always
- **Severity**: major
- **Tool/Service/Component**: DSpot Latest
- **Execution Environment**: Linux Opensuse Tumbleweed
- **Reporter**: Jesús Gorroñogoitia <jesus.gorronogoitia@atos.net>

#### Description
When Dspot is executed with CloverCoverageSelector on Atos Supersede Model Adapter component (see #562 for de

[2018-10-02 12:31] danglotb commented on #557
Hi @ltboye

Could you retry and copy/paste the full logs of the execution? I added some logs.

Since I cannot reproduce on my side the errors, it is complicated for me to understand what is happening.

[2018-10-02 12:46] danglotb commented on #564
Hi @jesus-gorronogoitia

Yes, it is the command line option: `--timeOut` but it seems that you have already increased it.

The current failure comes from JaCoCo. In fact, the `CloverCoverageSelector` is using JaCoCo to compute the global coverage of the project, in addition to the coverage per test.

Are able to run JaCoCo on the project?

[2018-10-02 12:48] jesus-gorronogoitia commented on #564
Hi @danglotb do you mean to run DSpot with JacocoCoverageSelector? Yes, in previous Dspot runs I used Jacoco, not facing this problem. Or do you mean to run Jacoco alone to compute code coverage, as I did with Clover?

[2018-10-02 12:50] danglotb commented on #563
Hi @jesus-gorronogoitia

In order to investigate, I need to run myself **DSpot** on your project.

However, I tried to build [dyn_adapt](https://github.com/supersede-project/dyn_adapt):
[code]

But I have the following errors:

[code]

Where can I find these dependency?

Thanks.

[2018-10-02 12:51] danglotb commented on #562
These bugs persist, or we must follow on #563? If so, I would close this one.

[2018-10-02 12:52] danglotb commented on #457
I consider this issue too old and I close it. If you have new troubles, reopen it or open a new Issue. Thank you.

[2018-10-02 12:52] #457 closed

[2018-10-02 12:53] ltboye commented on #557
Sure, this is after building the latest from master:

2018-10-02 14:48:25,120 INFO eu.stamp_project.testrunner.EntryPoint - Path to runner Classes: E:\Dev\stamp\dspot\dspot\target\dspot.jar
2018-10-02 14:48:25,120 INFO eu.stamp_project.testrunner.EntryPoint - E:\Dev\stamp\dspot\dspot\target\dspot.jar
2018-10-02 14:48:25,120 INFO eu.stamp_project.testrunner.EntryPoint - E:\Dev\stamp\dspot\dspot\tar

[2018-10-02 12:56] jesus-gorronogoitia commented on #563
Hi @danglotb Setting up this project won't be possible for you, at least to run the tests, because they needs to access to services in a server that it is only accessible from Atos (due to strict Atos policies, I am sorry). So, if you need only to setup the problem, I can prepare instructions and required artefacts, but if you need to run the test, that won't be possible. That's why I suggested yo

[2018-10-02 12:58] jesus-gorronogoitia commented on #562
I guess so, I just change the DSpot configuration following your suggestions, but I did not check it again with the configuration used in the report. I will test it again and report.
These days I am attending another project meeting, so it will take me some time to complete the tests.

[2018-10-02 13:03] danglotb commented on #564
I meant this:

But if you did with the `JacocoCoverageSelector`, it is not related to JaCoCo but the usage of JaCoCo by the `CloverCoverageSelector`.

[2018-10-02 13:10] danglotb commented on #557
I am sorry, but I don't know.

Is it possible that maven does not find its maven home because you are executing **DSpot** on `E:` and maven is installed on `C:`?

I ran out of ideas, I am sorry.

[2018-10-02 13:12] danglotb commented on #563
Since the error occurs during the instrumentation, I can skip execution of tests to try to fix the problem.

Please, provide me the instructions and required artifacts to set up the project. Thank you.

[2018-10-02 13:17] ltboye commented on #557
I will try to move DSpot to C:.

Have you verified this version of DSpot working on Windows 10?

[2018-10-02 13:48] jesus-gorronogoitia commented on #564
Anyway, I will configure Jacoco in pom.xml to compute code coverage but its own and give you more insights.

[2018-10-02 13:49] jesus-gorronogoitia commented on #563
Ok, I will be preparing the material and documentation as soon as possible. I will keep you informed.

[2018-10-03 07:58] jesus-gorronogoitia commented on #563
Hi @danglotb I've prepared some [notes](https://docs.google.com/document/d/1iOPG-yRP4rB1mhBj9mCEwJ4iZYe2z4VZtdDbr9YdcCQ/edit#) to build the Supersede Model Adapter component. I've tested them with a clean Maven repository, so these instructions should work for you. Let me know, please.

[2018-10-03 09:28] jesus-gorronogoitia commented on #564
Hi @danglotb
I've instrumented our component using Jacoco. I get the report without problems, using following Maven configuration:
[code]
There is only an exception triggered complaining of a long method:
[code]
but not any timeout exception.

[2018-10-07 15:55] andrewbwogi commented on #563
Hi @jesus-gorronogoitia,

I'm trying to reproduce the problem but I run into errors in step 3 of your instructions. YAFMT compiles but not Supersede dynamic adaptation plugins. Using a clean local Maven repository and having run installPom.sh in both cz.zcu.yafmt.configuration and eu.supersede.dynadapt.configuration, buildEclipseDependencies.sh gives the following kind of errors:

[code]
All error

[2018-10-08 08:13] jesus-gorronogoitia commented on #563
Hi @andrewbwogi
Please, tell me the Maven version you are using and your OS. I followed the given instructions in a clean Maven installation and it worked well for me, so I will do it all over again. I will keep you informed.
Regards
Yosu

[2018-10-08 10:06] jesus-gorronogoitia commented on #563
Hi @andrewbwogi
I've just test it again using a clean Maven repository and Maven  3.3.9 on Linux, without any trouble.
I assume you are blocked in step 3.

I've just done this:
`git clone https://github.com/supersede-project/dyn_adapt.git -b stamp-baseline`
This creates the folder $dyn_adapt. In next steps replace $dyn_adapt with the path to that folder:
[code]
I am going to try again with latest

[2018-10-08 12:06] jesus-gorronogoitia commented on #563
Hi @andrewbwogi I've fixed this problem, updating the Tycho plugin we use to build the software. No, it works well with Maven 3.5.4. Please pull the repository and try again.

[2018-10-11 12:34] jesus-gorronogoitia commented on #564
Hi @danglotb I've tested DSpot with Clover selector in another Atos component, and I also get the same java.lang.RuntimeException: java.util.concurrent.TimeoutException. However, I can compute the complete Clover analysis using the Clover plugin for Maven.
I am going to try DSpot with Jacoco selector, and then with PIT one.

[2018-10-11 12:35] jesus-gorronogoitia commented on #564
Despite this error, Dspot keeps working, so I will wait to it to complete the job.

[2018-10-11 15:10] jesus-gorronogoitia opened #566 "Some test(s) failed during computation of coverage"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always,
- **Severity**: block
- **Tool/Service/Component**: DSpot latest version from sources
- **Execution Environment**: Linux CentOS 7
- **Reporter**: Jesús Gorroñogoitia <jesus.gorronogoitia@atos.net>

#### Description
I am having problems when running DSpot in Atos Supersede IF component, because some tests (which works well wi

[2018-10-11 15:20] jesus-gorronogoitia commented on #566
Looking at DSpot documentation I also saw the option to pass JVM arguments in dspot.properties, so I added a line like this:
`jvmArgs=['-Xmx2048m','-Xms1024m','is.admin.user=admin','is.admin.passwd=$2pRSid#']`
but it didn't work

I wonder why, because mvn test works quite well. Also when I compute the Clover coverage using Maven,

[2018-10-12 14:12] andrewbwogi commented on #563
I managed to build the project successfully with Maven 3.3.9 but with Maven 3.5.4 I still get the same error.

[2018-10-12 15:44] andrewbwogi commented on #547
Changing the default pit version to 1.3.0 does not remove the above errors and failures when running mvn test. The commit that used to build successfully (d062b3d) no longer builds. Is it some dependency that breaks the tests? I'll try tracking down the problem.

[2018-10-13 08:45] fduminy opened #567 "Preserve source code formatting of modified test classes"
in my case, it's adding an empty line after each field declaration (there was none before).

[2018-10-13 08:53] fduminy opened #568 "Use static imports in generated/modified test classes"
In my case, the generator has remove all my ```import static``` in a modified test class.

original/added methods contains now things like Mockito.when and ArgumentMatchers.argThat, which I don't want to have. That's same for non-test-related static imports.

The source code generator/modifier should use ```import static``` as much as possible, and add ones if necessary.

[2018-10-13 09:02] fduminy opened #569 "Source code generator should use assertj"
IDSpot should be able to use assertj assertions instead of junit assertions, especially when existing test classes are using assertj (with or without ```JUnitSoftAssertions```).

A new interface should probably be added to allow using multiple assertion engines (junit, assertj ..).

[2018-10-15 08:13] jesus-gorronogoitia commented on #563
Uhm, I will double check, It worked for me. Anyway, you succeeded on building the project, so I guess you can investigate what's going on when using DSpot on it.

[2018-10-15 10:07] jesus-gorronogoitia commented on #566
Hi, in order to not get blocked with this, I've modified the source code of our IF component so it takes for a properties file located in the classpath the same account it was expecting from the JVM properties

[2018-10-15 13:44] jesus-gorronogoitia opened #570 "DSpot block on Atos Supersede IF use case during instrumentation"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: block
- **Tool/Service/Component**: DSpot latest version built from sources
- **Execution Environment**: Linux CentOS 7
- **Reporter**: Jesús Gorroñogoitia
#### Description
DSpot stop working (but it doesn't quit) during (apparently) the instrumentation phase.
Dspot was executed in Supersede IF component targe

[2018-10-16 08:57] danglotb commented on #570
Hi @jesus-gorronogoitia

I'm gonna look if the exclusion works well. Keep you update.

[2018-10-16 09:20] danglotb commented on #566
Hi @jesus-gorronogoitia

Sorry for the delay, I'm gonna investigate this.

It seems that the JVMArgs are not passed to the JVM that executes the test.

Thank you.

[2018-10-16 09:35] danglotb commented on #566
In fact, you could sets up the JVMArgs but these were not used at all.

#572 should Fix it.

Be careful, I introduced a new usage of the JVMArgs:

Thank you.

[2018-10-16 09:42] vmassol commented on #256
@danglotb hi, I noticed https://github.com/STAMP-project/dspot/commit/54dcac21a3044ceb26b1e0317f534313fc0855d9 Does it mean DSpot now supports JUnit5 or is this not finished yet?

[2018-10-16 09:45] danglotb commented on #256
HI @vmassol

It should support JUnit5, or at least, convert the `@Test` of JUnit5 to a `@Test` of JUnit4.

**DSpot** will output JUnit4 test method(s).

[2018-10-16 09:50] danglotb commented on #568
Hi @fduminy

This issue is more related to [Spoon](https://github.com/INRIA/spoon), the dependency that builds, analyze, transforms and print out the java model.

I'll look further on this.

[2018-10-16 09:50] vmassol commented on #256
Ok so I doubt it will work in the majority of cases

[2018-10-16 09:50] danglotb commented on #567
Hi @fduminy

Same #568, I think this issue is related to Spoon.

[2018-10-16 09:51] vmassol commented on #256
There's no easy conversion of JUnit5 to JUnit4. Will fail in most cases for xwiki.

[2018-10-16 09:51] vmassol commented on #256
So we cannot say that JUnit5 is supported yet I think.

[2018-10-16 09:51] vmassol commented on #256
Anyway we'll try and report issues. Thanks!

[2018-10-16 11:40] tmortagne opened #573 "The Maven mojo does not seems to work"
When I try to use DSpot Maven plugin with module https://github.com/xwiki/xwiki-commons/tree/master/xwiki-commons-core/xwiki-commons-crypto/xwiki-commons-crypto-common I get the following exception:

[code]

Here is the complete log (with verbose=true):

[code]

[2018-10-16 12:28] tmortagne commented on #573
OK thanks :)

[2018-10-16 12:44] #573 closed

[2018-10-16 14:10] tmortagne opened #575 "Tests generated by DSport decreased the mutation score of the module"
Version: caba4a708b387f8dca2211f44242a7fa90026a08
Command: `java -jar ~/.m2/repository/eu/stamp-project/dspot/1.1.1-SNAPSHOT/dspot-1.1.1-SNAPSHOT-jar-with-dependencies.jar --path-to-properties dspot.properties`

The tests generated by DSpot for the module https://github.com/xwiki/xwiki-commons/tree/master/xwiki-commons-core/xwiki-commons-crypto/xwiki-commons-crypto-common actually decreased the Mu

[2018-10-16 14:12] tmortagne opened #576 "Misssing variable in a generated test"
DSport generate the following test:

[code]
The variable `jane` is not defined, in the original test it's defined right after `john` variable.

See https://github.com/tmortagne/dspot-usecases-output/tree/master/xwiki/2018-16-16-commons-crypto-pkix for more details.

[2018-10-16 14:12] tmortagne opened #577 "Generated test prefix all static variables with current class name"
Here is an extract of a test class generated by DSpot:

[code]

It does not make much sense to prefix all the static variables with the current class name.

See https://github.com/tmortagne/dspot-usecases-output/tree/master/xwiki/2018-16-16-commons-crypto-pkix for more details.

[2018-10-16 14:48] jesus-gorronogoitia commented on #570
Hi @danglotb I've pulled Dspot code from GitHub, compiled it and tested the new DSpot with the same configuration I used when I reported this issue. I still get that all tests executed (despite they all excepting the target test class have been excluded in the dspot.properties file) and the same exception triggered:
`java.lang.LinkageError: loader constraint violation: loader (instance of sun/misc

[2018-10-16 14:50] jesus-gorronogoitia commented on #570
Can you add a log in DSpot informing of the test classes that will be excluded, so we can check whether or not this exclusion it managed? I also wonder if my way to use wildcards for excluding test classes is correct:
`excludedClasses=eu.supersede.integration.api.adaptation.proxies.test*,eu.supersede.integration.api.analysis.proxies.test*,eu.supersede.integration.api.datastore.proxies.test*,eu.sup

[2018-10-16 14:54] danglotb commented on #577
Duplicated with #568

[2018-10-16 15:09] danglotb commented on #570
According to this [test](https://github.com/STAMP-project/dspot/blob/master/dspot/src/test/resources/sample/sample.properties#L8), the wildcard is working.

Yes, I can do that. Also, I would like that you provide me the logs of the execution (after updating **DSpot**)

Thank you.

[2018-10-16 15:10] tmortagne commented on #577
Well it does not have much to do with import static since it's about local static fields but maybe it's the same cause ?

[2018-10-16 15:54] jesus-gorronogoitia commented on #570
See execution [logs](https://github.com/STAMP-project/dspot-usecases-output/blob/master/atos/supersede/IF/DSpot/CloverCoverageSelector/AllLiteralAmplifiers:MethodGeneratorAmplifier:ReturnValueAmplifier:NullifierAmplifier/201810161639/dspot.log)

[2018-10-17 07:55] MaelAudren opened #578 "Exception thrown when using dspot with Gradle automatic builder"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**:  block
- **Tool/Service/Component**: dspot-1.1.0-jar-with-dependencies.jar
- **Execution Environment**: linux
- **Reporter**: Mael Audren, mael.audren@activeeon.com

#### Description

When using gradle automatic builder on the catalog project the following exception is thrown:
[code]

#### Steps to reproduce
C

[2018-10-17 08:00] danglotb commented on #575
Okay, but **DSpot** does not use the configuration in your `pom.xml`.

[2018-10-17 08:02] danglotb commented on #578
Hi @MaelAudren

Thank you for reporting this issue. I'm gonna investigate on this.

[2018-10-17 08:55] vmassol opened #579 "Date issue with auto committing DSpot generated tests"
I just want to raise a use case. On the XWiki project we've been wanting to use the following strategy for DSpot:
* Have a jenkins pipeline job that would execute either regularly or whenever there's a commit and run Dspot, and commit the generated tests in the source tree.

Today, we've just found a DSpot-generated test that would lead to a "flicker" if this strategy was followed: the original te

[2018-10-17 09:10] tmortagne commented on #575
I understand, just indicated where the mutation score I indicated is coming from.

[2018-10-17 09:14] tmortagne commented on #575
See descartes-before.zip and descarte-after.zip in https://github.com/STAMP-project/dspot-usecases-output/tree/master/xwiki/2018-10-16-commons-crypto-common.

[2018-10-17 09:17] vmassol commented on #575
@danglotb ok I didn't realize/know that Dspot was using PIT without descartes. I was actually considering that it was the default since Dspot/Descartes are both in STAMP and that Descartes is what we use for STAMP. From now on we'll run Dspot on XWiki by specifying the `--descartes` flag. Thx

[2018-10-17 09:32] danglotb commented on #575
@tmortagne The result in the zips indicate that the amplification increase the mutation score by 1% and increase the number of mutant covered by 2. There is an error? Did inverse both reports?
Also, I suggest to use CSV reports, which give the state on mutants that created errors. You can compare these errors between runs, to ensure that you have at least the same number, and thus compare both res

[2018-10-17 09:32] danglotb commented on #579
What do you mean by "mutate"?

You mean that **DSpot** generated assertions based on an object that represents the current date?

If so, it is an issue in fact.

We have to implement a blacklist on objects to avoid such assertions and assertions based on others problematic value, such as absolute paths.

[2018-10-17 09:36] vmassol commented on #579
I haven't seen the test since it's Thomas who did it but he told me that the new generated test had some comparison with today's date hardcoded.

[2018-10-17 09:54] tmortagne commented on #579
See https://github.com/STAMP-project/dspot-usecases-output/blob/master/xwiki/2018-10-16-commons-crypto-pkix/org/xwiki/crypto/pkix/internal/BcX509CertificateGeneratorFactoryTest.java#L199.

The test is validating the certificate date using assertEquals for each getMonth, getHours, etc. of the date which does not work for a very long time :)

[2018-10-17 11:06] ltboye commented on #557
Hi @danglotb

Looking at this issue again, I have found two suggestions which may be worth trying.

One is to run Maven with -Dtools_jar_location <path of tools.jar>

The other is to add this configuration to the maven-compiler-plugin in the pom:
<configuration>
    <executable>path to javac.exe</executable>
</configuration>

Is it possible for me to try these things by modifying the DSpot source?

[2018-10-17 11:11] vmassol opened #580 "Use Descartes by default"
Instead of PIT.

See https://github.com/STAMP-project/dspot/issues/575#issuecomment-430553827

[2018-10-17 11:11] vmassol commented on #575
@danglotb ok thanks for the explanation, I've created https://github.com/STAMP-project/dspot/issues/580

[2018-10-17 11:13] tmortagne commented on #575
I rebuilt it today without checking the result and indeed it changed. I got 69% several times yesterday.

I just rebuilt it again and got 70% this time. Looks like the calculation is not very stable.

[2018-10-17 11:14] tmortagne commented on #575
Anyway since it's not the same criteria you can probably close this issue as not very accurate.

[2018-10-17 11:31] danglotb commented on #578
Hi @MaelAudren
I found a bug and fixed in #581
However, it seems that the GradleAutomaticBuilder does not work very well and require some debugging.
Since I did not developed it, I may need some time to do this.

[2018-10-17 12:20] MaelAudren commented on #578
Wow thanks for the quick answer @danglotb . I'll test the fix when it will be merge.

[2018-10-17 12:33] monperrus commented on #578
AFAIR, this is a nice contribution by Daniele. @danzone could you debug this one?

[2018-10-17 12:51] #575 closed

[2018-10-17 12:59] danglotb commented on #557
Hi @ltboye

I am not sure that I understand your solution.

But, if you want to add an option in the maven goals you can have a look to the `eu.stamp_project.automaticbuilder.MavenAutomaticBuilder` class.

More precisely, the method [`runGoals()`](https://github.com/STAMP-project/dspot/blob/master/dspot/src/main/java/eu/stamp_project/automaticbuilder/MavenAutomaticBuilder.java#L238) which the meth

[2018-10-17 14:06] danglotb opened #582 "Release of DSpot 1.2.0"
since Spoon has been release: INRIA/spoon#2489, we can release **DSpot**.

# HIGHLIGHTS

* Default mutation engine: In the context of STAMP,  **DSpot** uses now **Descartes** as a default mutation engine (former command line option: `--descartes`). This introduced a new command line option to switch to the default pit mutation engine, _i.e._ `gregor` with the following command line option: `--greg

[2018-10-17 14:10] danglotb commented on #582
Will wait for  #578, #579 and #580

[2018-10-17 14:36] vmassol opened #584 "Failure to run dspot with --descartes on xwiki-commons-component-default"
Built dspot from sources just now and executed the following in `xwiki-commons/xwiki-commons-core/xwiki-commons-component/xwiki-commons-component-default`:

[code]

And got:

[code]

[2018-10-17 14:41] vmassol commented on #584
FTR it works fine with `java -jar /Users/vmassol/dev/dspot/dspot/target/dspot-1.1.1-SNAPSHOT-jar-with-dependencies.jar --path-to-properties dspot.properties --verbose --generate-new-test-class --with-comment` so the issue is `--descartes`.

[2018-10-17 14:42] vmassol commented on #584
@danglotb I'm a bit stuck now for measuring KPIs for STAMP. Would be great if you could look at this. Thx

[2018-10-17 14:52] vmassol opened #586 "Generated tests with jacoco selector doesn't compile"
command line: `java -jar /Users/vmassol/dev/dspot/dspot/target/dspot-1.1.1-SNAPSHOT-jar-with-dependencies.jar --path-to-properties dspot.properties --test-criterion JacocoCoverageSelector --verbose --generate-new-test-class --with-comment`

Executed in `xwiki-commons/xwiki-commons-core/xwiki-commons-component/xwiki-commons-component-default`

Generates a AmplEmbeddableComponentManagerTest test cas

[2018-10-17 14:54] vmassol commented on #586
Missing `EmbeddableComponentManager ecm = new EmbeddableComponentManager();`.

[2018-10-17 14:55] vmassol commented on #586
Original test:

[code]

[2018-10-17 14:56] vmassol commented on #586
Seems like a pretty important bug.

Also I don't understand how DSpot could have executed this test... It should have failed

[2018-10-17 15:04] vmassol commented on #586
And there are other compile errors such as:

[code]

"impl" and "ecm.getInstance(AmplEmbeddableComponentManagerTest.Role.class).getComponentDescriptor();" are not compiling

[2018-10-17 16:23] vmassol opened #587 "New selector to optimize for both coverage and PIT/descartes"
I've tested with the jacoco selector in the hope to get a better coverage increase than with the default PIT selector.

Unfortunately I hit https://github.com/STAMP-project/dspot/issues/586. I’ve manually fixed the tests and remove those that didn’t pass (2 that didn't pass). And I got an increase of +0.18% jacoco coverage increase and -2% descartes mutation score…

There are 2 problems here:
1) I

[2018-10-17 16:31] vmassol opened #588 "Clover selector doesn't generate any test for xwiki-commons-component-default"
I tried the clove selector on `xwiki-commons/xwiki-commons-core/xwiki-commons-component/xwiki-commons-component-default` with `java -jar /Users/vmassol/dev/dspot/dspot/target/dspot-1.1.1-SNAPSHOT-jar-with-dependencies.jar --path-to-properties dspot.properties --test-criterion CloverCoverageSelector --verbose --generate-new-test-class --with-comment` and was surprised that it didn't generate any te

[2018-10-17 16:55] danglotb commented on #587
Did you verify the number of errors?
Did you run the original test suite + the amplified test suite?

We can imagine in fact. But I see two major problems:
1. It transforms the problem into a multi-objective and so we have to deal with the problem of maximizing them (compute the pareto front for instance).
2. It will require to run even more the amplified tests, and so increase the execution time

[2018-10-17 16:56] danglotb commented on #588
Yes, it might be the explanation but it can be also a bug in the CloverSelector.

[2018-10-17 18:05] danglotb commented on #584
It should be fixed after #589 will be merged. Please if the problem persists, reopen this issue.

[2018-10-17 20:35] danglotb commented on #586
The error come from the minimization of **DSpot**, which aims at reducing the number of statements by removing statements judged useless.

I'm gonna disabled it. I think it is not necessary for now.

[2018-10-17 20:43] #537 closed

[2018-10-17 20:45] danglotb commented on #586
#590 should fix the compilation problems.

After the merge, please pull and retry.

If you are still in trouble, please update me.

@assadOW2 You should also pull and retry, see if your compilation problems are removed.

[2018-10-18 08:09] vmassol commented on #584
This is definitely not working and is now causing 2 problems:
1) Dspot modifies my pom.xml ! It added 2 lines:

`<dependency><groupId>org.pitest</groupId><artifactId>pitest-maven</artifactId><version>1.4.0</version></dependency><dependency><groupId>eu.stamp-project</groupId><artifactId>descartes</artifactId><version>1.2.4</version></dependency>`

and

`<plugin><groupId>org.pitest</groupId><artifac

[2018-10-18 08:32] #533 closed

[2018-10-18 08:50] #579 closed

[2018-10-18 09:05] danglotb commented on #584
Do you know how to run Descartes without modifying the `pom.xml`?

I did but I probably don't have the same state than yours.

Did you modify your `pom.xml` for instance?

[2018-10-18 09:20] vmassol commented on #584
What is not good is to leave the change after DSpot finishes executing. It's not great that you need to modify it during execution but at least if put it back at the end it's more acceptable.

Right now if your run Dspot and then run "mvn clean install" on this module you'll see it fails because of what Dspot changed in the pom.xml....

I've on master without any change so you must have the same a

[2018-10-18 09:29] ltboye opened #592 "Error building latest DSpot"
#### Characteristics
- **Issue Type**: building
- **Reproducibility**: always
- **Severity**: block
- **Tool/Service/Component**: DSpot
- **Execution Environment**: Windows 10, Maven
- **Reporter**: Lars Thomas Boye

#### Description
Pulling the latest and trying to build with mvn compile today, it fails to resolve one dependency. This used to work. I would like to be able to build, to try to modi

[2018-10-18 10:05] danglotb commented on #584
Yes, I though I did, but the call to the corresponding method has been removed. #593 should fix this.

Okay, I don't remember why. Anyway, #593 makes DSpot do not introduce this new dependency.

I ran several time on the concerned module of xwiki, and DSpot completed its execution.

I already saw this errors quite often. @andrewbwogi has this error and we figure out that the `history` of PIT, that

[2018-10-18 10:15] vmassol commented on #584
Thanks, I've git pulled and rebuilt dspot (with `mvn clean install -DskipTests`) and tried again and same results (pom.xml is still modified and same error with "Illegal base64 character 3c").

I'm running with `java -jar /Users/vmassol/dev/dspot/dspot/target/dspot-1.1.1-SNAPSHOT-jar-with-dependencies.jar --path-to-properties dspot.properties --descartes --verbose --generate-new-test-class --with-

[2018-10-18 10:40] tmortagne opened #594 "ArrayIndexOutOfBoundsException: 2 when trying to use Eclipse plugin"
On a project I do `right click` -> `STAMP` -> `DSpot` and it does not do seems to have any effect but then in Eclipse log I find the following error:

[code]

[2018-10-18 10:49] jesus-gorronogoitia commented on #594
Hi @tmortagne
Please for next cases, report STAMP Eclipse plugin issues in this [tracker](https://github.com/STAMP-project/stamp-ide/issues)
Please, provide additional information: Eclipse version you used, your OS, the version of the DSpot plugin you installed.
If I get well your description, you get this exception when you are trying to launch the DSpot wizard on a workspace project, but the wiz

[2018-10-18 11:41] tmortagne commented on #594
Since I was not sure where exactly. I will create a new issue there with the details.

Exactly.

[2018-10-18 11:41] #594 closed

[2018-10-18 11:46] tmortagne commented on #594
See https://github.com/STAMP-project/stamp-ide/issues/33

[2018-10-18 12:36] danglotb commented on #570
Hi @jesus-gorronogoitia

According to the [java documentation](https://docs.oracle.com/javase/7/docs/api/java/util/regex/Pattern.html) the start is not a wildcard that allow to match "anything" but it is a quantifier (zero or more times).

Your regex are built as follow: `my.package*` and so, it tries to match `my.package` zero or one times, and not as you expected `my.package<whatever.it.follows>

[2018-10-18 12:38] danglotb commented on #592
This artifact comes from jdt, a dependency of Spoon.

Sometimes such dependencies are down for a time.

Could you retry in a while?

[2018-10-18 12:39] danglotb commented on #584
I just merged #593.

Please retry and keep me update of your progress.

[2018-10-18 15:08] jesus-gorronogoitia commented on #570
Hi @danglotb thanks for your support. I am updating DSpot by pulling its repository and building its sources,so I can try again this correct way to use * in regex. You cannot make the tests to work because the server that hosts required services is not accessible (that's the reason you get timeouts, sorry I cannot open the server to Internet because of Atos policies). So,  I will try it now and I

[2018-10-18 15:18] jesus-gorronogoitia commented on #570
Hi @danglotb
Now, I get the following exception:
`Error: Could not find or load main class ['-Xmx2048m'
Exception in thread "main" java.lang.RuntimeException: java.io.FileNotFoundException: /home/stamp/Git/Supersede/integration/IF/API/eu.supersede.if.api/target/dspot/globalCoverageResult.ser does not exist.
	at eu.stamp_project.testrunner.runner.test.Loader.load(Loader.java:23)
	at eu.stamp_projec

[2018-10-18 15:19] jesus-gorronogoitia commented on #570
#465

[2018-10-18 15:35] jesus-gorronogoitia commented on #570
Hi @danglotb It was my failure, you informed me in another issue that the jvmArgs entry changed in dspot.properties. Now I've fixed it and it works well for Jacoco. I will try now for Clover.

[2018-10-18 15:45] jesus-gorronogoitia commented on #570
Hi @danglotb It also works with Clover.
I've noticed that in a simple experiment, one iteration, with Jacoco I get 32 amplified test and a 5% of coverage improvement, while for Clover I get 0 amplified tests, and therefore, 0% of coverage improvement.
What is your advice for getting optimal coverage improvement? Should I try Clover with higher iterations?

BTW, this is the DSpot CLI parameters (on

[2018-10-18 15:48] #465 closed

[2018-10-18 15:55] jesus-gorronogoitia commented on #570
Increasing the number of iterations with Clover selector does not succeed in generating amplified tests. Meantime I get your advice, I will keep working with Jacoco selector.

[2018-10-18 16:01] danglotb commented on #570
HI @jesus-gorronogoitia

It might have an issue with the CloverSelector. But, since the CloverSelector aims at increasing the Branch coverage, while JacocoSelector aims the instructions coverage, it seems also legit that we obtain more improvement with Jacoco.

The problem with Jacoco, is that the selection of the amplified test methods (that actually increase the instruction coverage) is not accu

[2018-10-18 20:38] vmassol commented on #584
Thanks Benjamin. It doesn't fail anymore! :) However I didn't get any new test generated.... I got 2 with PIT/Gregor and 19 with Jacoco (AFAIR). Could it be that PIT/Descartes will generate less tests than PT/Gregor? Have you noticed this?

Thx

[2018-10-18 20:38] #584 closed

[2018-10-18 20:45] vmassol commented on #579
Retested with PIT/Descartes and got 0 new tests while we had 2 with PIT/Gregor. So far all my tests with PIT/Descartes yielded 0 tests, I think there might be a problem.

[2018-10-18 20:54] vmassol commented on #586
It fixes the problem since now with PIT/Descartes I don't get any tests generated at all ;)

[2018-10-18 21:38] danglotb commented on #586
But in this issue, you used `JacocoCoverageSelector`, isn't?

Did you run DSpot with the `PitMutantScoreSelector` before the fix and got some amplified test methods, and now you don't?

[2018-10-18 21:48] danglotb commented on #584
My intuition is yes: with Descartes, DSpot will generate generate fewer amplified tests, however I do not have evidence of this.

Maybe it is because Descartes generate fewer mutants than Gregor and the extreme mutants are harder to kill, generate more equivalent mutants.

[2018-10-19 07:51] vmassol commented on #584
@bbaudry Right now this is a problem for measuring the KPIs since K03 is about increasing the mutation score but based on Descartes. In our tests, when we used DSpot with PIT/Gregor is either led to 0% mutation increase as measured by Descartes or negative % values... So we're a bit stuck FTM and we need to decide what to do.

We have another problem, specific to XWiki: we've put in place the brea

[2018-10-19 08:36] danglotb commented on #584
How can it decrease your mutation score if you only add new test methods? This makes no sense since PIT guarantees the same number of mutants if you do not touch the source code (buisiness).

Do you still run the original test suite in addition to the amplified test methods you added?

 You should double check if you don't have more errors(time out, memory errors etc..) between runs of **Descartes

[2018-10-19 08:54] vmassol commented on #584
I guess because the new generated tests when using PIT/Gregor can have a lower mutation score as measure by Descartes since the oracle is using Gregor. I don't know. Is that supposed to be impossible?

We reported https://github.com/STAMP-project/dspot/issues/575 about this.

We did get a -1% mutation score but it seems the computation is not stable since when running it a few times more we got 0%

[2018-10-19 09:00] assadOW2 commented on #586
@danglotb : I pulled the last version but have build issues, tests don't pass. So for now I am skipping them as you advised me.

[2018-10-19 09:19] bbaudry commented on #584
As a strategy to move forward, I propose that @oscarlvp and @danglotb run an experiment
- take a XWiki module
- run Descartes to identify a list of pseudo-tested methods
- find the list of test cases that cover each pseudo-tested method
- run DSpot to specifically amplify these test cases

[2018-10-19 09:20] assadOW2 opened #595 "Error with latest release on Sat4j: TestListener.ser not found"
#### Characteristics
- **Issue Type**: [bug]
- **Reproducibility**: [always]
- **Severity**: [block]
- **Tool/Service/Component**: [Sat4j project]
- **Execution Environment**: [Linux Ubuntu 16.04]
- **Reporter**: [Assad Montasser, am@ow2.org]

#### Description

When executing DSpot on Sat4j, I have a file FileNotFoundException:

Exception in thread "main" java.lang.RuntimeException: java.io.FileNo

[2018-10-19 11:35] danglotb commented on #595
Hi @assadOW2
I'm sorry, but I modified the way to give JVMArgs to DSpot.

Your actual properties needs an update:
[code]

You need now to use it as follow:
[code]

Could retry with the updated format?

If you still experience troubles, please provide the whole logs.

[2018-10-19 12:28] assadOW2 commented on #595
Thanks @danglotb , works fine now, I close the issue.

[2018-10-19 12:28] #595 closed

[2018-10-19 13:04] assadOW2 commented on #586
@danglotb : regarding compilation problems, I still have some.

For instance, this kind of line :
        int o_test__1 = this.optimizer.newVar(4);

produces this kind of error:

[ERROR] /home/assadm/OW2-Projects/Forks/sat4j/org.sat4j.core/src/test/java/org/sat4j/minisat/core/TestPrimeComputation.java:[25,29] cannot find symbol
[ERROR] symbol: variable optimizer

[2018-10-19 13:50] oscarlvp commented on #584
If you want to execute Descartes (or Gregor) without modifying the `pom.xml` then you can use `PitMP`. It is quite convenient, I do it all the time.

Now, for `xwiki-commons/xwiki-commons-core/xwiki-commons-component/xwiki-commons-component-default`  I ran descartes and found three *pseudo-tested* methods:
* [compare](  https://github.com/xwiki/xwiki-commons/blob/cac2ce2613868fd9ce7f102cde9681f6f8

[2018-10-19 15:11] danglotb commented on #586
Hi @assadOW2

Could you please, provide me more information?

You are amplifying the core module of sat4j, right? Could please give the command line and the property file used?

[2018-10-22 07:41] assadOW2 commented on #586
Hi @danglotb

Yes of course. I am indeed amplifying the core module of sat4j, in attachment the property file and here is the command line that generates my new tests:
~/OW2-Projects/Forks/sat4j$ java -jar  /home/assadm/STAMP-project/dspot/dspot/target/dspot-1.1.1-SNAPSHOT-jar-with-dependencies.jar --path-to-properties dspot.properties

The jar is the one generated from latest source on the reposi

[2018-10-22 07:45] assadOW2 commented on #586
Hi @danglotb

Yes of course. I am indeed amplifying the core module of sat4j, in attachment the property file and here is the command line that generates my new tests:
~/OW2-Projects/Forks/sat4j$ java -jar /home/assadm/STAMP-project/dspot/dspot/target/dspot-1.1.1-SNAPSHOT-jar-with-dependencies.jar --path-to-properties dspot.properties

The jar is the one generated from latest source on the reposit

[2018-10-22 07:51] assadOW2 commented on #586
Hi @danglotb

Yes of course. I am indeed amplifying the core module of sat4j, in
[dspot.txt](https://github.com/STAMP-project/dspot/files/2500523/dspot.txt)
 attachment the property file and here is the command line that generates my new tests:
~/OW2-Projects/Forks/sat4j$ java -jar /home/assadm/STAMP-project/dspot/dspot/target/dspot-1.1.1-SNAPSHOT-jar-with-dependencies.jar --path-to-properties dsp

[2018-10-22 11:07] ltboye commented on #582
How to get this version? I pulled  the latest master, and the pom files say 1.1.1-SNAPSHOT. I can't see any new branches.

[2018-10-22 12:04] danglotb commented on #582
Hi @ltboye, I plan to release as soon as all the listed issues are closed.

[2018-10-23 11:24] danglotb opened #600 "Cannot run specific test"
Someting is wrong when running some test classes. An example from `sat4j`:

[code]

**DSpot** or **test-runner** is not able to run this test class. It returns the following error:
[code]

[2018-10-23 11:28] danglotb commented on #586
Hello @assadOW2

Please refer to #600 for your issue.

I'm closing this one.

[2018-10-23 11:28] #586 closed

[2018-10-23 11:58] danglotb opened #601 "PitMutantScoreSelector is not reset if the test methods has not tests to be run (all of them fail)"
If we do two successive amplification with the second that do not have passing tests, the state in the pit selector is not reset.

see this [conditional](https://github.com/STAMP-project/dspot/blob/master/dspot/src/main/java/eu/stamp_project/dspot/selector/PitMutantScoreSelector.java#L79).

[2018-10-23 12:28] jesus-gorronogoitia opened #602 "Exception in thread "main" java.lang.NullPointerException at eu.stamp_project.dspot.DSpot.amplifyTest(DSpot.java:155)"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: major
- **Tool/Service/Component**: DSpot, latest version compiled from sources at time of reporting
- **Execution Environment**: CentOS 7
- **Reporter**: Jesús Gorroñogoitia <jesus.gorronogoitia@atos.net>
#### Description
DSpot runs well when executed in Supersede IF on a concrete target test, using Jacoco se

[2018-10-23 13:07] #601 closed

[2018-10-24 07:52] #602 closed

[2018-10-24 09:42] CaelInria opened #605 "Check inputs"
Inputs values are not checked, e.g. a wrong qualified name, and DSpot does not raise the corresponding error

[2018-10-24 09:49] danglotb commented on #578
Hi,

@nicolabertazzo and @danzone I reproduced the issue.

The problem is when the `GradleAutomaticBuilder` modifies the existing `build.gradle`, it does not care if there is already `buildscript` and recreate it.

So the `build.gradle` seems not to be valid and we cannot run anything.

I modified the `build.gradle` manually and successfully execute pit on **catalog** (with the same parameters tha

[2018-10-24 09:55] jesus-gorronogoitia commented on #605
Hi @CaelInria Thanks a lot for reporting this issue on behalf myself.
In my experience, a significant number of issues reported by me where caused by wrong usage of DSpot CLI or wrong format or acceptable values for some parameters. However, the issues (raised as exceptions) that prevent DSpot to complete the work seemed to be unrelated to the input set, and only after a deep analysis by DSpot dev

[2018-10-24 10:06] jesus-gorronogoitia opened #606 "FEAT: Don't break DSpot execution on failures on one concrete test case under amplification. Move to another one if possible"
#### Characteristics
- **Issue Type**: feature
- **Reproducibility**: always,
- **Severity**: feature
- **Tool/Service/Component**: DSpot
- **Execution Environment**: All supported
- **Reporter**: Jesús Gorroñogoitia <jesus.gorronogoitia@atos.net>

#### Description
When DSpot has been used to amplify the test coverage of Supersede IF component, it was not way to run DSpot on the complete IF test b

[2018-10-24 10:16] danglotb commented on #578
It appears that parsing and modifying a `build.gradle` file is very complex because it is a DSL and I could not find any gradle parser.

I propose a temporary workaround:

Gradle users should manually add the task and other stuff and we disable the injection done by **DSpot**.

This way, @MaelAudren  can start the experiment (with a bit more manual stuff) ASAP while we work on a more general and a

[2018-10-24 10:39] danglotb commented on #578
Okay, after trying to do so, I understand that we can't do this, because some dynamic options (_e.g._ the list of amplified tests for which we want to compute the mutation score) is specified with the file, and thus, the proposed workaround cannot be applied.

[2018-10-24 13:42] jesus-gorronogoitia opened #608 "Exception in thread "main" java.lang.StackOverflowError"
#### Characteristics
- **Issue Type**: bug,
- **Reproducibility**: always
- **Severity**: major
- **Tool/Service/Component**: DSpot (latest version compiled from sources on 22/10/18
- **Execution Environment**: CentOS7
- **Reporter**: Jesús Gorroñogoitia<jesus.gorronogoitia@atos.net>

#### Description
I get a java.lang.StackOverflowError when executing dspot in a particular supersede IF test case.

[2018-10-25 08:32] danglotb opened #610 "BUG: when filter is empty, the computation of the top package is wrong."

[2018-10-25 08:33] danglotb opened #611 "BUG: when using a properties file with the maven plugin"
There is something in paths computed used by DSpot when you specify a properties file to the maven plugin of dspot.

[2018-10-25 09:30] danglotb commented on #592
Hi @ltboye

I look up to find a solution to this problem, but I don't know how to fix this.

We can try a manual things: I provide you manually the missing jar, `org.benf:cfr:jar:0.132.0` and retry.

WDYT?

[2018-10-25 09:48] ltboye commented on #592
Yes, let's do that. And I'll report if there are any more missing dependencies.

[2018-10-25 09:54] danglotb commented on #592
Please find it in [benf.zip](https://github.com/STAMP-project/dspot/files/2514276/benf.zip), it contains the missing dependency from my own local maven repository.

You should put its content in `<path-to-your-local-maven-repo>/.m2/repository/org/`

[2018-10-25 10:32] vmassol opened #612 "Dspot keeps existing tests with --generate-new-test-class"
I ran `java -jar /Users/vmassol/dev/dspot/dspot/target/dspot-1.1.1-SNAPSHOT-jar-with-dependencies.jar --path-to-properties dspot.properties --descartes --verbose --generate-new-test-class --with-comment --amplifiers StringLiteralAmplifier:NumberLiteralAmplifier:CharLiteralAmplifier:BooleanLiteralAmplifier:AllLiteralAmplifiers:MethodAdd:MethodRemove:MethodGeneratorAmplifier:ReturnValueAmplifier:Nul

[2018-10-25 10:34] vmassol commented on #612
Note: I built dspot from sources today around 12:00 CEST.

[2018-10-25 10:37] vmassol commented on #612
On a different but related topic, I got 6+3+4 new tests generated with the amplifiers mentioned above which seems good. I now need to analyze the generated tests.

[2018-10-25 10:42] vmassol opened #613 "Double fail() generated"
[code]

See https://github.com/STAMP-project/dspot/issues/612 for the command line and use case used (and version of dspot).

[2018-10-25 12:45] danglotb commented on #578
Hi, I did the fix, it almost done. I need to test it a bit.

I'll propose a pull request as soon as possible.

[2018-10-25 15:28] danglotb opened #614 "LICENCE: Checks all component used by DSpot"
All the used component should have a compatible license.

[2018-10-25 16:00] danglotb commented on #578
I merged #609.

Please pull and retry.

You must update your `dspot.properties` file with:

[code]

Since you use a gradle project, you must specify the folders of binaries with:
[code]

Also I think you filter was wrong:

[code]

missing the `org` at the begin.

[2018-10-25 22:38] danglotb commented on #578
Could you retry when #615 is merged? Thank you!

[2018-10-26 09:59] MaelAudren commented on #578
@danglotb I managed to build successfully a dspot report by running the following command
`java -jar dspot-1.1.1-SNAPSHOT-jar-with-dependencies.jar --path-to-properties dspot.properties --automatic-builder GradleBuilder --test=ow2.proactive.catalog.dto.BucketMetadataTest` on my project.
Thanks a lot.

[2018-10-26 10:44] danglotb commented on #578
Happy to hear that! Enjoy!

[2018-10-26 10:44] #578 closed

[2018-10-26 11:12] danglotb commented on #612
Hi @vmassol

There is an issue with this module. I don't know why, but I cannot compute original the mutation score. Each time I run pit on the module, it found 0 test.

When I run
[code]
Outside DSpot, I obtain the traces:

[code]

Did you manage to execute correctly PIT on this module?

[2018-10-26 11:19] vmassol commented on #612
Yes, I did, see https://github.com/STAMP-project/dspot/issues/612#issuecomment-433001508

[2018-10-26 11:32] danglotb commented on #612
These tests are JUnit5.

I think that is why. It seems that to run pit on JUnit5, we need to use a plugin: `https://repo.maven.apache.org/maven2/org/pitest/pitest-junit5-plugin/0.5/pitest-junit5-plugin-0.5.pom`

I plan to work on the support of JUnit5 but I am afrait that your current result are flawed.

[2018-10-26 11:40] vmassol commented on #612
@danglotb Good point. Some questions:

1) I don't see what this has to do with this issue which is about not keeping old tests, could you explain?
2) Why is DSpot able to generate tests if it cannot notice existing tests?

[2018-10-26 11:47] danglotb commented on #612
Yes, there is no link with the issue sorry. The fact is #613 and this one is related to the amplification of the same module, _i.e._ `xwiki-commons-component-api`. I wanted to investigate both problems but I found the problem of pit and JUnit5.

Because before the amplification, **DSpot** computes the baseline, _i.e._ the mutation score using the original test suite. For now, It uses the standard

[2018-10-26 11:49] vmassol commented on #612
ok thanks for the explanation so what you're saying is that if the original mutation score was computed properly DSpot/Descartes would probably not have generated any new tests, right? :)

[2018-10-26 11:56] danglotb commented on #612
No, I did not say that.

[2018-10-26 12:33] oscarlvp opened #616 "Use another PIT output format to provide more information"
#### Characteristics
- **Issue Type**: feature
- **Severity**: feature

#### Description
Currently DSpot relies on the `CSV` report output produced by PIT. However this report is limited in information. It would be better to use the `XML` report, provided by default, or the `JSON` report provided by Descartes. These two formats include for each mutant the package, class, method name, method signat

[2018-10-26 12:55] jesus-gorronogoitia opened #617 "java.lang.OutOfMemoryError: unable to create new native thread"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: major
- **Tool/Service/Component**: DSpot, latest version compiled from source at 26/10
- **Execution Environment**: CentOS7
- **Reporter**: Jesús Gorroñogoitia<jesus.gorronogoitia@atos.net>
#### Description
DSpot gets the VM out of memory when executed within a collection of test cases reference by wildcard *

[2018-10-26 15:41] andrewbwogi commented on #563
Hi @jesus-gorronogoitia, DSpot is attempting to run the ModelAdapterTest but it produces the following error:
[code]

Is this related to the accessibility of Atos servers? DSpot needs to run the tests to generate new tests.

[2018-10-26 17:46] #582 closed

[2018-10-29 08:42] danglotb commented on #612
I thought about this issue of JUnit5.

You can workaround by first, run pit offline of **DSpot** and keep the csv mutations reports (you will have to enable the CSV format with `-DoutputFormats=CSV,HTML` (you will have both csv and html file).

In `target/pit-reports/YYYYMMDD/` you should find a `mutations.csv`.

Copy it into a specific place, let's say `<path/to/mutations.csv>`.

Then when runnin

[2018-10-29 08:48] danglotb commented on #616
Hi,

I suggest @andrewbwogi takes care of this issue.
Since this feature is external to the core and we can do it step by step, I think it is a good start.

@andrewbwogi I propose you a list of small tasks:

- [ ] run pit on `test-projects` (in the test resources of **DSpot**) and enable a suggested format output (XML or JSON).
- [ ] modify the [PitResultParser](https://github.com/STAMP-project/ds

[2018-10-29 09:11] danglotb commented on #612
To come back to the issue, It keeps the original tests because there are JUnit5. I'll propose a pull request ASAP.

[2018-10-29 09:37] jesus-gorronogoitia commented on #563
Hi @andrewbwogi, yes it is caused because you have not access to Atos server and there is nothing to do about. I can do experiments for you and report you all the information you may need to debug this issue.

[2018-10-29 12:08] #610 closed

[2018-10-29 12:09] danglotb commented on #613
This issue and #612 should be fix with #620

[2018-10-29 12:09] #613 closed

[2018-10-29 12:09] #612 closed

[2018-10-29 12:12] danglotb commented on #576
should have been fixed with #590

[2018-10-29 12:13] #576 closed

[2018-10-29 13:04] #245 closed

[2018-10-29 13:06] danglotb commented on #203
The Ex2Amplifier aims to do that. However, we could not find any symbolic engine able to run on modern software.

[2018-10-29 13:06] #203 closed

[2018-10-29 13:08] danglotb commented on #191
Closing this issue.

We have two majors lead to this:

1. @spookyvale works on a Jenkins plugin for DSpot.

2. I worked on the diff-test-selection plugin. In addition to the maven plugin of DSpot, one should be able to run **DSpot** in the CI.

[2018-10-29 13:08] #191 closed

[2018-10-29 13:09] #386 closed

[2018-10-29 13:10] #420 closed

[2018-10-29 13:10] #415 closed

[2018-10-29 13:10] #426 closed

[2018-10-29 13:10] #442 closed

[2018-10-29 13:49] vmassol opened #622 "Progression bar not working well"
Hi, I've started dspot on xwiki-component-api with all amplifiers and it's taking very long (expected). However the progression bar doesn't seem to be working. It's been stuck at 89% for more than 1 hour now:

[code]

It's now 14:48 and it was started at 13:31:56...

Would be great to have progress since right now I don't know if it's stuck or just long.

[2018-10-29 13:51] vmassol commented on #622
Been using 700%+ of my CPU for over an hour now...

[2018-10-29 14:01] assadOW2 opened #623 "Latest release: mvn test stage failure on build"
#### Characteristics
- **Issue Type**: [ test ]
- **Reproducibility**: [always]
- **Severity**: [minor]
- **Tool/Service/Component**: [name, version]
- **Execution Environment**: [ubuntu 16.04]
- **Reporter**: [Assad Montasser, am@ow2.org]

#### Description

Test stage fails:

"Tests in error:
  DSpotUtilsTest.testGetAllTestClasses:39 » NullPointer"

Build ok when skipping tests.

#### Steps to re

[2018-10-29 14:07] vmassol commented on #622
How long should I wait before considering it's stuck? I hope the answer is not one week :)

[2018-10-29 14:17] danglotb commented on #622
The progress bar uses the number of test methods to be amplified. So **DSpot** amplifies 89% of 200 test methods.

How do you suggest to predict the time that the input amplification will take? At which granularity?

You should use remote VMs, not your laptop.

From my experience, **DSpot** can take half day to input amplifiy a test method. It depends a lot of thing such as: the number of amplifie

[2018-10-29 14:17] danglotb opened #624 "FEAT: time budget for each stages of DSpot."
The idea is to introduce multiple time budgets:

1. one global time budget
2. one time budget for the input amplification
3. one time budget for the assertion amplification.

However, if the allocated time budget is too small, it might prevent **DSpot** to obtain any result.

[2018-10-29 14:18] danglotb commented on #617
Hi @jesus-gorronogoitia

I know this is painful, but I don't have a magical solution.

You can either supply more memory to your java process or amplify test class per test class, in the worst case test method per test method.

[2018-10-29 14:30] jesus-gorronogoitia commented on #617
Hi @danglotb don't worry, I am reporting these issues as part of our work as evaluators and issue reporters. As commented, I've already increased the memory with not sucess and I am now working on DSpot amplification per test class, which works.
Understanding that apart from these suggestions there is nothing else you can do, I close the issue

[2018-10-29 14:30] #617 closed

[2018-10-29 14:40] vmassol commented on #622
So this suggests that having a progress bar on the amplified tests is too coarse grained. When DSpot amplifies a test method, I guess it's trying different things, so you could count or display those smaller steps.

I don't think you should do that, that's too complex and brings little value IMO. What's important is that the user sees progress on the screen to know it's not stuck.

How am I suppos

[2018-10-29 16:32] danglotb commented on #606
Working on this see #625

[2018-10-29 16:37] vmassol commented on #622
Stopping Dspot after 4 hours ;) (was still at 89% and not moving)

[2018-10-29 16:40] jesus-gorronogoitia opened #626 "Main - Amplification failed"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: major
- **Tool/Service/Component**: DSpot 1.2.1
- **Execution Environment**: CentOS7
- **Reporter**: Jesús Gorroñogoitia <jesus.gorronogoitia@atos.net>

#### Description
DSpot executed on test: eu.supersede.integration.api.monitoring.proxies.test.DiskMonitorProxyTest of Supersede IF component ends normally wit

[2018-10-29 20:08] andrewbwogi commented on #616
Hi @oscarlvp and @danglotb, I will look into this.

[2018-10-30 14:27] assadOW2 opened #628 "Timeout exception when amplifying SAT4J"
#### Characteristics
- **Issue Type**: [bug]
- **Reproducibility**: [always]
- **Severity**: [ major]
- **Execution Environment**: [Ubuntu 16.04]
- **Reporter**: [Assad Montasser, am@ow2.org]

#### Description

DSpot throws a timeout exception when running on SAT4J

##### Properties file

[code]

##### Command Line / Options

[code]

##### Trace
[code]

[2018-10-30 15:27] jesus-gorronogoitia commented on #608
It seems to be caused by the amplifier: MethodGeneratorAmplifier.
When removed from DSpot configuration, the StackOverflow is not triggered, but a TimeoutException on `eu.stamp_project.dspot.selector.JacocoCoverageSelector.computeCoverageForGivenTestMethdods` is triggered. I've increased --timeOut up to one minute (60000 ms) without success

[2018-11-01 11:49] ltboye commented on #592
Trying on my home machine (also Win10), it builds successfully (skipping tests).

I will try on the office machine again tomorrow.

[2018-11-01 11:50] assadOW2 opened #632 "Dspot (PR #631) Maven failure"
#### Characteristics
- **Issue Type**: [bug]
- **Reproducibility**: [always]
- **Severity**: [major]
- **Execution Environment**: [ubuntu 16.04]
- **Reporter**: [Assad Montasser, am@ow2.org]

#### Description

This exception occurs only on PR#631 branch.

[code]

#### Steps to reproduce

##### Properties file

[code]

##### Command Line / Options

[code]

#### Other files and URLs

#### Relationsh

[2018-11-01 12:00] ltboye opened #633 "Another --example error"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: major
- **Tool/Service/Component**: DSpot 1.2.0
- **Execution Environment**: Win 10, Java 8
- **Reporter**: Lars Thomas Boye

#### Description
Getting DSpot to compile on my home machine, I tried running with the --example option. "Building test-projects 0.0.1-SNAPSHOT" now seems to complete successfully, but

[2018-11-01 12:44] danglotb commented on #632
Hello @assadOW2

Thank you for reporting this.

This PR should be now ready to be merged.

You probably pulled a little bit sooner than I expected. I suggest wait until it is merged, and build a new DSpot jar from the master branch or the [nexus repository](https://oss.sonatype.org/#nexus-search;quick~dspot) (It might take a while after the merge for the jar to be updated).

This PR will allow you

[2018-11-02 09:11] assadOW2 commented on #632
@danglotb : thank you, it's now working. In attachment the trace of execution.
[trace.log](https://github.com/STAMP-project/dspot/files/2541790/trace.log)

[2018-11-02 09:11] #632 closed

[2018-11-02 09:53] ltboye commented on #592
I still get the same error on my office machine, even though I have tried with and without Maven config file, removed the files in question from the local artifactory, etc. My laptop has the same problem. My home computer works.

The only difference I can think of right now is that the Maven and Java installs on my home machine is older (but should be compatible). Maven on my office machine is 3.5

[2018-11-02 10:46] assadOW2 opened #634 "Tests generated with amplifier MethodRemove do not compile"
#### Characteristics
- **Issue Type**: [bug]
- **Reproducibility**: [always]
- **Severity**: [major]
- **Execution Environment**: [Ubuntu 16.04]
- **Reporter**: [Assad Montasser, am@ow2.org]

#### Description

Configuration, files generated and generation trace are available here:
https://github.com/STAMP-project/dspot-usecases-output/tree/master/OW2/Sat4j/20181102-0920

[code]

#### Steps to repr

[2018-11-05 09:06] ltboye opened #635 "Tellu test report/status"
#### Characteristics
- **Issue Type**: test report
- **Tool/Service/Component**: DSpot, built 01.11.2018
- **Execution Environment**: Windows 10
- **Reporter**: Lars Thomas Boye

#### Description
Having run a number of DSpot tests, I wanted to briefly sum up the findings so far. The complete test reports and outputs are found in the dspot-usecases-output repo, in the Tellu folder.

- DSpot only wo

[2018-11-05 15:31] jesus-gorronogoitia opened #636 "java.lang.RuntimeException: java.lang.NullPointerException in eu.stamp_project.automaticbuilder.maven.DSpotPOMCreator.createNewPom(DSpotPOMCreator.java:77)"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: major
- **Tool/Service/Component**: DSpot v1.2.2
- **Execution Environment**: CentOS
- **Reporter**: Jesús Gorroñogoitia <jesus.gorronogoitia@atos.net>

#### Description
I've tested DSpot v1.2.2 in an previous experiment that failed with a NPE and that was reported before (see [experiment results](https://gith

[2018-11-05 15:37] jesus-gorronogoitia commented on #636
I've just tested with another IF component test suite and the same NPE on the eu.stamp_project.automaticbuilder.maven.DSpotPOMCreator.createNewPom(DSpotPOMCreator.java:77) persists. It seems to be a possible bug introduced in this new v1.2.2. release.

[2018-11-05 17:12] RicardoTej opened #637 "DSpot null pointer exception"
#### Characteristics

- **Issue Type**:  bug
- **Reproducibility**: always
- **Severity**: block
- **Tool/Service/Component**: [ DSpot, 1.2.2 ]
- **Execution Environment**: Linux
- **Reporter**: [ Ricardo Tejada, ricardo.tejada.external@atos.net ]

#### Description

DSpot produces the following exception working with dhell project

2018-11-05 18:03:44,842 INFO eu.stamp_project.testrunner.EntryPoin

[2018-11-05 19:49] danglotb commented on #636
This should be fixed with #638

[2018-11-05 19:50] danglotb commented on #637
Hi @RicardoTej

According to the stack trace, this issue seems to be a duplicate of #636.

Please, retry after the merge of #638.

[2018-11-06 11:06] tmortagne commented on #636
Just reproduce the same java.lang.NullPointerException with a freshly built dspot from master (f6f3741e3f48fc7febbce98f934f9cda002fffd0). Maybe it's because I use the plugin in the command line and not configured in my module.

[code]

[2018-11-06 11:13] danglotb commented on #635
Hi @ltboye

Thank you for reporting this.

It seems that DSpot does not support some system separator. I'm gonna investigate on it.

Could you please, push on the repository [STAMP-project/dspot-usecases-output/tree/master/Tellu](https://github.com/STAMP-project/dspot-usecases-output/tree/master/Tellu) the traces?

I saw that you ran amplifiers one by one. What you can do, is to explore more by as

[2018-11-06 11:17] jesus-gorronogoitia commented on #636
Fixed with new patch #638 Closing

[2018-11-06 11:17] #636 closed

[2018-11-06 11:22] tmortagne commented on #636
I confirm no more nullpointer with the previous command after a new pull, I tough it was already merged when I built.

[2018-11-06 11:34] ltboye commented on #635
Hi @danglotb

All traces are in the repo. Here are some examples of the exception:
https://github.com/STAMP-project/dspot-usecases-output/blob/master/Tellu/TelluLib-2018-11-01/Run-filter.txt
https://github.com/STAMP-project/dspot-usecases-output/blob/master/Tellu/TelluLib-ModelTest-Descartes-Amplifiers/MethodGeneratorAmplifier.txt

[2018-11-06 11:44] tmortagne opened #640 "The Maven plugin generate duplicate <profiles> tag if one already exist"
Version: fcfbbe14b62f19b5fb5ab5eb43830cc135d819c6

I executed the following command on https://github.com/xwiki/xwiki-commons/tree/master/xwiki-commons-core/xwiki-commons-job:

[code]

and end up with the attached [.dspot_pom.xml](https://github.com/STAMP-project/dspot/files/2552998/dspot_pom.xml.zip).

Looks like the plugin add a new `<profiles>` without checking if there is already one or not.

[2018-11-06 11:56] danglotb commented on #636
Hi, glad to hear that. Thank you!

[2018-11-06 11:58] danglotb commented on #640
Hi @tmortagne

Thank you for reporting this.

We agree it should not.

[2018-11-06 12:45] danglotb commented on #640
Should be fixed with #641

[2018-11-06 13:06] tmortagne commented on #640
That was fast :)

[2018-11-06 13:09] tmortagne commented on #640
Looks OK indeed.

[2018-11-06 13:11] #640 closed

[2018-11-06 13:38] danglotb commented on #635
It looks like that the error is thrown by :+1:
`final String pathname = directory.getAbsolutePath() + File.separator + type.getQualifiedName().replaceAll("\\.", File.separator)
                + ".java";`.

It seems that you have some test classes that have no packages (_i.e._ they are in default package).

I'll fix this ASAP and keep you update.

[2018-11-06 14:10] danglotb commented on #635
This is not the issue. It seems that we need to escape the escape character for windows. However, I cannot test on my side... If you could pull and build #642 and retry to see if I did fix it or not.

[2018-11-06 15:43] jesus-gorronogoitia opened #643 "java.io.FileNotFoundException: File does not exist: /home/stamp/Git/Supersede/integration/IF/API/eu.supersede.if.api/./.dspot_pom.xml"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: minor
- **Tool/Service/Component**: DSpot v1.2.2
- **Execution Environment**: Linux Opensuse Tumbleweed
- **Reporter**: Jesús Gorroñogoitia <jesus.gorronogoitia@atos.net>

#### Description
DSpot v1.2.2 works well in some Supersede IF test classes where before it didn't. DSpot completes the execution, generates

[2018-11-06 15:51] danglotb commented on #643
Hi @jesus-gorronogoitia

Thank you for reporting this issue. In fact, only when using the PitMutantScoreSelector the pom is generated and used.

I'm gonna fix this ASAP.

[2018-11-06 15:52] tmortagne opened #644 "OutOfMemoryError with the Maven plugin in some module"
#### Characteristics
- **Issue Type**: bug
- **Severity**: crash
- **Tool/Service/Component**: Maven plugin, 9dda0c3cca148bf772c265dedc16c7de70a3d91b
- **Execution Environment**: Ubuntu 18.10 64b, Java 1.8.0_191 with -Xmx1024m

#### Description

Getting a OutOfMemoryError after a while when executing `mvn clean eu.stamp-project:dspot-maven:1.2.2-SNAPSHOT:amplify-unit-tests -Dgenerate-new-test-clas

[2018-11-06 16:22] danglotb commented on #644
Hi,
Thank you for reporting this.

The memory issue of DSpot is well known and I am sorry about it.

Here are some workarounds:

1. Increase the memory with `-Xms -Xmx` options.
2. Amplify test class per test class.

I see that you use the `StringLiteralAmplifier`. If you have a test case that have a lot of different, the amount of potential amplified tests can be large, and thus consume a lot of

[2018-11-06 16:49] RicardoTej commented on #637
Fixed
Thank you !

[2018-11-06 16:49] #637 closed

[2018-11-06 19:19] danglotb commented on #643
Now, DSpot won't try to delete the pom if it does not need to generate it, and thus the experienced error won't appear anymore.

[2018-11-06 19:19] #643 closed

[2018-11-07 09:35] ltboye commented on #635
Yes, I will try the next time I have a chance to test on my home computer (still not building or running on the others).

[2018-11-07 19:47] andrewbwogi commented on #616
Hi @danglotb, I'm currently studying the code. Is it correct that it's the report generation which saves .json and .txt files in the output directory that needs a new class?

[2018-11-07 22:00] danglotb commented on #616
Hi @andrewbwogi

I am sorry, I might have confused you.

The first task should be done out of DSpot, on the command line by using the maven plugin of PIT.

For instance, you will run on the test-projects (src/test/resources/test-projects) the following command line:

`mvn clean test -DskipTests org.pitest:pitest-maven:mutationCoverage`

the `clean test -DskipTests` goals compile the sources and th

[2018-11-08 10:21] monperrus opened #647 "add support for semantic naming of new tests"
We could use machine learning to predict good names for new test names if the amplification is better for a new test

For this the state-the-art is "[code2vec: Learning Distributed Representations of Code](https://arxiv.org/abs/1803.09473)" and they have a open-source implementation at https://github.com/tech-srl/code2vec to start with.

[2018-11-08 14:51] assadOW2 opened #648 "Suggestion following experimentation on Sat4j"
#### Characteristics
- **Reporter**: [Assad Montasser, am@ow2.org]

#### Description

This is not a bug but an improvement suggestion made by Daniel Le Berre after reviewing the generated code.

https://github.com/STAMP-project/dspot-usecases-output/blob/master/OW2/Sat4j/20181030-1515/dspot-out/org/sat4j/AmplBugSAT107.java

After line 50 ( IConstr o_testNoSolutionExists__5 = solver.addClause(claus

[2018-11-08 15:12] danglotb commented on #648
Hello @assadOW2

I agree that It would be great to add this kind of assertion.

However, in DSpot, the assertions' generation is based on a java convention:

We consider that observations points are getters on existing objects inside the test. In DSpot, we defined a getter as follow:

1. It is a public method
2. It does not take any parameter
3. It has a return type (non-void)
4. It has a name tha

[2018-11-08 17:07] monperrus opened #649 "methods used in the generated assertions can come from other assertions"
Today, the methods to be put in assertions are those that "look like" getters, according to fixed criteria.

An alternative approach is to have a data-driven approach:
1. we first collect all methods present in existing assertions in the project under consideration
2. we use those methods in the new assertions in addition to the fixed method set.

[2018-11-08 19:08] danielleberre commented on #648
Hi @danglotb

My point was really the following.

The current code generated by DSpot is:

[code]

Adding a simple, induced assertion to the current assertions could produce some improvements in terms of mutation score.

[code]

That way, you get a failed assertion instead of getting an NPE in the following assertion.

[2018-11-09 14:57] assadOW2 opened #650 "Decrease in code coverage on Sat4j"
#### Characteristics
- **Issue Type**: [test report]
- **Execution Environment**: [Ubuntu 16.04]
- **Reporter**: [Assad Montasser, am@ow2.org]

#### Description

Jacoco report shows a decrease in code coverage after adding (not replacing) 2 generated tests: https://github.com/STAMP-project/dspot-usecases-output/tree/master/OW2/Sat4j/20181102-0930/dspot-out/org/sat4j

Initial code coverage is: 21,9

[2018-11-11 12:50] ltboye commented on #635
@danglotb

I tried your fix. Unfortunately it did not fix the issue.

Experiments here:
https://github.com/STAMP-project/dspot-usecases-output/tree/master/Tellu/TelluLib-EscapeFix

[2018-11-11 13:41] ltboye opened #651 "get Windows compatibility"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: major
- **Tool/Service/Component**: DSpot 1.2.2-SNAPSHOT (escape-dot-only-if-they-exist)
- **Execution Environment**: Windows 10
- **Reporter**: Lars Thomas

#### Description
Running on Windows, I was unable to specify multiple amplifiers.

--amplifiers MethodAdd:MethodRemove as in documentation seems to be in

[2018-11-11 14:47] ltboye commented on #635
I have also been trying the JacocoCoverageSelector with this fixed version. It gives a different result than before, but still stops with an exception.

See https://github.com/STAMP-project/dspot-usecases-output/tree/master/Tellu/TelluLib-ModelTest-Jacoco

[2018-11-12 09:06] danglotb commented on #651
Hi @ltboye

It looks like the `;` is not recognized as an argument separator by as a command separator.

I think Windows is trying to run the command `MethodRemove`, and obviously, this command does not exist.

I do not understand why this is happenning.

I do not feel that this issue is related to DSpot, but rather to the command line.

[2018-11-14 20:13] monperrus commented on #649
Related paper about the selection of interesting methods to be called in the assertions: "Automated Oracle Data Selection Support" (TSE15)

[2018-11-15 07:45] monperrus opened #652 "feature: automated documentation of JUnit assertions to English natural language"
A cool feature would be to automatically document the generated JUnit assertions in English natural language

A Fine-Grained Approach for Automated Conversion of JUnit Assertions to English
( 4th ACM SIGSOFT International Workshop on NLP for Software Engineering)
https://arxiv.org/abs/1811.05005

[2018-11-15 08:40] oscarlvp commented on #648
We can add the assertion before any block of instructions using a reference like in the example proposed by @danielleberre.

In the case we find patterns such as:
[code]
First transform the code:
[code]
and finally:
[code]

[2018-11-15 09:30] danglotb commented on #648
Hi @danielleberre, @oscarlvp

Okay I get it now.

As described by @oscarlvp, this task can be done easily. Just need to play a little bit with the Spoon's API.

I guess your changes will appear in the [`eu.stamp_project.dspot.assertgenerator`](https://github.com/STAMP-project/dspot/tree/master/dspot/src/main/java/eu/stamp_project/dspot/assertgenerator) package and in particular in [eu.stamp_projec

[2018-11-15 09:36] danielleberre commented on #648
Yep, looks good to me.

[2018-11-16 12:46] assadOW2 commented on #634
Hello @danglotb ,

There has been in those past 2 weeks lots of updates on Sat4j, you should use this version to reproduce the issue:
https://gitlab.ow2.org/sat4j/sat4j/tree/ec652dcd90e7277ff373ad073bed9fffa556d867
This is the state of the project at the time I did my experimentation.

Thanks for your help.

[2018-11-16 13:14] danglotb commented on #634
I used the commit you gave, but it seems I do not have any compilation error. Maybe the recent changes of DSpot fix the issue.

[2018-11-16 13:33] monperrus commented on #54
RW:

* An empirical study of the effects of minimization on the fault detection capabilities of test suites
* Test set size minimization and fault detection effectiveness: A case study in a space application
* On the effect of test-suite reduction on automatically generated model-
based tests
* Regression testing minimization, selection and prioritization: a survey

[2018-11-16 13:39] monperrus opened #653 "add support fot inteliigent test selection before input amplification"
We have many candidate tests to amplify. This is a problem for performance.

So we need a procedure to select a subset of tests to amplify.

This is currently done with the character edit distance from the original tests.

We can do much more advanced selection with machine learning.

(the selection problem also happens after the n-th amplification and before the n+1-th one)

[2018-11-16 14:09] assadOW2 commented on #634
I confirm that latest release works fine. Thanks @danglotb .

[2018-11-16 14:09] #634 closed

[2018-11-16 17:27] danglotb opened #654 "Expand observations scope outside of current amplified package"
For now, DSpot generates observations points on objects of the package under amplification, _i.e._ if the test to be amplified is for instance `eu.stamp.project.TestClass`, DSpot will generate observation points (call to the `ObjectLog#log()` method) only for objects in the test methods that belong to the package `eu.stamp.project`.

This was done in order to scope the intention of the amplified t

[2018-11-17 08:44] monperrus commented on #653
Related work:

* Assessing Test Case Prioritization on Real Faults and Mutants. https://dblp.org/rec/conf/icsm/LuoMPP18

[2018-11-17 10:53] monperrus commented on #647
RW: Context2Name: A Deep Learning-Based Approach to Infer Natural Variable Names from Usage Contexts
https://arxiv.org/abs/1809.05193

[2018-11-19 14:00] danglotb commented on #606
#625 has been merged. I'm closing this one.

[2018-11-19 14:00] #606 closed

[2018-11-20 09:56] andrewbwogi commented on #616
I've completed the first and the second task. I've modified the PitMutantScoreSelector to use an abstract Pit result so switching between using CSV and XML files will be easier. Now I'll look at how DSpot can use an XML output file from Pit as default.

[2018-11-20 10:46] danglotb commented on #616
Hi @andrewbwogi

Thank you! Do not hesitate to open a pull request. That will allow us to discuss the changes.

Best.

[2018-11-20 17:50] MaelAudren opened #657 "Pitest crash when it is executed with gradle"
#### Characteristics
- **Issue Type**: [bug]
- **Reproducibility**: [always]
- **Severity**: [major]
- **Tool/Service/Component**: [Dspot, 1.2.1]
- **Execution Environment**: [Ubuntu, 16.04]
- **Reporter**: [Mael Audren, mael.audren@activeeon.com]

#### Description

When executing Dspot on the catalog project, an exception occurs when pitest should be executed. All the details are available on htt

[2018-11-20 17:52] MaelAudren commented on #657
@danglotb if I remember well you told me that there is a way to provide to Dspot the PIT report. Maybe it could be a workaround.

[2018-11-20 19:17] danglotb commented on #611
Travis runs now the maven plugin using a properties file. I close this issue.

[2018-11-20 19:17] #611 closed

[2018-11-20 21:03] danglotb commented on #657
Hi @MaelAudren

It is because your `filter` property is commented.

When using maven, this property is not required, but for gradle it is.

To fix your issue, just uncomment (by removing the `#` at the begin of the line) your `filter` property.

In fact, if you have already run PIT on your project and have the CSV file report, you can give it to DSpot with:

[code]

to obtain the CSV file, you hav

[2018-11-20 21:03] #644 closed

[2018-11-20 23:11] danglotb commented on #657
Okay, I think that the problem is that you have twice the same task:

[code]
 I guess that you added the first `pitest` manually, and the second one has been generated by `DSpot`. (Without crash, DSpot cleans up your gradle file...).

What I can propose for now, it that you try to remove both task from your `build.gradle` file, and retry.

I'm gonna make a pull request to avoid such scenario.

Bes

[2018-11-20 23:14] lfcortes12 commented on #657
I tested it again removing pitest task but I got the same issue :(

Thanks in advance.

[2018-11-21 08:10] danglotb commented on #657
Okay, could provide the whole project. I need it to debug DSpot. Thank you.

[2018-11-21 14:35] lfcortes12 commented on #657
@danglotb sorry, unfortunately, I can not share the project due to legal constraints :(. But I can say that is a Gradle project with two submodules.

Regards,

[2018-11-21 14:57] danglotb commented on #657
Hi @lfcortes12

Okay, we will try through GitHub then.

That is a good clue. According to your first post, your properties file is:

[code]

Since DSpot works at the module level, you have to precise the module you want to amplify.
To do this, you have to add a dedicated property, named `targetModule`.

For instance, imagine you have the following hierarchy:

[code]
and you want to amplify module-

[2018-11-21 15:44] lfcortes12 commented on #657
Tested as you suggested but I got same error

[2018-11-21 20:00] danglotb commented on #657
Could you provide me the whole stack trace?

@MaelAudren Did you solve your issue?

[2018-11-21 21:31] lfcortes12 commented on #657
@danglotb the stack trace:

`ava.lang.RuntimeException: org.gradle.tooling.BuildException: Could not execute build using Gradle distribution 'https://services.gradle.org/distributions/gradle-4.7-bin.zip'.
        at eu.stamp_project.automaticbuilder.gradle.GradleAutomaticBuilder.runTasks(GradleAutomaticBuilder.java:113)
        at eu.stamp_project.automaticbuilder.gradle.GradleAutomaticBuilder.run

[2018-11-21 21:54] danglotb commented on #657
Thank you @lfcortes12
[code]
Something went wrong when DSpot executed PIT.

Were you able to execute PIT out of DSpot?

[2018-11-21 22:01] lfcortes12 commented on #657
@danglotb  It works normally.

[2018-11-22 09:31] MaelAudren commented on #657
@danglotb I manage to use PIT report using the -t command and by adding the filter parameter in the properties.
Maybe I misunderstood something however when I use filter I doesn't manage to reduce the number of class analyzed. In order to select specific class I have to use the option -t and specify the package/class to use. Is it normal ?

[2018-11-22 09:52] danglotb commented on #657
Hi @MaelAudren

The `filter` property is ONLY used by PIT (through DSpot). The  `filter` is simply forwarded to the option targetClasses of PIT. Excerpt of the PIT's documentation:

If you do not provide this value, PIT uses `<groupID>.<artifactID>.*`.

The `(-t|--test)` flag is used by DSpot to know which test class you want to amplify.

To sum up, the `filter` propertty is used by PIT to know wh

[2018-11-22 09:52] #657 closed

[2018-11-22 10:30] MaelAudren commented on #657
@danglotb thanks a lot for all the clarification.

[2018-11-26 08:59] danglotb commented on #605
Hi, I am working on #659

Do you have any idea on how to check JVM arguments and system properties?

In fact, in DSpot, one can give JVM args (from the properties file) to be specified, for instance, to execute the tests you need specific JVM args.

But, I do not know how to check these arguments (same for system properties).

Thank you.

[2018-11-26 16:01] danglotb commented on #600
The test-runner is not responsible for the errors, see STAMP-project/testrunner#53

For me the problem is because the parametrized test have the following kind of name:

`test[0]`,`test[1]`,`test2[0]`, `test2[1]`

DSpot is not yet able to associate these name to the `CtMethod<?>` used for the amplification.

[2018-11-26 17:06] danglotb commented on #588
I close this issue since the CloverSelector has been disabled.

[2018-11-26 17:06] #588 closed

[2018-11-29 14:34] #605 closed

[2018-11-29 14:40] jesus-gorronogoitia commented on #605
Hi  @danglotb Sorry, I forgot to response to your question. I have no idea about a formal verification. I've been looking for a library on Internet with no success. I think an approach is to proceed internally with the JVM, which will verify passed arguments. Then DSpot can capture and report to the user caller any JVM argument related exception triggered by the JVM

[2018-11-29 22:06] danglotb commented on #647
I looked at code2vec.

It seems quite usable and nice. First, I tried the [online demo](https://code2vec.org/), which is well documented and helps to understand code2vec.

Then, I tried to follow the example of the README. But I was not able to train the model (using the large dataset, _i.e._ 14 millions of java examples. The major issue is about the performance. I think they used GPUs to do this.

[2018-12-03 15:40] danglotb commented on #647
So, I train a new model using the test suite of `xwiki-platform`, `xwiki-rendering` and `xwiki-commons.` (45 minutes of training).

Then, I tried to predict a label for the following amplified test methods:
[code]

And obtain the following output:

[code]

So the proposed test method name would be `'test', 'equalslit', 'string'`: `'testEqualslitString'` which to be not bad but I am not convinced.

[2018-12-04 10:34] danglotb commented on #647
Code2vec seems to have a combinations feature. I planned to explore this ASAP.

1096 for XWiki-commons, 1900 for XWiki-rendering and for XWiki-platform. In total: test methods.

What do you mean? I use code2vec, that uses tensorflow.

But, I made a terrible mistake. I use also the source code for the training, I should use only test sources. I'm gonna work on this, and keep to explore this. Also,

[2018-12-04 13:47] urialon commented on #647
Hi guys,
Let me know if you have any more questions about code2vec.

Regarding training - we trained code2vec with a GPU, but code2vec was designed for simplicity and scale, so it does not require huge compute resources. Specifically, we trained it on a Tesla K80 (which is quite old by now) for only 30 hours.
I think you can train a similar model using the free-tier in Azure (using an NC6 machine)

[2018-12-04 18:09] MaelAudren opened #663 "No result when using Dspot"
#### Characteristics
- **Issue Type**: [test report]
- **Reproducibility**: [always]
- **Severity**: [blocker]
- **Tool/Service/Component**: [dspot,1.2.1 with dependencies]
- **Execution Environment**: [Ubuntu 16.04]
- **Reporter**: [Mael, mael.audren@activeeon.com]

#### Description

I don't manage to generate test from Dspot.
I tried various configuration using several amplifiers but I feel like

[2018-12-04 19:20] danglotb commented on #663
Hi @MaelAudren

I'm gonna investigate on this.

If you could provide me the logs, it would be great.

To start, I would like to warn you about the value of your `testClasses` properties _i.e._ `**testClasses=build/classes/test/**`. Unless I'm mistaken, It seems incorrect for me, in particular, the wildcards at the begin.

[2018-12-05 09:39] danglotb commented on #663
I pursued the amplification and it seems that there is a bug in DSpot.

You will observe something like:
[code]

What happens is that when DSpot prints the current java class, something bad happens (_e.g._ a field access disappear).

I think this problem is related to INRIA/Spoon#2780

I'm gonna investigate.

[2018-12-05 09:51] danglotb commented on #663
I look closer to the errors.

It appears that Spoon does not support lombok annotation.

In the example of the previous message, the method `builder()` should be generated by the annotation `@Builder`, see this kind of class:

[code]

I'm gonna raise a new issue on Spoon's GitHub repository. Best.

[2018-12-05 10:20] danglotb commented on #663
I found a workaround and opened #665.

However, I'm skeptical about this, since the amplified test methods won't use the imports and will be less readable.

@monperrus what do you think?

[2018-12-05 10:31] MaelAudren commented on #663
Thanks a lot I manage to generate a test using the command line:
`java -jar dspot-1.2.1-jar-with-dependencies.jar --path-to-properties dspot.properties --automatic-builder GradleBuilder -t  org.ow2.proactive.catalog.service.BucketServiceTest -m pitest.csv --verbose>trace.log`

[2018-12-05 10:57] MaelAudren commented on #663
@danglotb I manage to reproduce the spoon bug.
The bug can easily reproduced by running the following command:
`java -jar dspot-1.2.1-jar-with-dependencies.jar --path-to-properties dspot.properties --automatic-builder GradleBuilder -t  org.ow2.proactive.catalog.service.CatalogObjectServiceTest -m pitest.csv --verbose>trace.log`
I already have tested all the classes and it seems that only the class

[2018-12-05 11:00] MaelAudren commented on #663
@danglotb thanks a lot for the help. I'm able to generate tests now, I can continue my work.

[2018-12-05 12:16] danglotb commented on #663
Thank you @MaelAudren

I'll have a look to this.

[2018-12-06 10:18] #600 closed

[2018-12-06 13:10] danglotb commented on #663
I did find the compromise in #665.

I recall the problem. When DSpot ends the amplification, it outputs the amplified test class using imports, _i.e._ replaces all full qualified names with imports statement.

The problem is when you use generation of code, such as Lombok annotations, Spoon (the library that manipulates the java code in DSpot) is not able to find this code. For instance, the `@Bui

[2018-12-06 13:11] #663 closed

[2018-12-06 13:13] #577 closed

[2018-12-06 13:13] #567 closed

[2018-12-07 09:18] danglotb commented on #650
Hello @assadOW2

I reproduced the problem. I used SAT4J with the following commit: `ec652dcd90e7277ff373ad073bed9fffa556d867`.

I ran: `mvn clean test jacoco:report` with a clean repository.

Then, I copy and paste both amplified test classes: `src/test/java/org/sat4j/AmplBugSAT107.java`, `src/test/java/org/sat4j/AmplBugSAT81.java` into the test suite and re-ran the same maven command line: `mvn c

[2018-12-07 09:18] #650 closed

[2018-12-07 10:44] danglotb commented on #628
Hi @assadOW2

I looked closer to this issue.

According to the traces, the test class that creates this problem is `org.sat4j.BugSAT117ModelIterato`.
In this class, there is one test method:
[code]

On can see, that this test will run at least for 60 seconds( 60000ms) : `while (now.getTime() - beginTime < 60000)`.

I increase the timeout to 65000 (5000 + to be sure to not have the timeout) and I c

[2018-12-07 10:44] #628 closed

[2018-12-07 10:48] danglotb commented on #587
I close this issue since It has not been updated in two months.

For the decrease of the mutation score, I'm pretty sure that comes from the instability of PIT. Please, double-check.

For the multi-objective test-criteria, one can implement a selector that keeps newly covered mutants AND new mutants killed.

[2018-12-07 10:48] #587 closed

[2018-12-07 13:10] danglotb commented on #614
I would like to take care of this.

I installed the following maven plugin: [mrice/license-check](https://github.com/mrice/license-check).

After running it, I obtain:

[code]

I'm quite confused.

[2018-12-07 14:24] danglotb commented on #569
Since #646 has been merged, one can develop the generation of AssertJ assertions.

I set this issue as a new task available.

[2018-12-07 15:31] danglotb commented on #256
This has been resolved with recent changes.

[2018-12-07 15:31] #256 closed

[2018-12-07 15:32] danglotb commented on #327
Since the CloverSelector has been disable, I close this one.

[2018-12-07 15:32] #327 closed

[2018-12-07 15:33] danglotb commented on #332
Atos worked a lot on this see [this](https://github.com/STAMP-project/stamp-ide)

[2018-12-07 15:33] #332 closed

[2018-12-07 15:34] danglotb commented on #392
This has been fixed with recent changes.

[2018-12-07 15:34] #392 closed

[2018-12-07 15:35] #444 closed

[2018-12-07 15:36] #455 closed

[2018-12-07 21:40] danglotb commented on #114
This can now easily be done by implementing a dedicated set of class using TestFramework.

[2018-12-07 22:08] danglotb commented on #352
I'm gonna close this issue because It has not been updated since a while.

In addition to this, I have serious doubt about the implementation of this.

If you want to work on this, please feel free to reopen it.

[2018-12-07 22:08] #352 closed

[2018-12-07 22:10] danglotb commented on #362
Hi @sbihel

I think you won't gonna work on this anymore, right? I took the liberty to make it available.

[2018-12-07 22:12] danglotb commented on #445
This issue is very old and I close it. However, we all know the fact that the test pass in some environment (my laptop / travis / jenkins), but not on all.

[2018-12-07 22:12] #445 closed

[2018-12-07 22:13] #462 closed

[2018-12-07 22:14] danglotb commented on #463
Since the minimization has been disabled in DSpot, I'm closing this issue. You may reopen it if you encounter any trouble when the minimization will work again.

[2018-12-07 22:14] #463 closed

[2018-12-08 10:12] sbihel commented on #362
Hi @danglotb,

Yes sorry, I should have cleaned my mess 🙇‍♂️

[2018-12-08 14:02] danglotb commented on #362
Hi @sbihel

It is totally fine! I'll just unassign you from this issue to highlight the fact that this is should be done.

I hope you are doing great, and I'll see around!

[2018-12-10 15:05] oscarlvp commented on #399
At the moment we could focus on the specific sub-problem where the method is pseudo-tested.
We can set up a workflow in which we first detect the test classes which are closer to the method and then target these test classes with DSpot and using the `PitMutantScoreSelector` with Descartes as mutation engine.

[2018-12-11 09:48] danglotb opened #666 "PERFORMANCE: Observations of program's state."
For now, DSpot observes values to amplify assertions using `getters`.

`Getter` in DSpot are methods that do not take parameters and have non-void return type. We also based this identification on convention name: the method's name must starts with `get`, `is`, `should`, `has` etc...

However, some values could be observable using others methods.

We could improve the observations of the program's

[2018-12-11 10:02] danglotb opened #667 "FEATURE: Assertion generation for arrays, maps and collections"
The assertions generations for arrays, maps and collections might be flawed or even not implemented:

[code]

see [AssertBuilder](https://github.com/STAMP-project/dspot/blob/master/dspot/src/main/java/eu/stamp_project/dspot/assertgenerator/AssertBuilder.java) for more details

[2018-12-11 13:34] danglotb commented on #647
I obtained access to g5k, where there are some GPUs.

Currently, I'm training the model using the provided example of code2vec.

What I plan to do:

1. Predict a name of amplified test methods: train a "super" model using a lot (lot) of examples from GitHub. Then, specialize in this model using specific test name convention of projects under amplification.
2. Work on the minimization in order to o

[2018-12-11 14:49] danglotb commented on #647
The training on the small dataset took: `Training time: 0H:38M:39S`.

I think this is reasonable. I'm gonna build the dataset to train on a test suite.

[2018-12-12 09:17] monperrus commented on #647
That's a great plan!

[2018-12-28 13:35] #616 closed

[2019-01-07 12:22] vmassol opened #669 "Error when using the Maven plugin when trying to delete the dspot_pom.xml file"
Execution with: `mvn dspot:amplify-unit-tests`.

Error:

[code]

My config:

[code]

Would be great to not throw this exception when the file doesn't exist. BTW why doesn't it exist in my case, is that normal?

Thanks!

[2019-01-11 13:36] danglotb commented on #669
Hi @vmassol

I'm sorry I'm not able to obtain the same stack trace (I tried on a small project).

Could you provide me the content of your properties file and maybe the artifact on which you are trying to execute the DSpot's maven plugin?

Thank you.

[2019-01-11 17:50] andrewbwogi commented on #535
Hi @vmassol, I will have a look at this.

[2019-01-14 08:00] vmassol commented on #535
Thanks @andrewbwogi

[2019-01-14 08:03] vmassol commented on #669
Hi @danglotb

* DSpot 1.2.1
* XWiki module: xwiki-commons/xwiki-commons-core/xwiki-commons-observation/xwiki-commons-observation-local
* Dspot properties file:

[code]
* DSpot Maven plugin config:

[code]

[2019-01-15 16:28] assadOW2 opened #672 "Translator exception on Seedstack core module"
#### Characteristics
- **Issue Type**: [test report]
- **Reproducibility**: [always]
- **Severity**: [major]
- **Execution Environment**: [Ubuntu 16.04]
- **Reporter**: [Assad Montasser, am@ow2.org]

#### Description

Project Seedstack, module core: https://github.com/seedstack/seed

When executing DSpot I have this exception:
** ERROR eu.stamp_project.dspot.assertgenerator.Translator - Could not

[2019-01-16 15:21] danglotb commented on #672
This error has been fixed in 33aba8e4f2724cfe6082a6555012b6c228b06adc.

I plan to release soon DSpot.

[2019-01-18 14:46] #672 closed

[2019-01-21 06:24] mabdi opened #673 "Execution default-test of goal org.apache.maven.plugins:maven-surefire-plugin:2.12.4:test failed"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**:  always
- **Severity**:  block
- **Tool/Service/Component**: Dspot, nightly build
- **Execution Environment**: Windows 10
- **Reporter**: Mehrdad

#### Description
I'm going through the `Getting started` steps. But  in `mvn test` step, I see this error:

[code]
#### Steps to reproduce
Error with more details:
[code]

[2019-01-22 05:16] mabdi commented on #673
Hello @danglotb

[code]

[2019-01-23 13:43] mboussaa commented on #673
Hello @danglotb,

I hit the same issue as @mabdi reported above. Same for mockito's tests. Any idea how to fix it?

cc @MaelAudren

Thanks.

[2019-01-23 15:37] danglotb commented on #673
Hello @mabdi, @mboussaa

It is hard for me to find the error's reasons since I cannot reproduce the errors.

You can still retrieve the [release jar](https://github.com/STAMP-project/dspot/releases/tag/dspot-1.2.2) to execute DSpot.

Best,

[2019-01-28 10:38] vmassol commented on #669
FTR just tried again and got the same error in the logs.

[2019-01-30 08:35] danglotb commented on #535
Hello @andrewbwogi, any news on this? :-)

[2019-01-30 09:18] danglotb commented on #535
That's great news! Thank you very much, I cannot wait to see your pull request.

[2019-01-31 08:45] bbaudry opened #676 "Produce execution report"
Generate a global report about the execution of DSpot and the output

[2019-01-31 08:47] monperrus commented on #468
Dspot is able to work on a diff. @danglotb where is the documentation for this?

[2019-01-31 08:50] monperrus commented on #648
For the record from the plenary meeting: Oscar works on it

[2019-01-31 08:53] monperrus commented on #651
@ltboye looking forward to your progress

Plenary meeting, for the record: if we cannot get it working on Windows in two weeks, we would run it in a VM instead

[2019-01-31 09:39] jesus-gorronogoitia opened #679 "java.io.FileNotFoundException: /home/yosu/Projects/STAMP/Git/dhell/./target/pit-reports/201901311022/mutations.xml"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**:  major
- **Tool/Service/Component**: DSpot 1.2.3
- **Execution Environment**: Linux
- **Reporter**: Jesus Gorronogoitia<jesus.gorronogoitia@atos.net>

#### Description
Running DSpot on DHell project with default selector (PITTestSelector) produces the following exception (several times in run):
`java.io.FileNo

[2019-01-31 10:05] #679 closed

[2019-01-31 10:19] andrewbwogi commented on #535
Hi @monperrus, I'm currently testing modifications I've made on PitMutantScore, JacocoCoverage and CloverCoverage selectors. For the ChangeDetector selector it seems that new tests must be syntactically compared to previously selected tests since there is no score in that selector that can be added to a baseline. I'm investigating if I can use Spoon patterns to match new tests with previously sele

[2019-01-31 10:52] danglotb commented on #468
I'm merging `diff-test-selection repository` in this one, to make this maven plugin a module of DSpot, see PR #680.

There is some documentation available in the README on why it works and an execution's example in the travis' scripts.

I'm gonna make the documentation clearer and add a part on the integration with DSpot and DSpot-maven.

[2019-01-31 13:07] danglotb opened #681 "FEATURE: Support multi module project or make sure that it is supported"
For now, we don't know if the plugin can be run on a multi-module project

[2019-01-31 13:07] danglotb opened #682 "PERFORMANCE: remove RenderFileAction overriding Implement our own clover reporter"
Implement our own reporter, that compute this information, and do not build the whole HTML report.

[2019-01-31 13:07] danglotb opened #683 "FEATURE: add report type"
Implement different type of report, _.e.g._ HTML, JSON, XML and so on.

[2019-01-31 13:07] danglotb opened #684 "PERFORMANCE: do not use MavenInvoker inside the plugin"
Currently, we run the instrumentation and the tests using `MavenInvoker`, which call maven goals.

It must have a way to attach specific goals to our own goal/plugin.

[2019-01-31 13:58] danglotb opened #686 "BUG: configurations of the maven plugin seems to be wrong"
By default, the maven plugin applies Input amplification.

Also, it seems that the `-Diteration` does not work.

[2019-02-04 08:34] vmassol opened #688 "Remove not needed casts in generated tests to have more readable tests"
Example of generated test (showing a screenshot that shows in light grey what can be removed)

<img width="862" alt="screenshot 2019-02-04 at 09 33 59" src="https://user-images.githubusercontent.com/628267/52197503-18d38e80-2860-11e9-8dc8-5485e05f0e05.png">

[2019-02-04 08:35] vmassol commented on #688
BTW a very simple thing to do is to do a static import for `import static org.junit.jupiter.api.Assertions.*;`. This removes all the `Assert.` prefixes and make the code more readable too. :)

[2019-02-04 08:37] vmassol commented on #688
Side question: I see this tests calls:

[code]

And then does the same assert again. Couldn't dspot decide to not add the second part since calling the getters has no side effects?

[2019-02-04 08:55] danglotb commented on #688
Hi @vmassol

I'll look at the redundant cast.

This issue comes from Spoon if I remember. A release is announced on the 11th, February. I'm gonna bump the version used by DSpot.

It could. For now, DSpot does not distinguish the "type" of statement between the sequences of assertions. If there is something, (invocation, local variables, etc...) It should generate the second sequence.

Thank you!

[2019-02-04 10:02] vmassol opened #689 "Generated tests should use the same JUnit5 version as original test"
Here's a generated test based on a JUnit5 test:

[code]

Notice the usage of:
* `import org.junit.Assert;` --> JUnit 4
*  `@org.junit.Test` --> JUnit 4
*  `import org.junit.jupiter.api.Test;` --> JUnit 5 (but not used)

Original test:

[code]

[2019-02-04 12:35] danglotb commented on #689
Hello @vmassol

Could you give more information about your execution? I cannot reproduce.

Here what I obtain when I amplify the same test class:

[code]

With the following options `--path-to-properties xwiki.properties --descartes --verbose --generate-new-test-class --test org.xwiki.filter.type.FilterStreamTypeTest --test-criterion JacocoCoverageSelector`

On the current SNAPSHOT, _i.e._ `1.2.4-

[2019-02-04 12:37] vmassol commented on #689
* Location: xwiki-commons-filter-api/
* Dspot.properties:

[code]

* Dspot config:

[code]

* Command line: mvn dspot:amplify-unit-tests

[2019-02-04 12:54] danglotb commented on #689
The complete support of JUnit5 has been introduced in [DSpot 1.2.2](https://github.com/STAMP-project/dspot/releases/tag/dspot-1.2.2) with the Test framework feature.

Please upgrade the version DSpot that you are using.

[2019-02-04 13:26] vmassol opened #691 "PERFORMANCE: Improve performance by not generating test mutants for code that has all its mutants killed by Descartes already"
Example:
* on commons-filter-api, the class FilterStreamType has all its mutants killed by existing tests and thus amplifiying is not going to generate any new test increasing mutation score.

[2019-02-04 13:39] vmassol opened #692 "NPE on AssertionRemover.removeAssertion"
When executing DSpot 1.2.4-SNAPSHOT on commons-filter-api, on AbstractFilterDescriptorManagerTest#namedContainer()

[code]

and hanging...

[2019-02-04 14:08] danglotb commented on #692
Could you give me the list of amplifiers you used?

[2019-02-04 14:10] danglotb commented on #689
I'm closing this one.

[2019-02-04 14:10] #689 closed

[2019-02-04 14:13] vmassol commented on #692
Those ones (without the comments and the ReplacementAmplifier which is not failing ;)):

[2019-02-05 23:06] #688 closed

[2019-02-06 16:19] RicardoTej opened #695 "Mistake in DSpot documentation"
Good afternoon :

In section "Maven plugin usage" the parameters are
written, -Dpath-to-properties dspot.properties.

But it is -Dpath-to-properties=dspot.properties,
using = instead of space.

Kind Regards.

[2019-02-06 21:10] ltboye commented on #651
I seem to have tracked down the most serious issue with Windows compatibility, that of DSpot not running at all, the error being that Maven does not find the Java compiler. I had this error on two of my three machines, and now I have introduced it on the last, which so far had an older version of Java 8.

I updated the Java sdk from 1.8.0_121 to the latest, 1.8.0_202.
Previously reported by mvn -v

[2019-02-07 08:38] monperrus commented on #695
Good point! Could you please do a pull-request to fix it?

[2019-02-07 09:02] jesus-gorronogoitia commented on #695
I will take care of updating the documentation in a pull request.

[2019-02-07 11:30] jesus-gorronogoitia commented on #695
Pull request #696 created

[2019-02-07 11:36] jesus-gorronogoitia opened #697 "DSpot Maven plugin misalignment with latest DSpot release"
#### Characteristics
- **Issue Type**: feature
- **Reproducibility**: always
- **Severity**: feature
- **Tool/Service/Component**: DSpot Maven plugin
- **Execution Environment**: All
- **Reporter**: Jesús Gorroñogoitia<jesus.gorronogoitia@atos.net>

#### Description
Current latest DSpot Maven plugin available in Maven Central is 1.2.3, but latest release DSpot version is 2.0.0.
Who (team) is devel

[2019-02-07 11:46] danglotb commented on #697
Hello @jesus-gorronogoitia

I don't understand. All the dspot's modules are released at the same time.

Please see the [dspot-maven-2.0.0](https://search.maven.org/artifact/eu.stamp-project/dspot-maven/2.0.0/maven-plugin) on maven central.

Best.

[2019-02-08 08:23] jesus-gorronogoitia commented on #697
Bonjour @danglotb Thanks for clarifying. The reason I reported this issue is that I tried DSpot Maven with version 1.2.4 (which was released before version 2.0.0, if I remember it well) but Maven complained it was not available. I will check version 2.0.0 availability and update my proposal (pull request) for documentation update

[2019-02-08 09:02] jesus-gorronogoitia commented on #697
I confirm DSpot 2.0.0 is available and working in Maven central. Clossing issue

[2019-02-08 09:02] #697 closed

[2019-02-08 15:49] danglotb commented on #695
Close with #696.

[2019-02-08 15:49] #695 closed

[2019-02-11 16:40] assadOW2 opened #704 "DSpot/Pit on Lutece core"
#### Characteristics
- **Reproducibility**: [always]
- **Execution Environment**: [Ubuntu 16.04]
- **Reporter**: [Assad Montasser, am@ow2.org]

#### Description

Unit tests on Lutece core (https://github.com/lutece-platform/lutece-core) require special configuration in order to be executed successfully. Command line argument used is:

```mvn clean lutece:exploded antrun:run test -Dlutece-antrun-db

[2019-02-11 19:01] danglotb commented on #704
Hello @assadOW2

Are you able to execute PIT and descartes? Could you please provide the command line?

I guess executing the test with JUnit won't work also?

I'll look to have a solution to this problem.

[2019-02-12 08:23] assadOW2 commented on #704
hello @danglotb

JUnit tests work only if you use the command line I gave in the description (and of course a mysql running on localhost for that configuration).
I didn't try PIT/Descartes yet, I am working on it right now.
Thanks for your help.

[2019-02-12 09:30] danglotb commented on #704
Okay, so to be able to amplify the test suite of Lutece, we need to implement/fix the maven execution in the [STAMP-project/testrunner](https://github.com/STAMP-project/testrunner.git).

I'm gonna try to do that ASAP.

[2019-02-12 15:23] gibello opened #705 "jacoco 0.8.2 required for OpenJdk 10.0.2 (mvn test fails with jacoco 0.7)"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: major
- **Tool/Service/Component**: dspot "mvn test"
- **Execution Environment**: JDK (OpenJDK 10.0.2) on ubuntu Linux 18.04
- **Reporter**: Pierre-Yves Gibello pyg@ow2.org

#### Description

mvn compile runs fine.
mvn test fails.

In the stack trace:
Caused by: java.lang.NoSuchFieldException: $jacocoAccess

[2019-02-12 16:11] gibello opened #706 "OpenJdk 10.0.2 version not recognized causes test failure"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: major
- **Tool/Service/Component**: mvn test on dspot
- **Execution Environment**: OpenJdk 10.0.2 on Ubuntu linux 18.04
- **Reporter**: Pierre-Yves Gibello pyg@ow2.org

#### Description

Test runPit_whenNoTestClassIsSpecified fails with error message "Could not determine java version from '10.0.2'" .

Results

[2019-02-14 08:49] danglotb commented on #706
Hello, and thank you for reporting this.

I'm afraid that PIT does not support Java 10 yet. I'll have a look.

[2019-02-14 09:41] danglotb commented on #705
#707  should fix this, thank you.

However, I'm afraid that we are far away from the support of Java 10.

[2019-02-14 09:42] #705 closed

[2019-02-14 09:46] danglotb commented on #692
Fixed with #698 However, your use case still raise some issue (mostly compilation problems in the amplified test methods).

I'll investigate more on this use case.

[2019-02-14 09:46] #692 closed

[2019-02-15 10:35] nicolabertazzo commented on #704
Hi @danglotb,

I tryed to fix the execution of the tests.
My solution is:

- Modify the pom and add the dependency:

[code]
- Execute the command:
`mvn lutece:exploded antrun:run test -Dlutece-test-hsql`

- After that `mvn test` command will work

[2019-02-15 10:35] jesus-gorronogoitia opened #711 "DSpot stops execution if number of iterations >= 4. Possible thread deadlock"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: major
- **Tool/Service/Component**: DSpot, v2.0.1
- **Execution Environment**: Linux
- **Reporter**: Jesús Gorroñogoitia <jesus.gorronogoitia@atos.net>

#### Description
Profiling DSpot execution with Netbeans profiler, I've noticed that DSpot CPU usage drops to 0 after few seconds when the number of iteration

[2019-02-15 10:39] jesus-gorronogoitia commented on #711
This problems seems happens only with default PIT selector. It doesn't happen with JacocoCoverageSelector.

[2019-02-15 10:53] danglotb commented on #686
After some tests, nothing is wrong.

[2019-02-15 10:53] #686 closed

[2019-02-15 11:32] danglotb commented on #704
But DSpot uses a `java` command line to execute the test and not `mvn test`.

I'm currently working on this.

[2019-02-15 11:53] danglotb commented on #704
For now, the major problem is that when we run a `mvn test`, it recompiles the tests classes while in DSpot, we have a compilation phase for specific classes, _e.g._ instrumented test classes.

There are two potential solutions:
1) prevent maven to execute `maven-compiler-plugin:3.1:testCompile (default-testCompile)`.
2) output a temporary `.java` in the source tree of the project under amplificat

[2019-02-15 12:07] jesus-gorronogoitia commented on #711
It is not related to the JoinForkPool thread. Indeed, it is the thread pool-15-thread-1 the one is working while main thread is parked. I want to identify in code where this thread is invoked.

[2019-02-15 13:18] danglotb commented on #711
Hi @jesus-gorronogoitia

Thank you very much for investigating this.

Please, keep us update of your progress and do not hesitate if you have questions or need help :)

[2019-02-15 13:21] danglotb commented on #704
I found a workaround but it requires to modify the `pom.xml` of the client project.

One must add:

[code]

This can be implented in DSpot, since we have already the mechanism of using a custom `pom` to execute `pit`/`descartes`.

[2019-02-15 13:32] andrewbwogi commented on #535
I've looked at pattern matching in Spoon and it can be used to find syntax equality if the compared methods have the exact same AST, including variable names. An expanded set of  syntax equalities can be found if variable names are systematically replaced so that a test containing only:
[code]
would be considered equal to a test containing only:
[code]
A further simplification of generated tests c

[2019-02-15 14:41] RicardoTej opened #712 "Maven plugin and DSpot output directory"
Good afternoon :

Is the property outputDirectory supported by DSpot-Maven plugin ?
it is not working for me.

Thank you.

[2019-02-15 15:10] danglotb commented on #712
Hello @RicardoTej

In fact, the property `outputDirectory` (in the properties file specified by the CLI `--path-to-properties`) is automatically overridden by the default value of the parameter `-Douput-path`, _i.e._ `target/dspot/output`).

I opened #713 to fix it. Thank you!

[2019-02-16 14:10] vmassol commented on #535
@andrewbwogi It's hard for me to judge knowing that, as of today I'm not able to get DSpot to generate lots of tests on XWiki (not been able to generate any tests with amplifiers so far). The only few tests that I was able to generate are when there are no amplifiers and there aren't enough IMO to draw conclusions on this point.

[2019-02-18 07:33] danglotb commented on #712
Fixed with #713

[2019-02-18 07:33] #712 closed

[2019-02-18 09:56] gibello opened #715 "FileNotFoundException: target/dspot/observations.ser"
#### Characteristics
- **Issue Type**: [bug]
- **Reproducibility**: [always]
- **Severity**: [block]
- **Tool/Service/Component**: [lutece-core project, fork available in STAMP-project]
- **Execution Environment**: [Linux ubun]tu 18.04
- **Reporter**: [Pierre-Yves Gibello, pyg@ow2.orgl]

#### Description

When executing DSpot on lutece-core, I have a file FileNotFoundException:

2019-02-18 10:45:3

[2019-02-18 10:31] danglotb commented on #715
Hello @gibello

Yes, first of all, DSpot runs `mvn clean test -DskipTests dependency:build-classpath` to clean, download the dependencies and build a correct classpath.

I guess that the `mvn clean lutece:exploded` result is clean by the command exposed above.

Plus, DSpot is using a classical java command line to execute the test, and not a maven goal, which is problematic according to @assadOW2

[2019-02-18 14:01] danglotb commented on #704
Hello, #714 should allow executing DSpot on Lutece.

For now, I cannot merge the changes because the new release of [STAMP-project/testrunner](https://github.com/STAMP-project/testrunner) is not yet available. (need some time to be on maven central).

But, I propose you to pull the branch `feat-use-maven-exec-test` and build DSpot with it:

[code]

Then, you must do two things:
* add to your prope

[2019-02-18 14:14] danglotb commented on #715
Could you retry by following the instructions in #704 ? Thank you! I'm closing this issue since it is duplicated. We keep going on #704.

[2019-02-18 14:14] #715 closed

[2019-02-18 14:23] danglotb opened #716 "Documentation: refactor README to push forward usage instead of development."
Hello all,

I propose to refactor the README, to make it user-oriented instead of developer-oriented.

I know that we discuss a year ago about this, and we agreed to make it developer-oriented. But, people are always trying DSpot by building sources and I think they should pull the latest release or use the maven plugin before playing with the sources.

WDYT?

[2019-02-18 16:57] monperrus commented on #716
OK for me. And we can move the appropriate content into README-developer.md.

[2019-02-18 17:56] gibello commented on #704
Hi @danglotb,

Same error occurs:
java.lang.RuntimeException: java.io.FileNotFoundException: /home/gibello/STAMP/STAMP-project/lutece-core/target/dspot/observations.ser (Aucun fichier ou dossier de ce type).

Works better if I use the maven plugin in a <build> section of the pom, then mvn dspot:amplify-unit-tests (tested without the pre.goals trick).

[2019-02-18 20:03] danglotb commented on #704
Hi @gibello

java.lang.RuntimeException: java.io.FileNotFoundException: /home/gibello/STAMP/STAMP-project/lutece-core/target/dspot/observations.ser (Aucun fichier ou dossier de ce type).

Okay, I'll reproduce and fix this.

What did you do? Could give me the whole procedure? Could it be generalizable?

[2019-02-19 09:16] gibello commented on #704
Added that (note I recompiled the Mojo and added the missing "excludedClasses" property):
`    <build>
      <plugins>
        <plugin>
          <groupId>eu.stamp-project</groupId>
          <artifactId>dspot-maven</artifactId>
          <version>2.0.1-SNAPSHOT</version>
          <configuration>
            <src>src/java</src>
            <testSrc>src/test/java</testSrc>

            <excludedCl

[2019-02-19 09:44] gibello commented on #705
Ok, back to java 8 (Oracle, hope it fits) and Jacoco 0.7.9, less risky - otherwise I'm afrait to add unexpectable problems ;)

[2019-02-20 16:13] danglotb commented on #704
Hello,

I'm not able to execute the Lutece's tests.

I obtain the following errors:

[code]

With the following command line:

[code]

Lutece-core version: da9efa1737ed47a004c6fe2dfac94f5b3b232a76

Thank you.

[2019-02-22 09:48] danglotb commented on #704
ping @assadOW2 @gibello

[2019-02-22 09:59] assadOW2 commented on #704
hi @danglotb :

Is mysql runnning and reachable on localhost ?

[2019-02-22 10:56] nicolabertazzo commented on #704
Hi @danglotd:

i push my tests on https://github.com/STAMP-project/lutece-core/blob

I'm using hsql db. Fell free to add o change the project.

Nicola

Il giorno ven 22 feb 2019 alle ore 10:59 Assad (OW2) <
notifications@github.com> ha scritto:

[2019-02-22 11:56] danglotb commented on #704
I did manage to build and test `lutece-core`. I had to create a special user, called `Lutece` in my mysql.

I can now look if we can amplify the tests.

[2019-02-22 12:07] danglotb commented on #704
@assadOW2 were you able to run `pit` or `descartes` on `lutece`? If so, could you explain to me how?

And obviously, the JacocoCoverageSelector won't work, since we need to execute the test through a maven command line, and test runner uses a java command line to compute the coverage.

I'm gonna work on test-runner to make it able to compute the coverage with a maven command.

[2019-02-25 09:39] jesus-gorronogoitia commented on #711
According with Netbeans profiling there is a deadlock between main and ForkJoinPool thread workers, possibly because a parallel stream. I will try to identify the causing code.

[2019-02-25 15:31] jesus-gorronogoitia commented on #711
The problem lays in the TestRunner. I've got its code. There is a thread deadlock. Investigating

[2019-02-26 08:46] jesus-gorronogoitia commented on #711
Finally there is not a deadlock, it just takes an enormous time to complete the tests when number of iterations is 4, and CPU is mostly idle. It tooks 42824149 ms to complete execution. I will further investigate.

[2019-02-26 08:55] danglotb commented on #711
Thank you @jesus-gorronogoitia !

[2019-02-26 09:02] gibello commented on #716
Fine. A lot of interesting things already present in dspot-hands-on project concerning possible user doc... Maybe projects should be merged, or at least a link with explanations could be added somewhere ?

[2019-02-26 09:31] gibello opened #723 ""No enum constant" exception using AllLiteralAmplifier"
#### Characteristics
- **Issue Type**: [bug]
- **Reproducibility**: [always]
- **Severity**: [major]
- **Tool/Service/Component**: [dspot maven plugin]
- **Execution Environment**: [Linux ubuntu 18.04, Java8]
- **Reporter**: [Pierre-Yves Gibello, pyg@ow2.org]

#### Description
Testing dspot on OW2 authzforce project (https://gitlab.ow2.org/authzforce/core).

Maven plugin config:
[code]

Then, "mvn

[2019-02-26 09:40] danglotb commented on #723
Hello @gibello

The syntax to define Input Amplifier is wrong.
You should do something like:

[code]
The following syntax is used for command line: `--amplifiers AllLiteralAmplifier:MethodAdd`.

[2019-02-26 09:42] danglotb commented on #723
That makes me think that the input checking is not done on the input of the maven plugin, but only for the CLI.

It would be great if we have the input checking on the maven plugin's inputs to clearer errors messages.

[2019-02-26 10:00] gibello commented on #723
Fixed the POM, but same error occurs. Looks like the amplifier was properly set (or is never ?).
If I remove the AllLiteralAmplifier it works with just "MethodAdd", no error.

[2019-02-26 10:16] danglotb commented on #723
I obviously mislead you.

The proper String to give is `AllLiteralAmplifiers`, with an `'s'` since this amplifier combines all the literal amplifiers: `StringLiteralAmplifier`, `NumberLiteralAmplifier`, `BooleanLiteralAmplifier`, `CharLiteralAmplifier`

Sorry about that.

[2019-02-26 11:31] gibello opened #724 "PitMutantSelector fails because test suite not green... but mvn test passes"
#### Characteristics
- **Issue Type**: [bug]
- **Reproducibility**: [always]
- **Severity**: [major]
- **Tool/Service/Component**: [dspot maven plugin]
- **Execution Environment**: [Linux ubuntu 18.04, Java8]
- **Reporter**: [Pierre-Yves Gibello, pyg@ow2.org]

#### Description

Testing dspot on OW2 authzforce project (https://gitlab.ow2.org/authzforce/core).

When using PitMutantSelector, the buil

[2019-02-26 12:50] gibello commented on #723
Success. Just a doc (+ syntax checking) issue, no real bug.

[2019-02-26 12:51] danglotb commented on #724
This error occurs when DSpot tries to compute the baseline for amplification, _i.e._ the mutation score of the original test suite (before amplification).

It seems that `authzforce` is a multi-module project. DSpot and PIT work on module level and cannot be applied on the whole project.

I tried to apply DSpot on `pdp-engine`, but still got the same errors.

So I ran manually PIT (because DSpot f

[2019-02-26 13:27] gibello commented on #724
Some tests require an environment variable to be set (comment in authzforce/core/pdp/impl/test/DefaultEnvironmentPropertiesTest.java suggests that AUTHZFORCE_DATA_DIR must be set to "/tmp/authzforce", e.g. with 'environmentVariables' configuration element of Maven Surefire plugin).

If I set AUTHZFORCE_DATA_DIR (export AUTHZFORCE_DATA_DIR=/tmp/authzforce) prior to running "mvn dspot:amplify-unit-t

[2019-02-26 14:14] jesus-gorronogoitia commented on #711
Hi @danglotb This is a quite tricky issue. After spending long time debugging and profiling DSpot behavior over DHell, I have (I think) located the issue in Dhell, but I have no idea why this is happening. I am reporting you so you can have an idea what is going on.
1) EntryPoint.runGivenCommandLine() forks (in another JVM) the execution of the test cases using the eu.stamp_project.testrunner.runn

[2019-02-26 14:32] jesus-gorronogoitia commented on #711
These thread are locked because another thread is executing the same HelloApp() code, it is in RUNNABLE state, but is not being executed, so it does not release the lock. I will investigate is not being executed despite it is in RUNNABLE state.

[2019-02-26 15:55] jesus-gorronogoitia commented on #711
Hi @danglotb I solved it!!!!
Using a ProcessBuilder instead of Runtime.getRuntime().exec().
Code is much more clear. I will polished all my changes, do experiments to be sure results are the same, and I will create a PR.
Do you want me to keep your previous code that is not any longer needed or do you prefer to provide a completely clean code, removing all unneeded methods?.

[2019-02-26 16:01] danglotb commented on #711
Hello @jesus-gorronogoitia

That's great! Thank you!

Cannot wait to see this pull request.

Remove everything that is not used anymore. In the worst case, we have the versioning in GitHub.

Will you create a pull request on [STAMP-project/testrunner](https://github.com/STAMP-project/testrunner)?

[2019-02-26 16:12] jesus-gorronogoitia commented on #711
Hi @danglotb Proposed changes are in TestRunner component, not in DSpot, but to adopt them in DSpot I needed to update DSpot pom.xml to use the TestRunner 2.0.7-SNAPSHOT version. Hence, what should I proposed in my PR? Only changes in TestRunner and you promote them to Dspot updating the pom.xml?

[2019-02-26 16:19] danglotb commented on #711
You can open both pull requests.

However, maybe we can release `testrunner-2.0.7` with the changes, and then merge the pull request that upgrades the test runner's version used in DSpot.

WDYT?

[2019-02-26 16:52] jesus-gorronogoitia commented on #711
Hi @danglotb
I've just created a PR in TestRunner repository. I agree to promote TestRunner to version 2.0.7 once you accept the PR. Please, wait for me to conduct more experiments (tomorrow morning) in order to ensure the functional equivalence of these changes, before accepting the PR.

[2019-02-28 13:35] andrewbwogi commented on #535
I will leave the ChangeDetector selector as it is for now as it seems to be not commonly used. Here is a pull request with fixes for Pit and Clover selectors: https://github.com/STAMP-project/dspot/pull/726. @vmassol, can you check if that pull request fixes your example?

[2019-03-01 12:10] danglotb commented on #535
@andrewbwogi thank you very much for the pull request.

However, since the CloverSelector has been removed since it was unstable and redundant with JacocoSelector, a part of your changes won't be necessary.

I'm gonna review the changes ASAP.

Thank you!

[2019-03-05 13:28] danglotb opened #727 "CI: Enable code coverage on every module"
Since we have a few modules now, we should compute the code coverage over all of them.

For now, it is just computed DSpot - Core.

It would be great to have both: the code coverage per module and an aggregation of the result.

[2019-03-05 14:16] danglotb opened #728 "PERF: Remove dependencies to Maven / Gradle"
Today, we use Maven and Gradle to: 1) compiles the sources, 2) collects the classpath and 3) execute pitest.

This dependency is a serious source of bugs, misunderstanding and is time-consuming.

We could totally remove these dependencies.
1) we ask kindly the user to pre-compile its projects or we give the possibility to use Maven / Gradle to do so.
2) we ask kindly the user to provide the classp

[2019-03-06 08:41] danglotb commented on #728
Asking myself if the execution of pitest should be in a new JVM, and if so, implemented in the [STAMP-project/testrunner](https://github.com/STAMP-project/testrunner).

[2019-03-08 13:24] gibello opened #731 "Maven build fails when no mutation found (should be a warning ?)"
#### Characteristics
- **Issue Type**: [bug]
- **Reproducibility**: [always]
- **Severity**: [minor]
- **Tool/Service/Component**: [dspot maven plugin]
- **Execution Environment**: [Linux Ubuntu 18.04]
- **Reporter**: [Pierre-Yves Gibello, pyg@ow2.org]

#### Description

When unable to provide mutation tests, DSpot maven plugin causes maven build failure.

[INFO] Mutating from /home/gibello/STAMP/

[2019-03-08 13:46] danglotb commented on #731
Hello @gibello

DSpot and PIT work both at module level, you cannot run them at the top of the project.

Your configuration should be something like this:

[code]

You have to specify which module you want to target with the property `<targetModule>`.

In the case of PIT is in error, DSpot stops since it does not have the baseline for the amplification, _i.e._ the mutation score before amplificati

[2019-03-11 10:43] gibello commented on #731
Same error occurs after fixing config. Works with Jacoco (and worked before, as well), but not Pit.

[2019-03-11 11:35] jesus-gorronogoitia opened #732 "New rubbish files created in user directory during DSpot execution."
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: minor
- **Tool/Service/Component**: Dspot (latest version pulled/compiled from GitHub)
- **Execution Environment**: Linux Tumbleweed
- **Reporter**: Jesús Gorroñogoitia<jesus.gorronogoitia@atos.net>

#### Description
After last DSpot update, a  number of apparently random rubbish files are created in DSpot use

[2019-03-11 13:30] danglotb commented on #732
Hello @jesus-gorronogoitia

I guess it is the dhell project that generates this kind of file.

If you apply some input amplifiers, you obtain what you listed: `hel#lo_run3.traces` (replace a char by another one), `'App should return some info'` (reuse an existing string in test), `&W+[(?chr|-` (random string). This name are cleary coming from the amplification.

However, I don't know what to do. I

[2019-03-11 13:34] jesus-gorronogoitia commented on #732
Hi @danglotb
I will check the updates in Dhell tests I got this morning after pulling and I will disable those that are causing the problem. Of course, is this is the case, then, there is nothing to do in DSpot and I will close this issue. Thanks for your feedback.

[2019-03-12 11:55] danglotb opened #733 "Doc: add info on test result in comment for amplified test method."

[2019-03-12 12:01] danglotb opened #734 "Doc: gives a list of best target for DSpot"
Gives the list of good practices on which DSpot works well.

[2019-03-21 10:39] pedrovelho opened #737 "runTasks of GradleAutomaticBuilder fails silently, no error or standard output is log."
#### Characteristics
- **Issue Type**: feature
- **Reproducibility**: always
- **Severity**: feature, block
- **Tool/Service/Component**: automaticbuilder/gradle
- **Execution Environment**: linux, windows
- **Reporter**: Pedro, pedro.velho@gmail.com

#### Description

The method runTasks on class [GradleAutomaticBuilder.java](https://github.com/STAMP-project/dspot/blob/master/dspot/src/main/java/

[2019-03-21 13:59] RicardoTej opened #738 "Multiple amplifiers in DSpot Maven plugin"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: crash
- **Tool/Service/Component**: DSpot Maven plugin
- **Execution Environment**: Linux
- **Reporter**: [Jeús Gorroñogoitia, jesus.gorronogoitia@atos.net] &  [Ricardo Tejada, ricardo.tejada@atos.net]

#### Description

[ERROR] Failed to execute goal eu.stamp-project:dspot-maven:2.0.0:amplify-unit-tests (defa

[2019-03-21 15:32] fviale commented on #737
The issue we have currently when trying to run dspot gradle task is the following exception appearing in the output:
[code]

The same issue appears on various environments we tested on (linux and mac, jenkins slave, laptop, etc), so we don't think it is environment related.

We can see that the java command spawned from the gradle build failed with exit code 1, but the output of this java command

[2019-03-27 09:33] andrewbwogi commented on #667
Hi @danglotb, I'll investigate this.

[2019-03-27 11:51] jesus-gorronogoitia commented on #738
I confirm this issue. It is preventing us from adopting DSpot in out Jenkins CI. Only one amplifier can be used at a time. I assume solving it is straightforward, as it seems it is not managing correctly the list of amplifies separated by colon, which are passed as a whole to the Enum for resolution.

[2019-03-27 13:10] #711 closed

[2019-03-27 13:11] #732 closed

[2019-04-03 14:06] danglotb commented on #737
Hello, thank you for reporting this issue. In fact, the Gradle support is kinda unstable.

The problem is that I cannot reproduce the errors, since it is working on my laptop and jenkins.

[2019-04-03 14:06] danglotb commented on #738
Hello, thank you for reporting this. I'm gonna investigate the issue.

[2019-04-03 14:13] danglotb commented on #738
I am afraid that this is a misuse. In fact, when provided a list as an argument to a maven goal on the command line, we must separate elements with a colon (as you said) `,` and we do not have to use the system path separator.

However, I'll provide a new feature that split the argument if it contains only one element and the system path separator and initializer correctly the list of amplifiers t

[2019-04-03 14:15] fviale commented on #737
Thank you @danglotb, we overcame this issue by understanding it was a wrong parameter. in the command line. We understood this by using the dev/master version instead of the released 2.0.0 version. The released version did not print enough information to help us understand.

[2019-04-03 14:17] danglotb commented on #737
You mean that the issue has been corrected in a patch after the version `2.0.0` of **DSpot**?

[2019-04-03 14:25] fviale commented on #737
The issue regarding displaying some information that helps us continue our testing, yes.

But the suggestion we do in issue 737 is to allow printing the output when the gradle build fails (print the output and error streams of the process in the catch Exception block).

[2019-04-03 15:28] #723 closed

[2019-04-03 15:28] #724 closed

[2019-04-03 15:49] danglotb commented on #738
I just merged #739. You should no longer encounter this issue.

[2019-04-03 15:49] #738 closed

[2019-04-04 05:32] borisbaldassari opened #740 "Question: Example provided in readme fails"
#### Characteristics
- **Issue Type**: bug/question
- **Reproducibility**: always
- **Severity**: minor*
- **Tool/Service/Component**: [name, version]
- **Execution Environment**: Linux (Debian 9), 64 bits, JDK Oracle 1.8.0_201
- **Reporter**: see github login

#### Description

When I try to run the example provided in the main readme file, it fails with the following message:
[code]

I'm probabl

[2019-04-04 06:27] borisbaldassari opened #741 "Question: Getting NPE when running dspot"
#### Characteristics
- **Issue Type**: question/bug
- **Reproducibility**: always
- **Severity**: major
- **Tool/Service/Component**: Dspot
- **Execution Environment**: Linux Debian 9, amd64, JDK Oracle 1.8.0_201
- **Reporter**: see github login

#### Description

I want to apply dspot to dspot. So I created the following properties file:
[code]

And executed in the dspot directory the following c

[2019-04-04 06:36] danglotb commented on #740
Hello @borisbaldassari

Thank you for reporting this issue.

It seems that you are using the jar of dspot, _i.e._ `dspot-2.0.1-SNAPSHOT`, and not the complete jar with dependencies, _i.e._ `dspot-2.0.1-SNAPSHOT-jar-with-dependencies`.

The correct command line would be :

[code]

please tell me if you are able to run the provided example with this jar.

[2019-04-04 06:45] danglotb commented on #741
Hello,

In one hand, If you want to run DSpot on DSpot, you should extract the running jar from the target folder because the first thing that DSpot does is the launch the following maven goals:

[code]

And thus, the jar that you are executing is removed. From this jar, DSpot copies some classes required to observe the state of the program.

In the other hand, the required classes should be loade

[2019-04-04 08:23] borisbaldassari commented on #740
Fair enough, it works when using the correct command line. Dont know how i overlooked that..
Thank you Benjamin!

[2019-04-04 08:23] #740 closed

[2019-04-04 08:31] borisbaldassari commented on #741
Hey Benjamin,
Good point for the jar vanishing. I copied it elsewhere and reran the execution. It's going a bit further but it is still failing, see attached log.

[dspot.txt](https://github.com/STAMP-project/dspot/files/3042457/dspot.txt)

Regarding the `NUL` file, what I meant was: there is a file, called 'NUL', with the mentioned content.
Anyway it's not generated anymore so it was probably due

[2019-04-04 13:41] danglotb commented on #728
Working on this lately. I just merged STAMP-project/testrunner#67 which implement a way to execute PIT in the test runner.

The next steps are:

- [ ] create common API to either use the new way or the old way to execute PIT.
- [ ] create an optional command-line option to specify a classpath / dependencies (since we do not want to necessarily use maven / gradle to do so).
- [ ] replace all old ca

[2019-04-05 09:09] andrewbwogi commented on #667
Here's a small update. I've explored assertion generation in [MethodsAssertGenerator.buildTestWithAssert](https://github.com/STAMP-project/dspot/blob/9eaa5251d13fec2171b0141f36eba353f30f246e/dspot/src/main/java/eu/stamp_project/dspot/assertgenerator/MethodsAssertGenerator.java#L140) and [AssertBuilder.buildAssert](https://github.com/STAMP-project/dspot/blob/9eaa5251d13fec2171b0141f36eba353f30f246e

[2019-04-05 09:30] danglotb commented on #667
Hello @andrewbwogi

thank you for taking care of this.

Yes, I think it is the first thing to do. I think that DSpot does generate statement to observe states of arrays, but I'm not sure.

Also, you should have a look to [ObjectLog](https://github.com/STAMP-project/dspot/blob/master/dspot/src/main/java/eu/stamp_project/compare/ObjectLog.java#L30), and check if the values are actually collected.

T

[2019-04-05 11:02] danglotb commented on #704
Hi, should we keep this issue open?

[2019-04-05 12:23] Smorka opened #742 "Hangs when testing"
#### Characteristics
- **Issue Type**: test report
- **Reproducibility**: always
- **Severity**: block
- **Tool/Service/Component**: dspot 2.0.1
- **Execution Environment**: ubuntu, virtualbox
- **Reporter**: Sverre Morka

#### Description
Trying to execute dspot using the guidelines on GitHub. It seems to be hanging after a while. Tried waiting approximately 2 hours.
[code]

#### Steps to reprodu

[2019-04-05 14:06] danglotb commented on #742
Hello @Smorka

We can see in the log:

[code]

This means that DSpot was running PIT on tellulib.

Running PIT can take hours, even days. What we can do is enable the verbose mode of DSpot, in order to print the evolution of PIT.

Add to your command line `--verbose`.

Computing mutation score takes a lot of time because it runs a lot, I mean **A LOT** of time the tests.

On one hand, you can use

[2019-04-05 14:22] gibello commented on #704
@danglotb Concerning Lutece itself, a reminder of how to run tests (not sure you were aware of the last tip, at the end of this comment):

Install MySQL ("sudo apt-get install mysql-server")
Create a user in mysql, or set "root" user password to "motdepasse".
If using your own db user, change "root" and "motdepasse" (put your own user/passwd instead) in lutece-core/webapp/WEB-INF/conf/db.propertie

[2019-04-08 08:11] monperrus opened #744 "maven-plugin amplify-unit-tests fails"
trying to run `mvn eu.stamp-project:dspot-maven:amplify-unit-tests` on https://github.com/SpoonLabs/metamutator/

it fails with

[code]

[2019-04-08 08:25] monperrus opened #745 "improve console output to tell where the generated tests are"
When DSpot ends, it is written on the console `Amplification results with 22 amplified tests.`

However, the user does not know where to look ta the tests.

The message should tell where to look at the tests:

[code]

[2019-04-08 08:40] monperrus commented on #262
today, in our Claremont meeting, the generated tests are fully-qualified.

reopening this issue.

[2019-04-08 09:02] monperrus opened #747 "rename `filter` property"
rename `filter` property into `pit_filter_classes_to_keep`

(suggested by @kejsardamberg)

[2019-04-08 09:34] danglotb commented on #744
Hi thank for reporting this.

`dspot-maven-plugin` has also another issue with [TAF](https://github.com/claremontqualitymanagement/TestAutomationFramework).

see below:

[code]

Investigating both.

[2019-04-08 12:18] danglotb commented on #744
DSpot was failing on metamutator because of the class in the default package.

When no filter is specified, DSpot computes a filter on the fly and this filter was not correct.

#748 should fix it.

I'm gonna open a new issue for TAF, because it is not the same issue.

[2019-04-08 12:20] danglotb opened #749 "Bug: Cannot find default setter for parameter project in class org.apache.maven.project.MavenProject"
`dspot-maven-plugin` has an issue with [TAF](https://github.com/claremontqualitymanagement/TestAutomationFramework).

see below:

[code]

Investigating.

[2019-04-08 12:38] danglotb commented on #747
#750 rename the property `filter` to `pitFilterClassesToKeep` (Camel case)

[2019-04-08 13:18] danglotb commented on #749
This is not a bug, but more a misuse.

This happens because there is in the  `pom`:

[code]

In particular, the `configuration` of the `project`, which is wrong.

Removing the `dspot-maven` plugin allows to run the following command:

[code]

@kejsardamberg if you have any question on how to configure the maven plugin, please open a new issue, or drop a pull request on the documentation or anythin

[2019-04-08 13:18] #749 closed

[2019-04-08 13:19] #744 closed

[2019-04-09 08:58] danglotb commented on #745
I improved the whole report procedure on test selector results, errors and output.

An example below:

[code]

The order is as follow, first, it outputs the result for each test class that has been amplified according to the test criterion, here one test class using PIT, then it outputs the errors encountered during the amplification, and finally, a summary of the result and where to find amplifie

[2019-04-09 09:19] vmassol commented on #684
Idea: call a plugin from inside your mojo. Here's how we do it on XWiki:

https://github.com/xwiki/xwiki-commons/blob/433f37885bf1941540542714ca24b3391ea6cf36/xwiki-commons-tools/xwiki-commons-tool-xar/xwiki-commons-tool-xar-plugin/pom.xml

[2019-04-09 10:04] kejsardamberg opened #752 "Is it possible to specify multiple amplifiers from CLI?"
#### Characteristics
- **Issue Type**: Question
- **Severity**: minor
- **Tool/Service/Component**: [DSpot, 2.0.0]
- **Reporter**: [Jörgen Damberg]

#### Description
Maybe I've browsed through the documentation too quickly, but I can't find if it's possible to use multiple amplifiers for DSpot from CLI.

[2019-04-09 10:22] danglotb commented on #752
Hello @kejsardamberg

You can specify multiple amplifiers using the command line as follow:

`--amplifiers Amplifies1:Amplifier2:...:AmplifierN`.

For example, I want to run both Input amplifiers `AllLiteralAmplifiers` and `MethodGeneratorAmplifier`. I'll use: `--amplifiers AllLiteralAmplifiers:MethodGeneratorAmplifier`

Here, I used `:` as a separator because I am on Linux. However, you must use

[2019-04-09 10:28] danglotb commented on #728
Follow the changes in #753

[2019-04-09 12:09] danglotb commented on #262
It happens because DSpot tries to compile at the end of the process and if it does not succeed, it prints the amplified test class using fullqualified names (no imports) in order to avoid problems when reusing the amplified test class.

I'm looking at why there are some compilation errors.

[2019-04-09 12:30] pedrovelho opened #754 "DSpot gradle plugin generate 0 new tests always."
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: block
- **Tool/Service/Component**: dspot 2.0.1
- **Execution Environment**: linux ubuntu
- **Reporter**: pedro, pedro.velho@gmail.com

#### Description

DSpot on *ProActive Catalog* allways generate 0 new tests independently of the type of amplification used. Tried all of them.

[code]

#### Steps to reproduc

[2019-04-09 15:45] jesus-gorronogoitia opened #757 "Support passing required extra Maven configuration to DSpot"
#### Characteristics
- **Issue Type**: feature
- **Reproducibility**: always
- **Severity**: feature
- **Tool/Service/Component**: DSpot
- **Execution Environment**: Linux
- **Reporter**: Jesús Gorroñogoitia <jesus.gorronogoitia@atos.net>

#### Description
Atos UC Supersede IF module needs to be build with Maven by accessing some repositories whose access is restricted by credentials. As these cre

[2019-04-09 15:46] danglotb commented on #731
Hello @gibello

Should we close this issue?

[2019-04-09 15:49] danglotb commented on #757
Hi @jesus-gorronogoitia

Thank you for the issue.

A way to do this is to extend the usage of the property `maven.pre.goals`.

I'll open a pull request ASAP with this new feature.

[2019-04-09 15:53] danglotb opened #758 "DSpot 2.1.0 release"
Announcing the new release of DSpot.

A lot of change occurs recently, and it is time to release time.

Waiting for #726, ~~#736~~, ~~#750~~, ~~#751~~, #753, ~~#755~~ and #757 to be merged/closed/resolved.

The current change log is:

# New features

* Split now the value of parameter amplifiers and init well the list.
* Recover from errors when first exec of tests.
* Forbid the class java.net.URL

[2019-04-09 16:04] jesus-gorronogoitia commented on #757
Hi @danglotb
I've been able to fix this issue in our Jenkins CI by setting correctly the default settings.xml. Nonetheless, if you don't mind, I prefer to keep it open, with low priority, in case you eventually have time to implemented, because I think this feature is important to pass parameters to Maven if needed when DSpot is executing the forked Maven executions. Thanks a lot.

[2019-04-10 07:06] #745 closed

[2019-04-10 07:35] pedrovelho commented on #754
If I turn on all the amplifiers I get the following exception over and over again.

[code]

[2019-04-10 07:56] jesus-gorronogoitia commented on #754
Increase you JVM heap size with flag -Xss1024K, for instance in DSpot CLI:` java -Xss1024K ...`
Try with higher heap sizes if still not working. Let me know. I will investigate whether or not DSpot is entering in a deep recursion therein.

[2019-04-10 10:49] pedrovelho commented on #754
Same after increasing heap size to 4 MB.

[code]

[2019-04-10 11:27] jesus-gorronogoitia commented on #754
I will investigate the recursion stack on this execution point.

[2019-04-10 11:53] #747 closed

[2019-04-10 14:36] danglotb commented on #754
I'm not sure that using all the amplifiers at the same time is the best strategy. I suggest you use a subset like: `AllLiteralAmplifiers:MethodAdd:MethodRemove:MethodGeneratorAmplifier`.

Also, you can play with the number iterations with `--iteration <nb>` and `--max-test-amplified <integer>`

Finally, I advise you to not run DSpot on all test at the same time.

You should prefer to run it on a s

[2019-04-11 09:37] pedrovelho commented on #754
Hi thanks for the suggestion. So to make clear what I did until now:

* I ran on a single test using
`java -jar dspot-2.0.0-jar-with-dependencies.jar --path-to-properties dspot.properties --automatic-builder GradleBuilder -t org.ow2.proactive.catalog.service.BucketServiceTest --verbose`

I figure out the exception

* I ran on a single test using the master branch of dspot, get rid of exception but

[2019-04-11 17:10] danglotb commented on #754
There is a problem during amplification, as said in the logs.

Could you provide me the whole trace?

[2019-04-12 09:01] pedrovelho commented on #754
I sent the files by e-mail.

* Example with zero new tests created:
`java -jar ~/.m2/repository/eu/stamp-project/dspot/2.0.1-SNAPSHOT/dspot-2.0.1-SNAPSHOT-jar-with-dependencies.jar --path-to-properties ./dspot.properties --automatic-builder GradleBuilder -a TestDataMutator -t org.ow2.proactive.catalog.dto.BucketMetadataTest --verbose > dspot_catalog_BucketMetadataTests.log 2<&1`

* Example that gi

[2019-04-15 07:23] gibello commented on #731
Hi @danglotb,
Is it fixed ? Or considered a "functionality" properly documented ? I did not try again.

[2019-04-15 07:35] danglotb commented on #752
Closing this issue. Do not hesitate to reopen it or open a new one. Thank you.

[2019-04-15 07:35] #752 closed

[2019-04-15 07:36] danglotb commented on #742
Closing this issue. Please reopen it or open a new one. Thank you.

[2019-04-15 07:36] #742 closed

[2019-04-15 07:45] #706 closed

[2019-04-15 07:53] danglotb commented on #704
Closing this issue. Please reopen it or open a new one. Thank you.

[2019-04-15 07:53] #704 closed

[2019-04-15 07:54] danglotb commented on #669
Closing this issue. Please reopen it or open a new one. Thank you.

[2019-04-15 07:54] #669 closed

[2019-04-15 07:54] danglotb commented on #673
Closing this issue. Please reopen it or open a new one. Thank you.

[2019-04-15 07:54] #673 closed

[2019-04-15 07:55] danglotb commented on #635
Closing this issue. Please reopen it or open a new one. Thank you.

[2019-04-15 07:55] #635 closed

[2019-04-15 07:55] danglotb commented on #633
Closing this issue. Please reopen it or open a new one. Thank you.

[2019-04-15 07:55] #633 closed

[2019-04-15 07:55] danglotb commented on #626
Closing this issue. Please reopen it or open a new one. Thank you.

[2019-04-15 07:55] #626 closed

[2019-04-15 07:55] danglotb commented on #623
Closing this issue. Please reopen it or open a new one. Thank you.

[2019-04-15 07:55] #623 closed

[2019-04-15 07:55] #614 closed

[2019-04-15 07:56] danglotb commented on #592
Closing this issue. Please reopen it or open a new one. Thank you.

[2019-04-15 07:56] #592 closed

[2019-04-15 07:56] danglotb commented on #557
Closing this issue. Please reopen it or open a new one. Thank you.

[2019-04-15 07:56] #557 closed

[2019-04-15 07:56] danglotb commented on #555
Closing this issue. Please reopen it or open a new one. Thank you.

[2019-04-15 07:56] #555 closed

[2019-04-15 07:57] danglotb commented on #468
I'm closing this issue since there is a dedicated repository for this.

[2019-04-15 07:57] #468 closed

[2019-04-16 13:20] danglotb opened #762 "BUG: Gregor does not work with Gradle"
reported by @pedrovelho

[2019-04-16 13:47] pedrovelho opened #763 "Generate tests when mutant should be killed"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: block
- **Tool/Service/Component**: dspot 2.0.1 master branch
- **Execution Environment**: linux/gradle/java8
- **Reporter**: Pedro, pedro.velho@activeeon.com

#### Description

With an artificial target class:

[code]

And a simple test:

[code]

We obtain the 1 new test while the mutant is expected to be kil

[2019-04-17 07:12] danglotb commented on #737
Fixed with #764

[2019-04-17 07:12] #737 closed

[2019-04-17 07:54] pedrovelho commented on #763
Tried after the merge of [PR 764](https://github.com/STAMP-project/dspot/pull/764). If we remove  `AssertThat("asd6").isEqualTo(t.getA()); ` the new test is amplified it works generating the test below.

[code]
However a new test is still detected if we put the  `AssertThat("asd6").isEqualTo(t.getA()); `.

[2019-04-17 09:37] danglotb commented on #763
Hi @pedrovelho

I run on my side on obtained the following output:

[code]

I copy paste the new test:
[code]

and rerun dspot with the same command line and obtained:

[code]

Could you check that you have the same mutation score for the original test suite?
`The original test suite kills XXX mutants`
We can see that before amplification, it was 234, the amplification results with one test method

[2019-04-17 09:51] pedrovelho commented on #763
Hi @danglotb  same command line means:

`java -jar ~/stamp/dspot/dspot/target/dspot-2.0.1-SNAPSHOT-jar-with-dependencies.jar --path-to-properties ./dspot.properties --automatic-builder GradleBuilder -t org.ow2.proactive.catalog.service.CatalogObjectServiceTest -c testDspotTest --verbose`

?

[2019-04-17 10:01] danglotb commented on #763
Yes, this is exactly the same command line that I used.

Here, my properties file:

[code]

[2019-04-17 10:31] pedrovelho commented on #763
I checked out the last version of `build.gradle`, I certify that all pit references are auto generated.

After I manually added the amplified test I have :

[code]

With the original test I have:

[code]

I don't have the same amount of mutants killed. However the result is as expected since it have 1 new amplified that is also killed in the end.

Is  it normal it generates 234 mutants on a single

[2019-04-17 10:37] danglotb commented on #763
For the baseline, DSpot should compute the mutation score for the whole test suite.

Here, PIT generates almost 700 mutants and the test suite kills 234 of them.

Surprisingly, you have 0 mutant killed by the original test suite.

Please, check your properties file, in particular, the `filter` (that has been renamed `pitFilterClassesToKeep`), I remember that we modified it yesterday.

[2019-04-17 10:51] pedrovelho commented on #763
Thanks @danglotb you did put a filter for only the class we are testing yesterday. With a clean properties it indeed shows the same results as you see.

[code]

I just ran the assertion amplification with all tests cd
and still got 0 new tests, does it means catalog is strong enough so no assert amplification is proposed?

[2019-04-17 13:19] danglotb commented on #763
Yes, it is possible. Another explanation can be the fact that values of catalog are a bit hinder, and DSpot is not able to generate assertions that reach them.

I recall you that DSpot will generate assertions only on getters, _i,e,_ public methods that start with `get`, `is`, `should`, `has`, etc that do return something, _i,e,_ the return type is different than `void`, and that do not any take p

[2019-04-17 13:25] pedrovelho commented on #763
Thanks, meanwhile I will try one-by-one input amplifiers.

[2019-04-17 13:42] danglotb commented on #763
Seems fair. You can have a look at the logs and try to find out if any problems occur during the amplification.

[2019-04-18 07:23] pedrovelho commented on #763
I still have 0 new tests kept trying amplifiers one-by-one. I will investigate more if I can see something different.

[2019-04-18 09:40] nicolabertazzo commented on #179
Hi @danglotb

This command line properties is not documented:

- path-to-test-list-csv

This dspot.proerties properties is not documented:

- configPath

The name of this dspot.properties is not clear:

- folderPath

I suggest to add a description of this properties also in dspot-diff-test-selection (because it's mandatory when you want to use dispot-diff)

[2019-04-18 09:44] nicolabertazzo opened #768 "Documentation: Improve Dspot diff documentation"
#### Characteristics
- **Issue Type**:  feature
- **Reproducibility**: always
- **Severity**: feature
- **Tool/Service/Component**: dispot-diff / documentation
- **Execution Environment**:
- **Reporter**: @nicolabertazzo , nicola.bertazzo@eng.it

#### Description
Hi @danglotb,

Some properties used to execute Dspot diff are not documented.

This command line properties is not documented:

- path-t

[2019-04-18 12:34] danglotb commented on #768
Hello @nicolabertazzo

Is no longer needed nor available.

It is not. The **dspot-diff-test-selection** does not need any properties file. It is if you want to run sequencially **dspot** and **dspot-diff-test-selection**.

Thank you, I added specific options of the maven plugin.

Please review #769

[2019-04-19 07:57] nicolabertazzo commented on #768
Tnx @danglotb ,

I found the [maven property ](https://github.com/STAMP-project/dspot/blob/cff8374103a540498dfc8799d15e97dfcf932e2f/dspot-maven/src/main/java/eu/stamp_project/DSpotMojo.java#L228).

I'll test it and I'll update.

[2019-04-19 10:35] nicolabertazzo commented on #768
I tested maven properties with the SNAPSHOT version and it works.
I'll wait the stable version to integrate it on CI/CD in Jenkins.

[2019-04-19 11:56] pedrovelho commented on #763
#765 broke gradle support :

[code]

[2019-04-19 12:00] pedrovelho commented on #763
Fixed after restoration of `gradle.build`

[2019-04-19 12:11] danglotb commented on #763
Hello @pedrovelho

How does your experimentation progress? What are you doing? Did you try to combine input amplifiers?

Could you provide me some execution traces for a given test class? To see either it is going through the whole amplification process without trouble or if there are some issues.

Best.

[2019-04-19 12:36] pedrovelho commented on #763
Using only assert amplification, I have:

[code]

Which seems good since I have a few survived mutants. However, the output shows always 0 new tests.

[code]

It seems strange that it always shows 237 mutants. Could not find any example that leads to new tests until now.

[2019-04-19 13:00] danglotb commented on #763
Could you provide me the whole execution traces?

[2019-04-19 13:13] pedrovelho commented on #763
Here it goes.
*Pedro VELHO*
R&D Software Engineer
http://www.activeeon.com/
*TRY* *ProActive* *@try.activeeon.com* <https://try.activeeon.com/>

ActiveEon is an Open Source ISV offering *automation and scalability
solutions* for IT, Big Data and Internet of Things (IoT) with job
distribution and parallelization allowing *acceleration of business
processes and reduction of infrastructure costs*. Ac

[2019-04-19 13:15] pedrovelho commented on #763
Send you by e-mail.

[2019-04-19 13:38] danglotb commented on #763
Did you reset your `gradle.build` file?

The errors message is the following:

[code]

This means that DSpot injected its task into a `gradle.build` that already have the task injected by DSpot.

Please, `checkout` your `gradle.build`.

[2019-04-19 13:49] pedrovelho commented on #763
yes I had to do it, and then I have got these logs I sent you.

[2019-04-19 14:06] danglotb commented on #763
It is perfectly normal that the original mutation score is the same between run. It would be modified only if you introduce changes in your source code (the total number of mutants would be modified) or in your test code (the number of mutant killed would be modified).

I'm not able to obtain the same error message.

I'm convinced that this is an issue with your `gradle.build` file. Maybe there is

[2019-04-19 17:48] pedrovelho commented on #763
Hi,

Thanks for the feedback.

I am not sure we are talking about the same issue.  The build.gradle issue
was fixed way before with a checkout as you suggested. Please check this
history to see for yourself. The last log i sent was the execution with the
updated dspot version and a clean checkout of build.gradle.

There is an exception in the last logs, but it does compile and build.
Descartes gen

[2019-04-24 11:21] #768 closed

[2019-04-26 08:39] pedrovelho commented on #763
@danglotb any news about this issue?

[2019-04-26 12:47] danglotb commented on #763
Hi,

Are you talking about:
[code]

For me, this error comes from the fact that your `gradle.build` is already instrumented and thus dspot is not able to inject the required tasks.

[2019-04-26 13:00] pedrovelho commented on #763
No not this one, indeed the last log I send to you had this error. This error occour after any update on dspot, it is like it is unable to detect the descarte rule was already added. This one indeed need just a clean build.gradle file to be corrected. Whenever I fix this I still have no new tests detected even if there is SURVIVED mutants. Is this a problem on DSpot? Or DSpot is unable to add test

[2019-04-26 13:18] danglotb commented on #763
You mean that the amplification seems to be completed but no amplified test improve the mutation score?

Could you try to couple some input amplifiers, _e.g._ using `--amplifiers  MethodAdd:AllLiteralAmplifiers`?

Could you try to increase the instruction coverage using the dedicated test criterion selector, _ i.e._ `--test-criterion JacocoCoverageSelector`?

If you have a machine that has a lot o

[2019-04-26 13:34] pedrovelho commented on #763
Hi, I already tried combined amplifiers and this does not seems to help. I tried 2, 3, and all combined. Since we have 12 amplifiers, it will be 12! = 0.5 billion possible combinations. When you say a couple what you have in mind exactly?

I already tried JacocoCoverage and increase the memory for JVM give the same kind of output, and yes it take half a day to execute. But I have never had several

[2019-04-29 12:23] danglotb commented on #763
Hello,

After merging #776, I have been able to obtain amplified test methods that increase the mutation score.

here following setup:

catalog commit: `588a64be6a2cc5dd2d89280f8a41307762714c43`

dspot.properties file:
[code]

You must update the value of the `project` property.

The command line options used:
[code]

The final textual report is:

[code]

Could you try to reproduce this use case #

[2019-04-29 13:25] pedrovelho commented on #763
Hi awesome work @danglotb it does generate tests this time. Thanks a lot. I will take a look on the generated tests.

Best regards,
I believe we can close this issue now.

[2019-04-29 13:25] #763 closed

[2019-04-30 08:05] monperrus opened #777 "study the optimal configuration of amplifiers"
We should have a default optimal configuration of amplifiers, and maybe a set of 2/3 alternative ones.

Zeming Dong will work on this.

[2019-04-30 08:34] #364 closed

[2019-04-30 11:36] danglotb opened #779 "Feat: support gradle project in DSpot-diff-test-selection"
For now, **DSpot-diff-test-selection** can be applied only on maven program and prevent @pedrovelho to use it on Activeeon use case.

However, there are only a few things to do to make it executable on gradle projects:

- [ ] add a command line option to specify that we need to use gradle
- [ ] implements a way to execute Clover with gradle in [`eu.stamp_project.diff_test_selection.clover.CloverEx

[2019-04-30 13:52] #731 closed

[2019-05-02 07:26] danglotb commented on #754
Hello,

@jesus-gorronogoitia are you still investigating this?

[2019-05-03 10:50] danglotb opened #781 "TEST: refactor test suite and test resources"
Currently, the test suite carries a lot of states. Taking care of resetting and cleaning this state is tedious, error-prone and not always possible.

Also, the sample test resources project is not well-formed since it mixes junit4 and junit5 tests. An issue is that the `mvn test` command line does not match junit5 tests cases.

- [ ] remove redundant test resources
- [ ] make the sample project wo

[2019-05-06 07:16] jesus-gorronogoitia commented on #754
Hi,

No at this moment. The time I have available for STAMP I am using for improving DSpot performance and Atos UC validation. I will try to address this heap recursion issue as soon as I complete the parallel test execution in DSpot: optimization#6.

Sorry for this.

Yosu

On 2/5/19 9:26, Benjamin DANGLOT wrote:

Hello,

@jesus-gorronogoitia<https://eur01.safelinks.protection.outlook.com/?url=htt

[2019-05-06 08:43] danglotb commented on #754
Hello @jesus-gorronogoitia

Don't be. Just asking if we should let this issue open or not. Thank you!

[2019-05-07 15:48] #535 closed

[2019-05-10 09:44] danglotb opened #787 "FEAT: predict the number of test methods produce for each input amplifier"
It would be great that, given a test method, an input amplifier is able to compute how many test methods it will produce.

The challenge in this issue is to not the loose performance and not do twice the same thing, _e.g._ getting all the literal that could be modified by the `AllLiteralAmplifiers`

This will be the first step for optimization on Budgetizer: ask the exact number of test methods to

[2019-05-11 06:29] danglotb opened #788 "FEAT: Budget mechanism for the principal loop of DSpot"
Hi,

I propose to implement an interface that represents the budget allocated to the amplification of one test class, particularly for the main loop of DSpot.

For now, we can specify a given number of iteration. The problem is that the time execution can vary a lot between different run.

One first step is to provide an interface and mechanism (breaking the current process if the budget is consum

[2019-05-11 06:31] danglotb commented on #787
Hi @Deeplus, You can have a look at this maybe. It will allow you to go through different input amplifiers and input budgetizers without necessarily need to know every piece of DSpot.

[2019-05-13 13:25] nicolabertazzo commented on #758
Hi @danglotb,
When do you plan to release DSpot 2.1.0 in maven central?
I need it to define a pipeline and test dspot diff in a multi module maven project.

[2019-05-13 14:39] danglotb commented on #758
Hello @nicolabertazzo

I can release right now if you need. The issues that were announced to be included in the release will take some times to be developed.

I'll release in a few minutes.

[2019-05-13 14:49] jesus-gorronogoitia opened #791 "Exceptions when running DSpot over JUnit5 version of DHell"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: major
- **Tool/Service/Component**: DSpot, lastest from sources
- **Execution Environment**: Linux
- **Reporter**: Jesús Gorroñogoitia(jesus.gorronogoitia@atos.net)

#### Description
For testing DSpot parallel execution support for JUnit5, I've created JUnit5 version of DHell tests in
[DHell dspot_optimization

[2019-05-13 15:26] danglotb commented on #791
Looking at this

[2019-05-13 15:33] danglotb commented on #758
`dspot-2.1.0` has been released. It will available on maven central soon.

- [ ] TODO: Announce the release.

[2019-05-14 09:29] Deeplus commented on #787
Hi @danglotb, I am trying to reproduce DSpot and follow your advice.  Contact later.

[2019-05-14 13:27] nicolabertazzo opened #793 "Problem executing dspot-diff-test-selection:list with a fresh patch.diff file generated from diff unix command"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: major
- **Tool/Service/Component**: diff-test-selection
- **Execution Environment**: Ubuntu 18.04.2 LTS
- **Reporter**: Nicola Bertazzo

#### Description
Problem executing eu.stamp-project:dspot-diff-test-selection:2.1.0:list without patch.diff or with a patch.diff created from diff unix command.

#### Steps t

[2019-05-14 13:49] nicolabertazzo commented on #793
It works if the patch.diff is generated with
`git diff > patch.diff
`

[2019-05-14 15:34] danglotb commented on #793
Hi @nicolabertazzo

I'm working on it.

When you do not specify a path to a patch file, `DSpot-diff-test-selection` tries to generate one but it seems that this generation is buggy.

[2019-05-14 20:17] olibou6 opened #794 "Add feedback URL to README.md Contributing section"
#### Characteristics
- **Issue Type**: [Documentation]

#### Description
This will allow early users who download DSPOT directly from github to fill the STAMP beta-test online survey. Thank you.

[2019-05-15 09:19] danglotb commented on #793
Hello, #795 should fix the issue.

[2019-05-15 12:02] #794 closed

[2019-05-16 14:52] danglotb commented on #793
#795 has been merged. Please reopen this issue if you have any more trouble.

[2019-05-16 14:52] #793 closed

[2019-05-16 14:52] #758 closed

[2019-05-17 08:46] nicolabertazzo commented on #793
I test it on 2.1.1-SNAPSHOT and it works!

[2019-05-17 13:28] gibello opened #798 "targetModule in properties file causes dspot to exit immediately with no result"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: major
- **Tool/Service/Component**: DSpot maven plugin 2.1.1-SNAPSHOT
- **Execution Environment**: Ubuntu Linux 18.04
- **Reporter**: Pierre-Yves Gibello, pyg@ow2.org

#### Description

When specifying a targetModule in DSpot properties file, DSpot maven plugin runs fine, but exits with "BUILD SUCCESS" within

[2019-05-17 13:42] gibello opened #799 "NullPointerException using DSpot maven plugin"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: crash
- **Tool/Service/Component**: DSpot maven plugin 2.1.1-SNAPSHOT
- **Execution Environment**: Ubuntu Linux 18.04
- **Reporter**: Pierre-Yves Gibello, pyg@ow2.org

#### Description

DSpot crashes with NPE. Seems related to reporting ?

#### Steps to reproduce

Tested on authzforce core project (https://git

[2019-05-17 13:46] nicolabertazzo commented on #681
Hi @danglotb,

I test it on this example project:
https://github.com/nicolabertazzo/dspot-diff-multimodule-test
and it doesn't work.

I executed these commands:
[code]

All the diff are worng:

[code]

I tried also to add module parameters on taver and App, but the result is the same.
Do you have any Hints?

[2019-05-17 14:12] danglotb commented on #798
Hi @gibello

Thank you for reporting this.

There is an issue between default values and (not) specified values in the properties.

I'll work on this and propose a fix ASAP.

Meanwhile, you can either specify the `project` property in your properties file or use `dspot-maven` from your module instead of from its parent.

For the latter option, you may face classpath issue and need to run `mvn depe

[2019-05-20 08:06] gibello opened #800 "DSpot maven plugin generates a file called NUL (!) in current directory"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: minor
- **Tool/Service/Component**: DSpot maven 2.1.0 release
- **Execution Environment**: Ubuntu linux 18.04
- **Reporter**: Pierre-Yves Gibello, pyg@ow2.org

#### Description

When running DSpot maven plugin on the DSpot example project, a file called "NUL" is generated (with some logs inside).

#### Steps t

[2019-05-21 06:04] monperrus opened #801 "demo web interface for DSpot"
we can have a demo web interface for DSpot. there would be two input fields: URL to a repo and email. People would submit their repo, Dspot would be run on the latest version, and the result email would be sent.

This is directly inspired by http://commit.guru/ (the code is online, we may reuse it)

Under discussion at KTH.

[2019-05-21 06:06] monperrus opened #802 "parallelize dspot on Kubernetes"
it would be great to parallelize Dspot. Kubernetes is a nice technology for this.

Parallelization could be done at the test level or amplifier level.

(under discussion at KTH)

[2019-05-21 07:58] gibello commented on #801
If based on the maven plugin, I have part of the code: a (not yet committed, still some pending issues) dspot invoker, and a Git cloner already committed in stamp-ci (https://github.com/STAMP-project/stamp-ci/blob/master/stamp-cicd-utils/src/main/java/eu/stamp_project/cicd/utils/git/GitCloner.java ).

[2019-05-21 07:59] monperrus commented on #801
excellent, good to know.

looking forward to it.

[2019-05-21 08:09] danzone commented on #801
Consider to use also the code developed by @luandrea, based on EGit Eclipse library (Luca also contributed to this library, adding support for web proxies: his contribution now is officially part of Eclipse library): https://github.com/STAMP-project/botsing-github-app/blob/master/src/main/java/eu/stamp/botsing/service/GitHubService.java In this class you can reuse several methods to open, for inst

[2019-05-21 08:15] monperrus commented on #801
Will be super useful, could you document its usage with some snippets or test cases?

[2019-05-21 08:39] gibello commented on #801
Same kind of code here, but for Gitlab: https://github.com/STAMP-project/stamp-ci/blob/master/stamp-cicd-utils/src/main/java/eu/stamp_project/cicd/utils/git/GitlabIssueManager.java .
Has comments + javadoc available.
The GitHubService code could be moved to stamp-ci, I think... For the same reason I was requested to move my code there (it is of common use).

[2019-05-22 07:57] danzone commented on #801
Dear @monperrus , at the moment some integration tests show how it works: https://github.com/STAMP-project/botsing-github-app/blob/master/src/test/java/eu/stamp/botsing/service/GitHubServiceTestIT.java Anyway, we will consider to write some documentation on it.

[2019-05-22 16:33] monperrus commented on #801
Thanks a lot for the input material.

[2019-05-24 20:22] borisbaldassari opened #803 "Dspot tests are failing"
#### Characteristics
- **Issue Type**: test report
- **Reproducibility**: sometimes
- **Severity**: minor
- **Tool/Service/Component**: Dspot
- **Execution Environment**: Debian 9.8, JDK Oracle 1.8.0_201
- **Reporter**: Boris Baldassari

#### Description

When trying to compile and test dspot I encounter the following exception, which causes the build to fail.

#### Steps to reproduce

[code]

Ple

[2019-05-24 21:54] borisbaldassari opened #804 "Cannot build dspot with Oracle JDK 11 -- use jacoco > v0.8.2"
#### Characteristics
- **Issue Type**: test report
- **Reproducibility**: always
- **Severity**: major
- **Tool/Service/Component**: Dspot
- **Execution Environment**: debian 9.9 with JDK Oracle 11.0.2
- **Reporter**: Boris Baldassari

#### Description

i've setup a jenkins job to build and test dspot, on a Debian 9.9 host with Java Oracle 11.0.2.
It is public: http://ci6.castalia.camp:8080/job/ds

[2019-05-24 21:55] borisbaldassari commented on #804
After bumping the version of the jacoco deps, the build actually starts but then fails with the following tests:

[code]

[2019-05-27 13:34] danglotb commented on #799
Hello @gibello

in the `pdp-engine` module, there are only parametrized tests.

It seems that the test-runner of DSpot does not support junit4 parametrized tests anymore. I might have introduced a regression.

I'm going to investigate.

In the meantime, I opened a pull request #805 to avoid the misleading error above.

[2019-05-27 14:35] danglotb commented on #799
Actually, this happened when I had some configuration in the `pom.xml` of `pdp-engine`.

Do you have modified your `pom.xml`? If so, could you provide me your configuration?

Thank you.

[2019-05-27 15:31] gibello commented on #799
No config at all in the pom. Lanched exactly as specified in the issue : maybe not the right way to do (?), but should not produce a NPE.

[2019-05-27 18:01] andrewbwogi commented on #667
Assertion generation for primitive arrays is done. I'm currently working with test cases and thinking about how to handle arrays with components of reference type. I'll make a pull request these coming days.

[2019-05-27 18:23] danglotb commented on #800
The problem comes from the `test-runner`.

I opened  stamp-project/testrunner#71 to fix it, the file will be generating in the temporary folder (_e.g._ `/tmp` on Linux) instead of at the root of the project.

[2019-05-27 18:35] danglotb commented on #667
Hi @andrewbwogi

I suggest to first merge the support of primitive arrays, and then let you continue on complex object arrays, WDYT?

[2019-05-27 18:43] danglotb commented on #799
Okay, I did reproduce using the `-Duse-maven-to-exe-test` command line option (without I do not have the error thrown).

The real errors is the following:

[code]

The `test-runner` seems not to be able to execute parametrized tests using maven goals. It uses:
[code]
 to execute the test, which seems to be wrong since the test methods is parametrized.

I'll implement it ASAP and keep you update.

[2019-05-27 21:23] danglotb commented on #799
After further investigations, the problem comes from the way the parametrized tests are named.

For example, in `org.ow2.authzforce.core.pdp.impl.test.DefaultEnvironmentPropertiesTest`, the tests are named as follow:
[code]

There are two issues here:
1)  the spaces between elements.
2)  the presence of `:` in the name, which is the path separator of Linux.

Why it is an issue?

Because to run the

[2019-05-27 22:32] danglotb commented on #803
Hello @borisbaldassari

Thank you for reporting this.

#806 should fix this. Please reopen this issue if you still experience this bug after the merge.

If you do plan to use only DSpot, I advise you to use directly the released jar or the maven plugin.

[2019-05-28 09:59] gibello opened #807 "Error: "Something bad happened during assertion amplification""
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: minor
- **Tool/Service/Component**: DSpot maven plugin 2.1.1-SNAPSHOT
- **Execution Environment**: Ubuntu Linux 18.04
- **Reporter**: Pierre-Yves Gibello, pyg@ow2.org

#### Description

A DSpot error occurs: "Something bad happened during assertion amplification"
with an exception stack (java.lang.RuntimeExcep

[2019-05-28 13:47] borisbaldassari commented on #803
Thanks for the reply @danglotb
I'll wait for the merge, give it a try, and close the issue if it's fixed.

[2019-05-28 15:38] danglotb commented on #803
I just merged the #806

[2019-05-28 19:36] borisbaldassari commented on #803
Works for me. Thanks @danglotb!

[2019-05-28 19:36] #803 closed

[2019-05-28 20:42] danglotb commented on #798
Hello, #808 should fix this.

[2019-05-28 21:16] danglotb commented on #807
Hello @gibello

I cannot reproduce the error on my side.

Could you provide the whole trace of the execution?

[2019-05-29 08:42] gibello commented on #807
Hello @danglotb ,
See attached output:
[dspot.txt](https://github.com/STAMP-project/dspot/files/3231521/dspot.txt)
Thanks !

[2019-05-29 11:43] vmassol opened #809 "No tests generated and errors for xwiki-commons-filter-api"
Maven config:

[code]

properties file:

[code]

0 new tests generated and 12 errors.

[code]

Attaching output directory and build result.

[output.zip](https://github.com/STAMP-project/dspot/files/3232239/output.zip)
[dspot-error.txt.zip](https://github.com/STAMP-project/dspot/files/3232238/dspot-error.txt.zip)

[2019-05-30 15:54] danglotb commented on #807
Hi @gibello

According to your logs, you are using `JacocoCoverageSelector` test-criterion:

run(org.objectweb.joram.mom.proxies.MessageIdListImplEncodingTest): org.objectweb.joram.mom.util.MessageIdListImpl cannot be cast to org.objectweb.joram.mom.util.MessageIdListImpl
File saved to the following path: /home/gibello/STAMP/joram-test/joram/joram/mom/core/target/dspot/CoveragePerTest.ser
Loading

[2019-05-31 09:27] andrewbwogi commented on #667
Sounds good.

[2019-06-03 08:18] gibello commented on #807
Hi @danglotb ,
You are right, there is something missing to reproduce.
Add -Damplifiers=AllLiteralAmplifiers , for example as follows:

mvn eu.stamp-project:dspot-maven:2.1.1-SNAPSHOT:amplify-unit-tests -Dtest=org.objectweb.joram.mom.proxies.MessageIdListImplEncodingTest -Damplifiers=AllLiteralAmplifiers -Diteration=1

No need to add anything to the pom (I just tried with a fresh joram clone), but

[2019-06-04 14:04] jesus-gorronogoitia commented on #791
Hi @danglotb
Could you get some time to have a look on this. In last days I've been busy working on other projects, but now I can come back to STAMP and on this issue in particular.
The point is that I will need help (or clues) to investigate what is going on with the standard DSpot (without parallelization) with JUnit5 tests.
Do you have any JUnit5 test for which DSpot is working fine?
From logs,

[2019-06-04 14:44] jesus-gorronogoitia commented on #791
Hi @danglotb
I've found the reason of the triggered NPE. This is trigger by Spoon when AssertionRemover is trying to remove this assertion:
`org.junit.jupiter.api.Assertions.assertTrue(((myApp.getMyAppSystemInformation(true)) != null), () -> "App should return some info")`

For such CtInvocation, the first argument is of type CtLambda:
`() -> "App should return some info"`
whose body is null, and

[2019-06-04 14:59] jesus-gorronogoitia commented on #791
Hi @danglotb
By fixing the JUnit5 test to avoid using lambdas with empty arguments block I will progress but still not working because a NPE in EntryPoint.runTests: 209 because the deserialized TestResult load contains one null entry in it runningTest list.
I will investigate where and how this object is serialized and the reason it contains a null test

[2019-06-04 15:48] danglotb commented on #791
Hello @jesus-gorronogoitia

Sorry, I was very busy the last weeks.

I opened #811 that should fix the issue with lambdas.

I'll investigate the issue of serialization now.

Thank you.

[2019-06-04 15:51] jesus-gorronogoitia commented on #791
Hi @danglotb
Thanks, as commented, the point is that the TestResults returns sometimes a null entry in the list of executed tests, I guess when it recovers its name.
It is hard for me to debug it (I am on it) because the TestRunner is launched in another forked JVM.

[2019-06-04 15:56] danglotb commented on #809
Hello, #811 should fix a part of the problem.

I'll investigate more so see all the issues are now solved.

[2019-06-04 16:26] jesus-gorronogoitia commented on #791
Hi @danglotb
I confirm that JUnit5Runner.main in line 39 is sometimes saving a list with a null entry:
`TestResultImpl{runningTests=[null, testHelloAppDefault], failingTests=[], assumptionFailingTests=[], ignoredTests=[]}`

I need to find the reason of this NP

[2019-06-05 09:10] danglotb commented on #809
#812 should fix the NPE during input amplification.

However, I'm not sure that DSpot would be able to obtain amplified test methods.

[2019-06-05 09:20] jesus-gorronogoitia commented on #791
Hi @danglotb
The behavior of JUnit5TestResult.executionStarted method is weird in the sense that if I add a log entry to see what is being added to the runningTests array the NPE never occurs, but if I check the test method name value that is going to be added, without any additional log, I still get an extra null entry (first one) in the runningTests list, causing the NPE.
So with this method cod

[2019-06-05 09:23] jesus-gorronogoitia commented on #791
In logs, the TestResult.ser file is store and load one after another, I assume with the same ObjectLog class:

[code]
Any idea to propose?
Thanks
Yosu

[2019-06-05 09:33] danglotb commented on #791
Hi Yosu,

I'm sorry for the delay, but I wanted to finish what I've started.

I'm making now the resolution of this issue my highest priority.

I'm gonna first try to well understand what is happening, it should not be difficult since you investigated very well the problem.

Coming back very soon to keep you update.

Again, I'm very sorry for this delay.

[2019-06-05 09:38] jesus-gorronogoitia commented on #791
Hi @danglotb don't worry, I will try to get progress by myself. Just to let you know that without being able to run DSpot on JUnit5 tests, I won't be able to get progress on performance optimization based on parallel execution. Nonetheless, I will dedicate time to this issue to get progress.
Take your time in the stuff you have on your hands, don't worry about this. Just let me know when you are a

[2019-06-05 10:14] jesus-gorronogoitia commented on #791
Sorry, the information I gave you above is wrong. The problem happens when reading the Observations.ser, not the TestResults.ser

[2019-06-05 10:28] jesus-gorronogoitia commented on #791
I confirm (by debugging) that Observations.ser are created by:
[code]
and load by:
[code]
in this order.
But, as commented above, when reading the object (Observations.ser) an EOF is found before completing the reading.
As I have no idea how to solve this, I will search in Internet above the topic

[2019-06-05 10:36] danglotb commented on #791
I think something wrong happened during the observations.

A wrong value might be stored in the map. This value can be saved, but not loaded.

For the `null` value in the test result, I do not know (yet) why it happens, nor when. Indeed, this `null` is sometimes presents, sometimes not.

To be investigated.

[2019-06-05 10:51] jesus-gorronogoitia commented on #791
Amazing, just adding a log in Observation.add method remove any occurrence of above exception.
Same behavior as commented before for TestRunner and NPE.
I will clean up everything keeping only these minimum changes and I will try it out again.
I'll keep you informed

[2019-06-05 11:19] jesus-gorronogoitia commented on #791
DSpot behavior is getting crazy (facepalm). Above reported solution works well on debug in Eclipse, but not when run in CLI (this case triggers the reported exceptions). So, I need to investigate further.

[2019-06-05 12:42] danglotb commented on #791
Hello @jesus-gorronogoitia

which version of `test-runner` are you using?

[2019-06-05 12:58] jesus-gorronogoitia commented on #791
Hi,
The one I forked:
https://github.com/jesus-gorronogoitia/testrunner/tree/fixIssue791

But with this one, the NPE has gone,
The problem persist on the loading of the serialization of Observation.ser with launches a java.io.OptionalDataException.

I've added logs to ObjectLog to see what sort of Observations are stored, but I see nothing strange. For instance these logs are output when saving an

[2019-06-05 13:10] danglotb commented on #791
I added `synchronized` keyword to methods that have access to the `observations` of `ObjectLog` and updated to `test-runner-2.1.1-SNAPSHOT`.

It seems that the problem vanished... It was probably due to concurrent access or something, idk.

[2019-06-05 13:24] jesus-gorronogoitia commented on #791
Excellent! thanks, I will try it out tomorrow.

[2019-06-05 13:28] jesus-gorronogoitia commented on #791
Did you commit your changes to DSpot master? I get no updates

[2019-06-05 16:55] danglotb commented on #791
No, I did not yet.

I openned STAMP-project/testrunner#72 and #813.

Do you think that we should also merge your workaround in `test-runner`?

[2019-06-06 06:17] #809 closed

[2019-06-06 07:45] jesus-gorronogoitia commented on #791
How can I get your changes? Should you merge your pull requests? Or can I merge them locally, test them and report you?

In case the latter, please, send me the git recipes.

On 5/6/19 18:55, Benjamin DANGLOT wrote:

No, I did not yet.

I openned STAMP-project/testrunner#72<https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FSTAMP-project%2Ftestrunner%2Fpull%2F72&data=02

[2019-06-06 08:12] danglotb commented on #791
Hi,

It would be great that you try the changes before the merge.

[code]

and you should have the changes. You can still check if you do with a `git log` and see if you have my commits.

[2019-06-06 08:29] jesus-gorronogoitia commented on #791
Hi @danglotb
I've just tried your patch, but it does work (I launched the script run_dspot_2.sh)
I get this exception:

[code]

Note that I changed the Dhell JUnit5 test (I did not commit the changes) so the Dhell JUnit5 test does not anymore uses lambdas. These are the code lines I changed:
![image](https://user-images.githubusercontent.com/3658315/59018275-cf16a700-8845-11e9-9884-0069b91bd65a.pn

[2019-06-06 09:04] jesus-gorronogoitia commented on #791
Hi @danglotb forget previous message, this NPE is our old friend triggered when reading the list of passing tests I already reported here above. So, TestRunner needs to be synchronized, I think. I will take care after our monthly meeting.

[2019-06-06 10:28] jesus-gorronogoitia commented on #791
Hi  @danglotb
Solved! Very simple modification in TestRunner JUInit5TestResult.java
Just added synchronized keyword to method void executionStarted (TestIdentifier testIdentification)

Do you want me to create a PR with that change? Or can you patched directly in your master branch?

As a matter for fact, we should consider that synchronization problems when reading tests executions could be behin

[2019-06-06 10:33] jesus-gorronogoitia commented on #791
Please @danglotb accept your PR in DSpot

[2019-06-06 10:35] danglotb commented on #791
I'll add the changes to my own PR

Yes, it seems logic.

Done

[2019-06-06 10:38] #791 closed

[2019-06-07 07:50] gibello commented on #798
Hi @danglotb , does not seem to fix anything... Did I do something wrong ?

[code]

Then test again...

[2019-06-07 09:08] danglotb commented on #798
From where do you run DSpot? You should run it from the top parent of your project, _i.e_ `core` folder.

Your properties file is not well formatted, it should be:

[code]

using the `=` symbol instead of `:`. Thus, you have a white space in the value, that can lead to a wrong folder in DSpot (DSpot will concatenate this value with the root of the project to reach the root of the targeted module).

[2019-06-07 13:37] Deeplus commented on #777
### A represents I-Amplification; P represents Project.
### Figure in brackets denotes the Incresae Killed.

1. A1: MethodAdd

[P1: javapoet] FieldSpaceTest (0.0%), NameAllocatorTest (0.0%), ParameterSpecTest (0.0%)

[2019-06-07 13:59] gibello commented on #798
Tried this, no change.
No surprise: the ":" syntax is valid as well (if you don't put a white space *after* the value - the reason why it is always better to trim props before use, but the "=" does not solve that).

[2019-06-07 14:04] gibello commented on #798
@danglotb : Just added "project=/home/gibello/STAMP/STAMP-project/authzforce-gibello/core" in the dspot.properties, AND IT WORKS.

There is definitely an issue with that "project" stuff (I have a java invoker to call DSpot, and without "project" set, it fails with a "null" inserted in the path... I mean the way the path is built is buggy, and unpredictable depending on runtime environment).

[2019-06-07 16:16] danglotb commented on #741
The generation of the `NUL` file has been fixed in STAMP-project/testrunner#71

Closing this issue. Thank you.

[2019-06-07 16:16] #741 closed

[2019-06-07 16:23] danglotb commented on #798
Seems weird. I saw that there is a bug in the maven-plugin in the detection of the targeted module. I'm looking at it.

Yes, the property `project` MUST be specified (as said in the documentation).

The `dspot-maven` plugin infers this information, if not specified, from the `pom.xml` to make the usage easier.

However, from the command line, one must specify this property.

If you do use DSpot's

[2019-06-10 13:11] #798 closed

[2019-06-27 09:36] gibello opened #819 "Command-line options error with NO info (and few doc...)"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: minor
- **Tool/Service/Component**: DSpot maven plugin 2.1.1-SNAPSHOT
- **Execution Environment**: Ubuntu 18.04
- **Reporter**: Pierre-Yves Gibello, pyg@ow2.org

#### Description

When an error is detected in command-line options, the following error is displayed:

[code]

Nothing about the wrong or missing op

[2019-06-27 12:15] RicardoTej opened #820 "Questions about DSpot configuration"
Good afternoon :

1. The parameters excludedClasses and excludedTestCases are compatible with test and test-cases ?

2. The parameter path-to-second-version can be only use with ChangeDetectorSelector ?

3. When using automaticBuilderName=Maven/Gradle the project must be configured as Maven/Gradle ?

Thank you.

[2019-06-28 07:28] danglotb commented on #819
Could please provide me the command line options you are using and your properties file?

Be careful, with the last commit, some command line options changed to be more consistent (using all the same pattern). This is the risk when you use a SNAPSHOT.

This is not true since the maven plugin options are generated from the command line options (unless some extra maven options that are manually adde

[2019-06-28 07:37] danglotb commented on #820
Hello @RicardoTej

What do you mean by "compatible"? In fact, you can use both and for example include a whole package but exclude a sub package of it, _e.g._:
[code]
This is will take all test classes in the package `eu.stamp_project.mypackage.*` but the test classes in `eu.stamp_project.mypackage.not.wanted.subpackage.*`.

For now, it is. There is no other usage. However, if you imagine another

[2019-06-28 08:23] gibello commented on #819
Something like that (and concerning the properties, I tried to specify a "project", and tried without properties as well: same issue).
Note that removing elements in the configuration part does not seem to change much...

Anyway, what is missing is details of the error (which parameter is wrong or missing or invalid...), not just a generic message about an unspecified wrong param...

[code]
I fina

[2019-06-28 08:54] RicardoTej commented on #820
Thank you, It's all I needed

[2019-06-28 08:54] #820 closed

[2019-07-01 07:28] jesus-gorronogoitia opened #821 "DSpot reads null for working-directory option in Maven"
#### Characteristics
- **Issue Type**: bug
- **Reproducibility**: always
- **Severity**: crash
- **Tool/Service/Component**: DSpot latest version published in Maven central
- **Execution Environment**: Jenkins over Centos 7
- **Reporter**: Jesús Gorroñogoitia <jesus.gorronogoitia@atos.net>

#### Description
I have a DSpot job configured in Jenkins that invokes DSpot using its Maven interface over

[2019-07-03 09:57] gibello opened #822 "DSpot generated tests are not all mutation-proof (according to Descartes)"
#### Characteristics
- **Issue Type**: feature
- **Reproducibility**: always
- **Severity**: feature
- **Tool/Service/Component**: DSpot 2.1.1
- **Execution Environment**: Linux Ubuntu 18.04
- **Reporter**: Pierre-Yves Gibello, pyg@ow2.org

#### Description

Although DSpot statistically increases mutation coverage (as measured by Descartes), some of the amplified tests do not detect code mutations

[2019-07-04 15:56] danglotb commented on #822
Hello @gibello

I don't understand the issue.

You amplified your tests using the `JacocoCoverageSelector`. So you increased the instruction coverage and the number of paths executed. But you are expecting that some mutants, generated by `descartes` are killed?